<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysAppUserMapper">
    
    <resultMap type="SysAppUser" id="SysAppUserResult">
        <result property="appUserId" column="app_user_id"/>
        <result property="userId" column="user_id"/>
        <result property="appId" column="app_id"/>
        <result property="agentId" column="agent_id"/>
        <result property="status" column="status"/>
        <result property="loginLimitU" column="login_limit_u"/>
        <result property="loginLimitM" column="login_limit_m"/>
        <result property="freeBalance" column="free_balance"/>
        <result property="payBalance" column="pay_balance"/>
        <result property="freePayment" column="free_payment"/>
        <result property="payPayment" column="pay_payment"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="loginTimes" column="login_times"/>
        <result property="pwdErrorTimes" column="pwd_error_times"/>
        <result property="expireTime" column="expire_time"/>
        <result property="point" column="point"/>
        <result property="loginCode" column="login_code"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="cardLoginLimitU" column="card_login_limit_u"/>
        <result property="cardLoginLimitM" column="card_login_limit_m"/>
        <result property="cardCustomParams" column="card_custom_params"/>
        <result property="unbindTimes" column="unbind_times"/>
        <result property="lastChargeCardId" column="last_charge_card_id"/>
        <result property="lastChargeTemplateId" column="last_charge_template_id"/>
        <association property="user" column="user_id" javaType="SysUser" resultMap="SysUserResult"/>
        <association property="app" column="app_id" javaType="SysApp" resultMap="SysAppResult"/>
        <association property="agentUser" column="agent_id" javaType="SysUser" resultMap="SysAgentUserResult"/>
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
    </resultMap>

    <resultMap type="SysApp" id="SysAppResult">
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="authType" column="auth_type"/>
        <result property="billType" column="bill_type"/>
        <result property="description" column="description"/>
        <result property="loginLimitU" column="app_login_limit_u"/>
        <result property="loginLimitM" column="app_login_limit_m"/>
    </resultMap>

    <resultMap type="SysUser" id="SysAgentUserResult">
        <id property="userId" column="agent_user_id"/>
        <result property="userName" column="agent_user_name"/>
        <result property="nickName" column="agent_nick_name"/>
    </resultMap>

    <sql id="selectSysAppUserVo">
        select au.app_user_id,
               au.user_id,
               au.app_id,
               au.status,
               au.login_limit_u,
               au.login_limit_m,
               au.free_balance,
               au.pay_balance,
               au.free_payment,
               au.pay_payment,
               au.last_login_time,
               au.login_times,
               au.pwd_error_times,
               au.expire_time,
               au.point,
               au.login_code,
               au.create_by,
               au.create_time,
               au.update_by,
               au.update_time,
               au.remark,
               au.del_flag,
               au.card_login_limit_u,
               au.card_login_limit_m,
               au.card_custom_params,
               au.unbind_times,
               au.last_charge_card_id,
               au.last_charge_template_id,
               au.agent_id,
               a.app_id,
               a.app_name,
               a.auth_type,
               a.bill_type,
               a.description,
               a.login_limit_u as app_login_limit_u,
               a.login_limit_m as app_login_limit_m,
               u.user_id,
               u.user_name,
               u.nick_name,
               ag.user_id      as agent_user_id,
               ag.user_name    as agent_user_name,
               ag.nick_name    as agent_nick_name
        from sys_app_user au
                 left join sys_user u on au.user_id = u.user_id
                 left join sys_app a on au.app_id = a.app_id
                 left join sys_user ag on au.agent_id = ag.user_id
    </sql>

    <select id="selectSysAppUserList" parameterType="SysAppUser" resultMap="SysAppUserResult">
        <include refid="selectSysAppUserVo"/>
        where a.del_flag = '0' and au.del_flag = '0' and (u.del_flag = '0' or u.user_id is null)
        <if test="userName != null ">and (u.nick_name like concat('%', #{userName}, '%') or u.user_name like
            concat('%', #{userName}, '%') or au.login_code like concat('%', #{userName}, '%'))
        </if>
        <if test="appId != null ">and au.app_id = #{appId}</if>
        <if test="agentId != null ">and au.agent_id = #{agentId}</if>
        <if test="status != null and status != ''">and au.status = #{status}</if>
        <if test="params.isVip != null and params.isVip == 'Y'.toString()">and (au.expire_time &gt; sysdate() or
            au.point &gt; 0)
        </if>
        <if test="params.isVip != null and params.isVip == 'N'.toString()">and (au.expire_time &lt;= sysdate() or
            au.point &lt;= 0)
        </if>
        <if test="params.beginLastLoginTime != null and params.beginLastLoginTime != '' and params.endLastLoginTime != null and params.endLastLoginTime != ''">
            and au.last_login_time between #{params.beginLastLoginTime} and #{params.endLastLoginTime}
        </if>
        <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''">
            and au.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}
        </if>
        <if test="point != null  and point != ''">and au.point = #{point}</if>
        <if test="lastChargeCardId != null ">and au.last_charge_card_id = #{lastChargeCardId}</if>
        <if test="lastChargeTemplateId != null ">and au.last_charge_template_id = #{lastChargeTemplateId}</if>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </if>
    </select>
    
    <select id="selectSysAppUserByAppUserId" parameterType="Long" resultMap="SysAppUserResult">
        <include refid="selectSysAppUserVo"/>
        where au.app_user_id = #{appUserId}
    </select>
        
    <insert id="insertSysAppUser" parameterType="SysAppUser" useGeneratedKeys="true" keyProperty="appUserId">
        insert into sys_app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="loginLimitU != null">login_limit_u,</if>
            <if test="loginLimitM != null">login_limit_m,</if>
            <if test="freeBalance != null">free_balance,</if>
            <if test="payBalance != null">pay_balance,</if>
            <if test="freePayment != null">free_payment,</if>
            <if test="payPayment != null">pay_payment,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="loginTimes != null">login_times,</if>
            <if test="pwdErrorTimes != null">pwd_error_times,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="point != null and point != ''">point,</if>
            <if test="loginCode != null">login_code,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="cardLoginLimitU != null">card_login_limit_u,</if>
            <if test="cardLoginLimitM != null">card_login_limit_m,</if>
            <if test="cardCustomParams != null">card_custom_params,</if>
            <if test="unbindTimes != null">unbind_times,</if>
            <if test="lastChargeCardId != null">last_charge_card_id,</if>
            <if test="lastChargeTemplateId != null">last_charge_template_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="loginLimitU != null">#{loginLimitU},</if>
            <if test="loginLimitM != null">#{loginLimitM},</if>
            <if test="freeBalance != null">#{freeBalance},</if>
            <if test="payBalance != null">#{payBalance},</if>
            <if test="freePayment != null">#{freePayment},</if>
            <if test="payPayment != null">#{payPayment},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="loginTimes != null">#{loginTimes},</if>
            <if test="pwdErrorTimes != null">#{pwdErrorTimes},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="point != null and point != ''">#{point},</if>
            <if test="loginCode != null">#{loginCode},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="cardLoginLimitU != null">#{cardLoginLimitU},</if>
            <if test="cardLoginLimitM != null">#{cardLoginLimitM},</if>
            <if test="cardCustomParams != null">#{cardCustomParams},</if>
            <if test="unbindTimes != null">#{unbindTimes},</if>
            <if test="lastChargeCardId != null">#{lastChargeCardId},</if>
            <if test="lastChargeTemplateId != null">#{lastChargeTemplateId},</if>
        </trim>
    </insert>

    <update id="updateSysAppUser" parameterType="SysAppUser">
        update sys_app_user
        <trim prefix="SET" suffixOverrides=",">
            <!--            <if test="userId != null">user_id = #{userId},</if>-->
            <!--            <if test="appId != null">app_id = #{appId},</if>-->
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="loginLimitU != null">login_limit_u = #{loginLimitU},</if>
            <if test="loginLimitM != null">login_limit_m = #{loginLimitM},</if>
            <if test="freeBalance != null">free_balance = #{freeBalance},</if>
            <if test="payBalance != null">pay_balance = #{payBalance},</if>
            <if test="freePayment != null">free_payment = #{freePayment},</if>
            <if test="payPayment != null">pay_payment = #{payPayment},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="loginTimes != null">login_times = #{loginTimes},</if>
            <if test="pwdErrorTimes != null">pwd_error_times = #{pwdErrorTimes},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="point != null and point != ''">point = #{point},</if>
            <if test="loginCode != null">login_code = #{loginCode},</if>
            <!--            <if test="createBy != null">create_by = #{createBy},</if>-->
            <!--            <if test="createTime != null">create_time = #{createTime},</if>-->
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="cardLoginLimitU != null">card_login_limit_u = #{cardLoginLimitU},</if>
            <if test="cardLoginLimitM != null">card_login_limit_m = #{cardLoginLimitM},</if>
            <if test="cardCustomParams != null">card_custom_params = #{cardCustomParams},</if>
            <if test="unbindTimes != null">unbind_times = #{unbindTimes},</if>
            <if test="lastChargeCardId != null">last_charge_card_id = #{lastChargeCardId},</if>
            <if test="lastChargeTemplateId != null">last_charge_template_id = #{lastChargeTemplateId},</if>
        </trim>
        where app_user_id = #{appUserId}
    </update>

    <!--    <delete id="deleteSysAppUserByAppUserId" parameterType="Long">-->
    <!--        delete from sys_app_user where app_user_id = #{appUserId}-->
    <!--    </delete>-->

    <!--    <delete id="deleteSysAppUserByAppUserIds" parameterType="String">-->
    <!--        delete from sys_app_user where app_user_id in -->
    <!--        <foreach item="appUserId" collection="array" open="(" separator="," close=")">-->
    <!--            #{appUserId}-->
    <!--        </foreach>-->
    <!--    </delete>-->

    <delete id="deleteSysAppUserByAppUserId" parameterType="Long">
        update sys_app_user
        set del_flag = '2'
        where app_user_id = #{appUserId}
    </delete>

    <delete id="deleteSysAppUserByAppUserIds" parameterType="String">
        update sys_app_user set del_flag = '2' where app_user_id in
        <foreach collection="array" item="appUserId" open="(" separator="," close=")">
            #{appUserId}
        </foreach>
    </delete>

    <select id="selectSysAppUserByAppIdAndUserId" resultMap="SysAppUserResult">
        <include refid="selectSysAppUserVo"/>
        where au.app_id = #{appId} and au.user_id = #{userId} and au.del_flag = '0'
    </select>

    <select id="selectSysAppUserByAppIdAndLoginCode" resultMap="SysAppUserResult">
        <include refid="selectSysAppUserVo"/>
        where au.app_id = #{appId} and au.login_code = #{loginCode} and au.del_flag = '0'
    </select>
</mapper>