<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysAppUserMapper">
    
    <resultMap type="SysAppUser" id="SysAppUserResult">
        <result property="appUserId"    column="app_user_id"    />
        <result property="userId"    column="user_id"    />
        <result property="appId"    column="app_id"    />
        <result property="status"    column="status"    />
        <result property="loginLimitU"    column="login_limit_u"    />
        <result property="loginLimitM"    column="login_limit_m"    />
        <result property="freeBalance"    column="free_balance"    />
        <result property="payBalance"    column="pay_balance"    />
        <result property="totalPay"    column="total_pay"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="loginTimes"    column="login_times"    />
        <result property="pwdErrorTimes"    column="pwd_error_times"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="point"    column="point"    />
        <result property="loginCode"    column="login_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="SysUserResult" />
        <association property="app"    column="app_id" javaType="SysApp" resultMap="SysAppResult" />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <!--		<association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />-->
        <!--		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />-->
    </resultMap>

    <resultMap type="SysApp" id="SysAppResult">
        <result property="appId"    column="app_id"    />
        <result property="appName"    column="app_name"    />
        <result property="description"    column="description"    />
        <result property="apiUrl"    column="api_url"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="bindType"    column="bind_type"    />
        <result property="isCharge"    column="is_charge"    />
        <result property="idxUrl"    column="idx_url"    />
        <result property="freeQuotaReg"    column="free_quota_reg"    />
        <result property="reduceQuotaUnbind"    column="reduce_quota_unbind"    />
        <result property="authType"    column="auth_type"    />
        <result property="billType"    column="bill_type"    />
        <result property="dataInEnc"    column="data_in_enc"    />
        <result property="dataInPwd"    column="data_in_pwd"    />
        <result property="dataOutEnc"    column="data_out_enc"    />
        <result property="dataOutPwd"    column="data_out_pwd"    />
        <result property="dataExpireTime"    column="data_expire_time"    />
        <result property="loginLimitU"    column="login_limit_u"    />
        <result property="loginLimitM"    column="login_limit_m"    />
        <result property="limitOper"    column="limit_oper"    />
        <result property="heartBeatTime"    column="heart_beat_time"    />
        <result property="appKey"    column="app_key"    />
        <result property="appSecret"    column="app_secret"    />
        <result property="apiPwd"    column="api_pwd"    />
        <result property="loginCodePrefix"    column="login_code_prefix"    />
        <result property="loginCodeSuffix"    column="login_code_suffix"    />
        <result property="loginCodeLen"    column="login_code_len"    />
        <result property="loginCodeGenRule"    column="login_code_gen_rule"    />
        <result property="loginCodeRegex"    column="login_code_regex"    />
        <result property="icon"    column="icon"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
<!--        <association property="developer"    column="create_by" javaType="SysUser" resultMap="SysUserResult" />-->
    </resultMap>

    <sql id="selectSysAppUserVo">
        select au.app_user_id, au.user_id, au.app_id, au.status, au.login_limit_u, au.login_limit_m, au.free_balance,
               au.pay_balance, au.total_pay, au.last_login_time, au.login_times, au.pwd_error_times, au.expire_time,
               au.point, au.login_code, au.create_by, au.create_time, au.update_by, au.update_time, au.remark,
               a.app_id, a.app_name, a.description, a.api_url, a.status, a.del_flag, a.bind_type, a.is_charge, a.idx_url,
               a.free_quota_reg, a.reduce_quota_unbind, a.auth_type, a.bill_type, a.data_in_enc, a.data_in_pwd,
               a.data_out_enc, a.data_out_pwd, a.data_expire_time, a.login_limit_u, a.login_limit_m, a.limit_oper,
               a.heart_beat_time, a.app_key, a.app_secret, a.api_pwd, a.login_code_prefix, a.login_code_suffix,
               a.login_code_len, a.login_code_gen_rule, a.login_code_regex, a.icon, a.create_by, a.create_time,
               a.update_by, a.update_time, a.remark, u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.avatar,
               u.phonenumber, u.password, u.sex, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by,
               u.create_time, u.remark from sys_app_user au left join sys_user u on au.user_id = u.user_id left join
                   sys_app a on au.app_id = a.app_id
    </sql>

    <select id="selectSysAppUserList" parameterType="SysAppUser" resultMap="SysAppUserResult">
        <include refid="selectSysAppUserVo"/>
        <where>  
            <if test="userId != null "> and au.user_id = #{userId}</if>
            <if test="appId != null "> and au.app_id = #{appId}</if>
            <if test="status != null  and status != ''"> and au.status = #{status}</if>
            <if test="params.beginLastLoginTime != null and params.beginLastLoginTime != '' and params.endLastLoginTime != null and params.endLastLoginTime != ''"> and au.last_login_time between #{params.beginLastLoginTime} and #{params.endLastLoginTime}</if>
            <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''"> and au.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}</if>
            <if test="point != null  and point != ''"> and au.point = #{point}</if>
            <if test="loginCode != null  and loginCode != ''"> and au.login_code = #{loginCode}</if>
            <if test="createBy != null  and createBy != ''"> and au.create_by like concat('%', #{createBy}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysAppUserByAppUserId" parameterType="Long" resultMap="SysAppUserResult">
        <include refid="selectSysAppUserVo"/>
        where au.app_user_id = #{appUserId}
    </select>
        
    <insert id="insertSysAppUser" parameterType="SysAppUser" useGeneratedKeys="true" keyProperty="appUserId">
        insert into sys_app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="loginLimitU != null">login_limit_u,</if>
            <if test="loginLimitM != null">login_limit_m,</if>
            <if test="freeBalance != null">free_balance,</if>
            <if test="payBalance != null">pay_balance,</if>
            <if test="totalPay != null">total_pay,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="loginTimes != null">login_times,</if>
            <if test="pwdErrorTimes != null">pwd_error_times,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="point != null and point != ''">point,</if>
            <if test="loginCode != null">login_code,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="loginLimitU != null">#{loginLimitU},</if>
            <if test="loginLimitM != null">#{loginLimitM},</if>
            <if test="freeBalance != null">#{freeBalance},</if>
            <if test="payBalance != null">#{payBalance},</if>
            <if test="totalPay != null">#{totalPay},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="loginTimes != null">#{loginTimes},</if>
            <if test="pwdErrorTimes != null">#{pwdErrorTimes},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="point != null and point != ''">#{point},</if>
            <if test="loginCode != null">#{loginCode},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysAppUser" parameterType="SysAppUser">
        update sys_app_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="loginLimitU != null">login_limit_u = #{loginLimitU},</if>
            <if test="loginLimitM != null">login_limit_m = #{loginLimitM},</if>
            <if test="freeBalance != null">free_balance = #{freeBalance},</if>
            <if test="payBalance != null">pay_balance = #{payBalance},</if>
            <if test="totalPay != null">total_pay = #{totalPay},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="loginTimes != null">login_times = #{loginTimes},</if>
            <if test="pwdErrorTimes != null">pwd_error_times = #{pwdErrorTimes},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="point != null and point != ''">point = #{point},</if>
            <if test="loginCode != null">login_code = #{loginCode},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where app_user_id = #{appUserId}
    </update>

    <delete id="deleteSysAppUserByAppUserId" parameterType="Long">
        delete from sys_app_user where app_user_id = #{appUserId}
    </delete>

    <delete id="deleteSysAppUserByAppUserIds" parameterType="String">
        delete from sys_app_user where app_user_id in 
        <foreach item="appUserId" collection="array" open="(" separator="," close=")">
            #{appUserId}
        </foreach>
    </delete>
</mapper>