<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCardTemplateMapper">

    <resultMap type="SysCardTemplate" id="SysCardTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="appId"    column="app_id"    />
        <result property="cardName"    column="card_name"    />
        <result property="cardNoPrefix"    column="card_no_prefix"    />
        <result property="cardNoSuffix"    column="card_no_suffix"    />
        <result property="cardDescription"    column="card_description"    />
        <result property="quota"    column="quota"    />
        <result property="price"    column="price"    />
        <result property="cardNoLen"    column="card_no_len"    />
        <result property="cardNoGenRule"    column="card_no_gen_rule"    />
        <result property="cardNoRegex"    column="card_no_regex"    />
        <result property="cardPassLen"    column="card_pass_len"    />
        <result property="cardPassGenRule"    column="card_pass_gen_rule"    />
        <result property="cardPassRegex"    column="card_pass_regex"    />
        <result property="chargeRule"    column="charge_rule"    />
        <result property="onSale"    column="on_sale"    />
        <result property="firstStock" column="first_stock"/>
        <result property="effectiveDuration" column="effective_duration"/>
        <result property="status" column="status"/>
        <result property="enableAutoGen" column="enable_auto_gen"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="cardLoginLimitU" column="card_login_limit_u"/>
        <result property="cardLoginLimitM" column="card_login_limit_m"/>
        <result property="cardCustomParams" column="card_custom_params"/>
        <result property="shopUrl" column="shop_url"/>
        <result property="enableUnbind" column="enable_unbind"/>
        <result property="minBuyNum" column="min_buy_num"/>
        <result property="enableReplace" column="enable_replace"/>
        <result property="replaceThreshold" column="replace_threshold"/>
        <association property="app" column="app_id" javaType="SysApp" resultMap="SysAppResult"/>
    </resultMap>

    <resultMap type="SysApp" id="SysAppResult">
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="authType" column="auth_type"/>
        <result property="billType" column="bill_type"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="selectSysCardTemplateVo">
        select ct.template_id,
               ct.app_id,
               ct.card_name,
               ct.card_no_prefix,
               ct.card_no_suffix,
               ct.card_description,
               ct.quota,
               ct.price,
               ct.card_no_len,
               ct.card_no_gen_rule,
               ct.card_no_regex,
               ct.card_pass_len,
               ct.card_pass_gen_rule,
               ct.card_pass_regex,
               ct.charge_rule,
               ct.on_sale,
               ct.first_stock,
               ct.effective_duration,
               ct.status,
               ct.enable_auto_gen,
               ct.create_by,
               ct.create_time,
               ct.update_by,
               ct.update_time,
               ct.remark,
               ct.del_flag,
               ct.card_login_limit_u,
               ct.card_login_limit_m,
               ct.card_custom_params,
               ct.shop_url,
               ct.enable_unbind,
               ct.min_buy_num,
               ct.enable_replace,
               ct.replace_threshold,
               a.app_id,
               a.app_name,
               a.auth_type,
               a.bill_type,
               a.description
        from sys_card_template ct
                 left join sys_app a on ct.app_id = a.app_id
    </sql>

    <select id="selectSysCardTemplateList" parameterType="SysCardTemplate" resultMap="SysCardTemplateResult">
        <include refid="selectSysCardTemplateVo"/>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            inner join sys_user u on a.create_by = u.user_name
            inner join sys_user u1 on ct.create_by = u1.user_name
        </if>
        where a.del_flag = '0' and ct.del_flag = '0'
        <if test="appId != null ">and ct.app_id = #{appId}</if>
        <if test="cardName != null and cardName != ''">and ct.card_name like concat('%', #{cardName}, '%')</if>
        <if test="chargeRule != null">and ct.charge_rule = #{chargeRule}</if>
        <if test="onSale != null">and ct.on_sale = #{onSale}</if>
        <if test="firstStock != null">and ct.first_stock = #{firstStock}</if>
        <if test="status != null">and ct.status = #{status}</if>
        <if test="enableAutoGen != null">and ct.enable_auto_gen = #{enableAutoGen}</if>
        <if test="createBy != null  and createBy != ''">and ct.create_by like concat('%', #{createBy}, '%')</if>
        <if test="remark != null and remark != ''">and ct.remark like concat('%', #{remark}, '%')</if>
        <if test="enableReplace != null">and ct.enable_replace = #{enableReplace}</if>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </if>
        <if test="shopUrl != null and shopUrl != ''">and ct.shop_url = #{shopUrl}</if>
    </select>

    <select id="selectSysCardTemplateByTemplateId" parameterType="Long" resultMap="SysCardTemplateResult">
        <include refid="selectSysCardTemplateVo"/>
        where template_id = #{templateId}
    </select>

    <insert id="insertSysCardTemplate" parameterType="SysCardTemplate" useGeneratedKeys="true" keyProperty="templateId">
        insert into sys_card_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appId != null">app_id,</if>
            <if test="cardName != null and cardName != ''">card_name,</if>
            <if test="cardNoPrefix != null">card_no_prefix,</if>
            <if test="cardNoSuffix != null">card_no_suffix,</if>
            <if test="cardDescription != null">card_description,</if>
            <if test="quota != null">quota,</if>
            <if test="price != null">price,</if>
            <if test="cardNoLen != null">card_no_len,</if>
            <if test="cardNoGenRule != null">card_no_gen_rule,</if>
            <if test="cardNoRegex != null">card_no_regex,</if>
            <if test="cardPassLen != null">card_pass_len,</if>
            <if test="cardPassGenRule != null">card_pass_gen_rule,</if>
            <if test="cardPassRegex != null">card_pass_regex,</if>
            <if test="chargeRule != null">charge_rule,</if>
            <if test="onSale != null">on_sale,</if>
            <if test="firstStock != null">first_stock,</if>
            <if test="effectiveDuration != null">effective_duration,</if>
            <if test="status != null">status,</if>
            <if test="enableAutoGen != null">enable_auto_gen,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="cardLoginLimitU != null">card_login_limit_u,</if>
            <if test="cardLoginLimitM != null">card_login_limit_m,</if>
            <if test="cardCustomParams != null">card_custom_params,</if>
            <if test="shopUrl != null">shop_url,</if>
            <if test="enableUnbind != null">enable_unbind,</if>
            <if test="minBuyNum != null">min_buy_num,</if>
            <if test="enableReplace != null">enable_replace,</if>
            <if test="replaceThreshold != null">replace_threshold,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appId != null">#{appId},</if>
            <if test="cardName != null and cardName != ''">#{cardName},</if>
            <if test="cardNoPrefix != null">#{cardNoPrefix},</if>
            <if test="cardNoSuffix != null">#{cardNoSuffix},</if>
            <if test="cardDescription != null">#{cardDescription},</if>
            <if test="quota != null">#{quota},</if>
            <if test="price != null">#{price},</if>
            <if test="cardNoLen != null">#{cardNoLen},</if>
            <if test="cardNoGenRule != null">#{cardNoGenRule},</if>
            <if test="cardNoRegex != null">#{cardNoRegex},</if>
            <if test="cardPassLen != null">#{cardPassLen},</if>
            <if test="cardPassGenRule != null">#{cardPassGenRule},</if>
            <if test="cardPassRegex != null">#{cardPassRegex},</if>
            <if test="chargeRule != null">#{chargeRule},</if>
            <if test="onSale != null">#{onSale},</if>
            <if test="firstStock != null">#{firstStock},</if>
            <if test="effectiveDuration != null">#{effectiveDuration},</if>
            <if test="status != null">#{status},</if>
            <if test="enableAutoGen != null">#{enableAutoGen},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="cardLoginLimitU != null">#{cardLoginLimitU},</if>
            <if test="cardLoginLimitM != null">#{cardLoginLimitM},</if>
            <if test="cardCustomParams != null">#{cardCustomParams},</if>
            <if test="shopUrl != null">#{shopUrl},</if>
            <if test="enableUnbind != null">#{enableUnbind},</if>
            <if test="minBuyNum != null">#{minBuyNum},</if>
            <if test="enableReplace != null">#{enableReplace},</if>
            <if test="replaceThreshold != null">#{replaceThreshold},</if>
        </trim>
    </insert>

    <update id="updateSysCardTemplate" parameterType="SysCardTemplate">
        update sys_card_template
        <trim prefix="SET" suffixOverrides=",">
<!--            <if test="appId != null">app_id = #{appId},</if>-->
            <if test="cardName != null and cardName != ''">card_name = #{cardName},</if>
            <if test="cardNoPrefix != null">card_no_prefix = #{cardNoPrefix},</if>
            <if test="cardNoSuffix != null">card_no_suffix = #{cardNoSuffix},</if>
            <if test="cardDescription != null">card_description = #{cardDescription},</if>
            <if test="quota != null">quota = #{quota},</if>
            <if test="price != null">price = #{price},</if>
            <if test="cardNoLen != null">card_no_len = #{cardNoLen},</if>
            <if test="cardNoGenRule != null">card_no_gen_rule = #{cardNoGenRule},</if>
            <if test="cardNoRegex != null">card_no_regex = #{cardNoRegex},</if>
            <if test="cardPassLen != null">card_pass_len = #{cardPassLen},</if>
            <if test="cardPassGenRule != null">card_pass_gen_rule = #{cardPassGenRule},</if>
            <if test="cardPassRegex != null">card_pass_regex = #{cardPassRegex},</if>
            <if test="chargeRule != null">charge_rule = #{chargeRule},</if>
            <if test="onSale != null">on_sale = #{onSale},</if>
            <if test="firstStock != null">first_stock = #{firstStock},</if>
            <if test="effectiveDuration != null">effective_duration = #{effectiveDuration},</if>
            <if test="status != null">status = #{status},</if>
            <if test="enableAutoGen != null">enable_auto_gen = #{enableAutoGen},</if>
            <!--            <if test="createBy != null">create_by = #{createBy},</if>-->
            <!--            <if test="createTime != null">create_time = #{createTime},</if>-->
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="cardLoginLimitU != null">card_login_limit_u = #{cardLoginLimitU},</if>
            <if test="cardLoginLimitM != null">card_login_limit_m = #{cardLoginLimitM},</if>
            <if test="cardCustomParams != null">card_custom_params = #{cardCustomParams},</if>
            <if test="shopUrl != null">shop_url = #{shopUrl},</if>
            <if test="enableUnbind != null">enable_unbind = #{enableUnbind},</if>
            <if test="minBuyNum != null">min_buy_num = #{minBuyNum},</if>
            <if test="enableReplace != null">enable_replace = #{enableReplace},</if>
            <if test="replaceThreshold != null">replace_threshold = #{replaceThreshold},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <!--    <delete id="deleteSysCardTemplateByTemplateId" parameterType="Long">-->
    <!--        delete from sys_card_template where template_id = #{templateId}-->
    <!--    </delete>-->

    <!--    <delete id="deleteSysCardTemplateByTemplateIds" parameterType="String">-->
    <!--        delete from sys_card_template where template_id in-->
    <!--        <foreach item="templateId" collection="array" open="(" separator="," close=")">-->
    <!--            #{templateId}-->
    <!--        </foreach>-->
    <!--    </delete>-->

    <delete id="deleteSysCardTemplateByTemplateId" parameterType="Long">
        update sys_card_template
        set del_flag = '2'
        where template_id = #{templateId}
    </delete>

    <delete id="deleteSysCardTemplateByTemplateIds" parameterType="String">
        update sys_card_template set del_flag = '2' where template_id in
        <foreach collection="array" item="templateId" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>

    <select id="selectSysCardTemplateByAppIdAndTemplateName" resultMap="SysCardTemplateResult">
        <include refid="selectSysCardTemplateVo"/>
        where ct.app_id = #{appId} and ct.card_name = #{templateName} and ct.del_flag = '0'
    </select>

    <select id="selectSysCardTemplateOnSaleCountGroupByAppId" resultType="CountVo">
        select app_id as id, count(1) as count from sys_card_template where on_sale = 'Y' group by app_id
    </select>
</mapper>
