<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCardMapper">

    <resultMap type="SysCard" id="SysCardResult">
        <result property="cardId"    column="card_id"    />
        <result property="appId"    column="app_id"    />
        <result property="agentId" column="agent_id"/>
        <result property="cardName"    column="card_name"    />
        <result property="cardNo"    column="card_no"    />
        <result property="cardPass"    column="card_pass"    />
        <result property="quota"    column="quota"    />
        <result property="price"    column="price"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="isSold"    column="is_sold"    />
        <result property="onSale"    column="on_sale"    />
        <result property="isCharged"    column="is_charged"    />
        <result property="chargeTime" column="charge_time"/>
        <result property="templateId" column="template_id"/>
        <result property="status" column="status"/>
        <result property="chargeRule" column="charge_rule"/>
        <result property="isAgent" column="is_agent"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="cardLoginLimitU" column="card_login_limit_u"/>
        <result property="cardLoginLimitM" column="card_login_limit_m"/>
        <result property="cardCustomParams" column="card_custom_params"/>
        <result property="batchNo" column="batch_no"/>
        <result property="chargeType"    column="charge_type"    />
        <result property="chargeTo"    column="charge_to"    />
        <association property="app" column="app_id" javaType="SysApp" resultMap="SysAppResult"/>
        <association property="agentUser" column="agent_id" javaType="SysUser" resultMap="SysUserResult"/>
    </resultMap>

    <resultMap type="SysApp" id="SysAppResult">
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="authType" column="auth_type"/>
        <result property="billType" column="bill_type"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>

    <resultMap type="BatchNoVo" id="BatchNoVoResult">
        <result property="batchNo" column="batch_no"/>
        <result property="createTime" column="create_time"/>
        <result property="num" column="num"/>
    </resultMap>

    <sql id="selectSysCardVo">
        select c.card_id,
               c.app_id,
               c.card_name,
               c.card_no,
               c.card_pass,
               c.quota,
               c.price,
               c.expire_time,
               c.is_sold,
               c.on_sale,
               c.is_charged,
               c.charge_time,
               c.template_id,
               c.status,
               c.charge_rule,
               c.is_agent,
               c.create_by,
               c.create_time,
               c.update_by,
               c.update_time,
               c.remark,
               c.del_flag,
               c.card_login_limit_u,
               c.card_login_limit_m,
               c.card_custom_params,
               c.batch_no,
               c.agent_id,
               c.charge_type,
               c.charge_to,
               a.app_name,
               a.auth_type,
               a.bill_type,
               a.description,
               u.user_id,
               u.user_name,
               u.nick_name
        from sys_card c
                 left join sys_app a on c.app_id = a.app_id
                 left join sys_user u on c.agent_id = u.user_id
    </sql>

    <select id="selectSysCardList" parameterType="SysCard" resultMap="SysCardResult">
        <include refid="selectSysCardVo"/>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            inner join sys_user u on a.create_by = u.user_name
            inner join sys_user u1 on c.create_by = u1.user_name
        </if>
        where a.del_flag = '0' and c.del_flag = '0'
        <if test="appId != null ">and c.app_id = #{appId}</if>
        <if test="agentId != null ">and c.agent_id = #{agentId}</if>
        <if test="templateId != null ">and c.template_id = #{templateId}</if>
        <if test="cardName != null  and cardName != ''">and c.card_name like concat('%', #{cardName}, '%')</if>
        <if test="cardNo != null  and cardNo != ''">and BINARY c.card_no like concat('%', #{cardNo}, '%')</if>
        <if test="params.beginQuota != null and params.beginQuota != '' and params.endQuota != null and params.endQuota != ''">
            and c.quota between #{params.beginQuota} and #{params.endQuota}
        </if>
        <if test="params.beginPrice != null and params.beginPrice != '' and params.endPrice != null and params.endPrice != ''">
            and c.price between #{params.beginPrice} and #{params.endPrice}
        </if>
        <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''">
            and c.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}
        </if>
        <if test="isSold != null  and isSold != ''">and c.is_sold = #{isSold}</if>
        <if test="onSale != null  and onSale != ''">and c.on_sale = #{onSale}</if>
        <if test="isCharged != null  and isCharged != ''">and c.is_charged = #{isCharged}</if>
        <if test="status != null  and status != ''">and c.status = #{status}</if>
        <if test="chargeRule != null">and c.charge_rule = #{chargeRule}</if>
        <if test="isAgent != null  and isAgent != ''">and c.is_agent = #{isAgent}</if>
        <if test="createBy != null  and createBy != ''">and c.create_by = #{createBy}</if>
        <if test="batchNo != null  and batchNo != ''">and c.batch_no = #{batchNo}</if>
        <if test="chargeType != null"> and charge_type = #{chargeType}</if>
        <if test="chargeTo != null "> and charge_to = #{chargeTo}</if>
        <if test="remark != null and remark != ''">and c.remark like concat('%', #{remark}, '%')</if>
        <if test="params.agentName != null and params.agentName != ''">and (u.user_name like concat('%', #{params.agentName}, '%') or u.nick_name like concat('%', #{params.agentName}, '%'))</if>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </if>
    </select>

    <select id="countSysCard" parameterType="SysCard" resultType="Integer">
        select count(1) from sys_card c
        left join sys_app a on c.app_id = a.app_id
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            inner join sys_user u on a.create_by = u.user_name
            inner join sys_user u1 on c.create_by = u1.user_name
        </if>
        where a.del_flag = '0' and c.del_flag = '0'
        <if test="appId != null ">and c.app_id = #{appId}</if>
        <if test="agentId != null ">and c.agent_id = #{agentId}</if>
        <if test="templateId != null ">and c.template_id = #{templateId}</if>
        <if test="cardName != null  and cardName != ''">and c.card_name like concat('%', #{cardName}, '%')</if>
        <if test="cardNo != null  and cardNo != ''">and BINARY c.card_no like concat('%', #{cardNo}, '%')</if>
        <if test="params.beginQuota != null and params.beginQuota != '' and params.endQuota != null and params.endQuota != ''">
            and c.quota between #{params.beginQuota} and #{params.endQuota}
        </if>
        <if test="params.beginPrice != null and params.beginPrice != '' and params.endPrice != null and params.endPrice != ''">
            and c.price between #{params.beginPrice} and #{params.endPrice}
        </if>
        <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''">
            and c.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}
        </if>
        <if test="isSold != null  and isSold != ''">and c.is_sold = #{isSold}</if>
        <if test="onSale != null  and onSale != ''">and c.on_sale = #{onSale}</if>
        <if test="isCharged != null  and isCharged != ''">and c.is_charged = #{isCharged}</if>
        <if test="status != null  and status != ''">and c.status = #{status}</if>
        <if test="chargeRule != null">and c.charge_rule = #{chargeRule}</if>
        <if test="isAgent != null  and isAgent != ''">and c.is_agent = #{isAgent}</if>
        <if test="createBy != null  and createBy != ''">and c.create_by = #{createBy}</if>
        <if test="batchNo != null  and batchNo != ''">and c.batch_no = #{batchNo}</if>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </if>
    </select>

    <resultMap id="cardCount" type="java.util.HashMap">
        <result column="template_id" property="templateId" javaType="java.lang.Long"/>
        <result column="size" property="size" javaType="java.lang.Long"/>
    </resultMap>

    <select id="countSysCardAll" parameterType="SysCard" resultMap="cardCount">
        select c.template_id, count(1) as size from sys_card c
        left join sys_app a on c.app_id = a.app_id
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            inner join sys_user u on a.create_by = u.user_name
            inner join sys_user u1 on c.create_by = u1.user_name
        </if>
        where a.del_flag = '0' and c.del_flag = '0'
        <if test="appId != null ">and c.app_id = #{appId}</if>
        <if test="agentId != null ">and c.agent_id = #{agentId}</if>
        <if test="templateId != null ">and c.template_id = #{templateId}</if>
        <if test="cardName != null  and cardName != ''">and c.card_name like concat('%', #{cardName}, '%')</if>
        <if test="cardNo != null  and cardNo != ''">and BINARY c.card_no like concat('%', #{cardNo}, '%')</if>
        <if test="params.beginQuota != null and params.beginQuota != '' and params.endQuota != null and params.endQuota != ''">
            and c.quota between #{params.beginQuota} and #{params.endQuota}
        </if>
        <if test="params.beginPrice != null and params.beginPrice != '' and params.endPrice != null and params.endPrice != ''">
            and c.price between #{params.beginPrice} and #{params.endPrice}
        </if>
        <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''">
            and c.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}
        </if>
        <if test="isSold != null  and isSold != ''">and c.is_sold = #{isSold}</if>
        <if test="onSale != null  and onSale != ''">and c.on_sale = #{onSale}</if>
        <if test="isCharged != null  and isCharged != ''">and c.is_charged = #{isCharged}</if>
        <if test="status != null  and status != ''">and c.status = #{status}</if>
        <if test="chargeRule != null">and c.charge_rule = #{chargeRule}</if>
        <if test="isAgent != null  and isAgent != ''">and c.is_agent = #{isAgent}</if>
        <if test="createBy != null  and createBy != ''">and c.create_by = #{createBy}</if>
        <if test="batchNo != null  and batchNo != ''">and c.batch_no = #{batchNo}</if>
        <if test="params.dataScope != null and params.dataScope != ''"><!-- 数据范围过滤 -->
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </if>
        group by c.template_id
    </select>

    <select id="selectSysCardNoList" resultType="String">
        select card_no
        from sys_card
    </select>

    <select id="selectSysCardByCardId" parameterType="Long" resultMap="SysCardResult">
        <include refid="selectSysCardVo"/>
        where c.card_id = #{cardId}
    </select>

    <select id="selectSysCardByCardIds" resultMap="SysCardResult" parameterType="Long">
        <include refid="selectSysCardVo"/>
        where c.card_id in
        <foreach item="cardId" collection="array" open="(" separator="," close=")">
            #{cardId}
        </foreach>
    </select>

    <select id="selectSysCardByCardNo" parameterType="String" resultMap="SysCardResult">
        <include refid="selectSysCardVo"/>
        where BINARY c.card_no = #{cardNo} and c.del_flag = '0'
    </select>

    <select id="selectSysCardByAppIdAndCardNo" resultMap="SysCardResult">
        <include refid="selectSysCardVo"/>
        where c.del_flag = '0'
        <if test="appId != null ">and c.app_id = #{appId}</if>
        <if test="cardNo != null  and cardNo != ''">and BINARY c.card_no = #{cardNo}</if>
    </select>

    <insert id="insertSysCard" parameterType="SysCard" useGeneratedKeys="true" keyProperty="cardId">
        insert into sys_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appId != null">app_id,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="cardName != null">card_name,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="cardPass != null">card_pass,</if>
            <if test="quota != null">quota,</if>
            <if test="price != null">price,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="isSold != null">is_sold,</if>
            <if test="onSale != null">on_sale,</if>
            <if test="isCharged != null">is_charged,</if>
            <if test="templateId != null">template_id,</if>
            <if test="status != null">status,</if>
            <if test="chargeRule != null">charge_rule,</if>
            <if test="isAgent != null">is_agent,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="chargeTime != null">charge_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="cardLoginLimitU != null">card_login_limit_u,</if>
            <if test="cardLoginLimitM != null">card_login_limit_m,</if>
            <if test="cardCustomParams != null">card_custom_params,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="chargeType != null">charge_type,</if>
            <if test="chargeTo != null">charge_to,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appId != null">#{appId},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="cardName != null">#{cardName},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="cardPass != null">#{cardPass},</if>
            <if test="quota != null">#{quota},</if>
            <if test="price != null">#{price},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="isSold != null">#{isSold},</if>
            <if test="onSale != null">#{onSale},</if>
            <if test="isCharged != null">#{isCharged},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="status != null">#{status},</if>
            <if test="chargeRule != null">#{chargeRule},</if>
            <if test="isAgent != null">#{isAgent},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="chargeTime != null">#{chargeTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="cardLoginLimitU != null">#{cardLoginLimitU},</if>
            <if test="cardLoginLimitM != null">#{cardLoginLimitM},</if>
            <if test="cardCustomParams != null">#{cardCustomParams},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="chargeType != null">#{chargeType},</if>
            <if test="chargeTo != null">#{chargeTo},</if>
        </trim>
    </insert>

    <insert id="insertSysCardBatch" useGeneratedKeys="true" keyProperty="cardId">
        insert into
        sys_card(app_id,agent_id,card_name,card_no,card_pass,quota,price,expire_time,is_sold,on_sale,is_charged,
        template_id,status,charge_rule,is_agent,create_by,create_time,update_by,update_time,remark,card_login_limit_u,
        card_login_limit_m,card_custom_params,batch_no,charge_type,charge_to) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.appId},#{item.agentId},#{item.cardName},#{item.cardNo},#{item.cardPass},#{item.quota},#{item.price},
            #{item.expireTime},#{item.isSold},#{item.onSale},#{item.isCharged},
            #{item.templateId},#{item.status},#{item.chargeRule},#{item.isAgent},#{item.createBy},sysdate(),
            #{item.updateBy},#{item.updateTime},#{item.remark},#{item.cardLoginLimitU},
            #{item.cardLoginLimitM},#{item.cardCustomParams},#{item.batchNo},#{item.chargeType},#{item.chargeTo})
        </foreach>
    </insert>

    <update id="updateSysCard" parameterType="SysCard">
        update sys_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="appId != null">app_id = #{appId},</if>
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="cardName != null">card_name = #{cardName},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="cardPass != null">card_pass = #{cardPass},</if>
            <if test="quota != null">quota = #{quota},</if>
            <if test="price != null">price = #{price},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="isSold != null">is_sold = #{isSold},</if>
            <if test="onSale != null">on_sale = #{onSale},</if>
            <if test="isCharged != null">is_charged = #{isCharged},</if>
            <if test="chargeTime != null">charge_time = #{chargeTime},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="chargeRule != null">charge_rule = #{chargeRule},</if>
            <if test="isAgent != null">is_agent = #{isAgent},</if>
            <!--            <if test="createBy != null">create_by = #{createBy},</if>-->
            <!--            <if test="createTime != null">create_time = #{createTime},</if>-->
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="cardLoginLimitU != null">card_login_limit_u = #{cardLoginLimitU},</if>
            <if test="cardLoginLimitM != null">card_login_limit_m = #{cardLoginLimitM},</if>
            <if test="cardCustomParams != null">card_custom_params = #{cardCustomParams},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="chargeType != null">charge_type = #{chargeType},</if>
            <if test="chargeTo != null">charge_to = #{chargeTo},</if>
        </trim>
        where card_id = #{cardId}
    </update>

    <!--    <delete id="deleteSysCardByCardId" parameterType="Long">-->
    <!--        delete from sys_card where card_id = #{cardId}-->
    <!--    </delete>-->

    <!--    <delete id="deleteSysCardByCardIds" parameterType="String">-->
    <!--        delete from sys_card where card_id in -->
    <!--        <foreach item="cardId" collection="array" open="(" separator="," close=")">-->
    <!--            #{cardId}-->
    <!--        </foreach>-->
    <!--    </delete>-->

    <delete id="deleteSysCardByCardId" parameterType="Long">
        update sys_card
        set del_flag = '2'
        where card_id = #{cardId}
    </delete>

    <delete id="deleteSysCardByCardIds" parameterType="String">
        update sys_card set del_flag = '2' where card_id in
        <foreach collection="array" item="cardId" open="(" separator="," close=")">
            #{cardId}
        </foreach>
    </delete>

    <select id="selectBatchNoList" parameterType="Long" resultMap="BatchNoVoResult">
        select c.batch_no, count(1) as num from sys_card c left join sys_app a on c.app_id = a.app_id
        where c.batch_no is not null and c.del_flag = 0 and a.del_flag = 0
        <if test="agentId != null ">and c.agent_id = #{agentId}</if>
        group by c.batch_no ORDER BY batch_no desc
    </select>

</mapper>
