<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleMapper">

	<resultMap id="RoleInfo" type="com.ruoyi.common.core.domain.model.RoleInfo">
		<id property="roleId"     column="role_id"    />
		<result property="relUserId"     column="rel_user_id"    />
		<result property="relStoreId"     column="rel_store_id"    />
		<result property="roleName"     column="role_name"    />
		<result property="roleKey"     column="role_key"    />
		<result property="roleSort"     column="role_sort"    />
		<result property="storeId"     column="store_id"    />
		<result property="status"     column="status"    />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"     column="create_time"    />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"     column="update_time"    />
		<result property="remark"     column="remark"    />
		<result property="delFlag"     column="del_flag"    />
		<result property="version"     column="version"    />
		<collection property="menus" ofType="com.ruoyi.common.core.domain.model.MenuInfo">
			<id property="menuId"     column="menu_id"    />
			<result property="relRoleId"     column="rel_role_id"    />
			<result property="menuName"     column="menu_name"    />
			<result property="parentId"     column="parent_id"    />
			<result property="orderNum"     column="order_num"    />
			<result property="path"     column="path"    />
			<result property="component"     column="component"    />
			<result property="query"     column="query"    />
			<result property="routeName"     column="route_name"    />
			<result property="isFrame"     column="is_frame"    />
			<result property="isCache"     column="is_cache"    />
			<result property="menuType"     column="menu_type"    />
			<result property="visible"     column="visible"    />
			<result property="status"     column="menu_status"    />
			<result property="perms"     column="perms"    />
			<result property="icon"     column="icon"    />
			<result property="remark"     column="menu_remark"    />
		</collection>
	</resultMap>

	<select id="getRoleInfoById" resultMap="RoleInfo">
		SELECT
			sr.*,
			srm.role_id AS rel_role_id,
			srm.menu_id,
			sm.menu_name,
			sm.parent_id,
			sm.order_num,
			sm.path,
			sm.component,
			sm.query,
			sm.route_name,
			sm.is_frame,
			sm.is_cache,
			sm.menu_type,
			sm.visible,
			sm.status AS menu_status,
			sm.perms,
			sm.icon,
			sm.remark AS menu_remark
		FROM
			sys_role sr
			LEFT JOIN sys_role_menu srm ON sr.role_id = srm.role_id
			LEFT JOIN sys_menu sm ON srm.menu_id = sm.menu_id
		WHERE
			sr.role_id = #{roleId}
	</select>

	<select id="listRole" resultType="com.ruoyi.common.core.domain.model.RoleListItem">
		SELECT
			sr.*,
			s.store_name
		FROM
			sys_role sr
			LEFT JOIN store s ON sr.store_id = s.id
		<where>
			sr.del_flag = '0'
			<if test="roleIds != null and !roleIds.isEmpty()">
				AND sr.role_id IN
				<foreach collection="roleIds" item="obj" open="(" close=")" separator=",">
					#{obj}
				</foreach>
			</if>
			<if test="roleName != null and roleName != ''">
				AND sr.role_name LIKE CONCAT('%', #{roleName}, '%')
			</if>
			<if test="roleKey != null and roleKey != ''">
				AND sr.role_key LIKE CONCAT('%', #{roleKey}, '%')
			</if>
			<if test="status != null and status != ''">
				AND sr.status = #{status}
			</if>
			<if test="storeIds != null and !storeIds.isEmpty()">
				AND sr.store_id IN
				<foreach collection="storeIds" item="obj" open="(" close=")" separator=",">
					#{obj}
				</foreach>
			</if>
			<if test="createTimeBegin != null and createTimeEnd != null">
				AND sr.create_time BETWEEN #{createTimeBegin} AND #{createTimeEnd}
			</if>
		</where>
	</select>

</mapper>