<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TClockinSetMapper">
    
    <resultMap type="com.ruoyi.system.domain.TClockinSet" id="TClockinSetResult">
        <result property="id"    column="id"    />
        <result property="dkbh"    column="dkbh"    />
        <result property="swkssj"    column="swkssj"    />
        <result property="swjssj"    column="swjssj"    />
        <result property="xwkssj"    column="xwkssj"    />
        <result property="xwjssj"    column="xwjssj"    />
        <result property="sbzgs"    column="sbzgs"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="zxkssj"    column="zxkssj"    />
        <result property="zxjssj"    column="zxjssj"    />
        <result property="bz"    column="bz"    />
        <result property="shtydm"    column="shtydm"    />
    </resultMap>

    <sql id="selectTClockinSetVo">
        select id, dkbh, swkssj, swjssj, xwkssj, xwjssj, sbzgs, create_time, update_time, zxkssj, zxjssj, bz,shtydm from t_clockin_set
    </sql>
</mapper>