<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TCostLaborMapper">
    
    <resultMap type="TCostLabor" id="TCostLaborResult">
        <result property="id"    column="id"    />
        <result property="quoteNo"    column="quote_no"    />
        <result property="customerId"    column="customer_id"    />
        <result property="workTypeId"    column="work_type_id"    />
        <result property="workTypeName"    column="work_type_name"    />
        <result property="worker"    column="worker"    />
        <result property="costLabor"    column="cost_labor"    />
        <result property="costPrice"    column="cost_price"    />
        <result property="costHour"    column="cost_hour"    />
        <result property="types"    column="types"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectTCostLaborVo">
        select id, quote_no, customer_id, work_type_id, work_type_name, worker, cost_labor, cost_price, cost_hour, types, price, create_time, create_by from t_cost_labor
    </sql>

    <select id="selectTCostLaborList" parameterType="TCostLabor" resultMap="TCostLaborResult">
        <include refid="selectTCostLaborVo"/>
        <where>  
            <if test="quoteNo != null  and quoteNo != ''"> and quote_no = #{quoteNo}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="workTypeId != null "> and work_type_id = #{workTypeId}</if>
            <if test="workTypeName != null  and workTypeName != ''"> and work_type_name like concat('%', #{workTypeName}, '%')</if>
            <if test="costLabor != null "> and cost_labor = #{costLabor}</if>
            <if test="costPrice != null "> and cost_price = #{costPrice}</if>
            <if test="types != null "> and types = #{types}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="worker != null "> and worker = #{worker}</if>
        </where>
    </select>
    
    <select id="selectTCostLaborById" parameterType="Long" resultMap="TCostLaborResult">
        <include refid="selectTCostLaborVo"/>
        where id = #{id}
    </select>

    <insert id="insertTCostLabor" parameterType="TCostLabor" useGeneratedKeys="true" keyProperty="id">
        insert into t_cost_labor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quoteNo != null">quote_no,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="workTypeId != null">work_type_id,</if>
            <if test="workTypeName != null">work_type_name,</if>
            <if test="worker != null">worker,</if>
            <if test="costLabor != null">cost_labor,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="costHour != null">cost_hour,</if>
            <if test="types != null">types,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quoteNo != null">#{quoteNo},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="workTypeId != null">#{workTypeId},</if>
            <if test="workTypeName != null">#{workTypeName},</if>
            <if test="worker != null">#{worker},</if>
            <if test="costLabor != null">#{costLabor},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="costHour != null">#{costHour},</if>
            <if test="types != null">#{types},</if>
            <if test="price != null">#{price},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateTCostLabor" parameterType="TCostLabor">
        update t_cost_labor
        <trim prefix="SET" suffixOverrides=",">
            <if test="quoteNo != null">quote_no = #{quoteNo},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="workTypeId != null">work_type_id = #{workTypeId},</if>
            <if test="workTypeName != null">work_type_name = #{workTypeName},</if>
            <if test="worker != null">worker = #{worker},</if>
            <if test="costLabor != null">cost_labor = #{costLabor},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="costHour != null">cost_hour = #{costHour},</if>
            <if test="types != null">types = #{types},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCostLaborById" parameterType="Long">
        delete from t_cost_labor where id = #{id}
    </delete>
    
    <delete id="deleteTCostLaborByCustomer" parameterType="TCostLabor">
        delete from t_cost_labor where quote_no=#{quoteNo} and customer_id = #{customerId}
    </delete>

    <delete id="deleteTCostLaborByIds" parameterType="String">
        delete from t_cost_labor where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="historyTCostLaborList" parameterType="TCostLabor" resultMap="TCostLaborResult">
        <include refid="selectTCostLaborVo"/>
        <where>  
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="types != null "> and types = #{types}</if>
        </where>
        order by create_time desc
        limit 1,#{queryCount}
    </select>
</mapper>