version: '3.8'

services:
  BeautyClub:
    build: .
    container_name: BeautyClub
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:mysql://121.40.218.168:13306/mmclub?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
      - SPRING_DATASOURCE_USERNAME=mmclub
      - SPRING_DATASOURCE_PASSWORD=8DDPpAQBrbxx!
      - SPRING_REDIS_HOST=121.40.218.168
      - SPRING_REDIS_PORT=26739
    volumes:
      - app_logs:/app/logs
      - upload_path:/app/uploadPath
    networks:
      - beautyclub-network

  nginx:
    image: nginx:alpine
    container_name: beautyclub-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - upload_path:/app/uploadPath
    depends_on:
      - BeautyClub
    networks:
      - beautyclub-network

volumes:
  app_logs:
  upload_path:

networks:
  beautyclub-network:
    driver: bridge