<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.agent.mapper.SysAgentItemMapper">

    <resultMap type="SysAgentItem" id="SysAgentItemResult">
        <result property="id" column="id"/>
        <result property="agentId" column="agent_id"/>
        <result property="templateType" column="template_type"/>
        <result property="templateId" column="template_id"/>
        <result property="agentPrice" column="agent_price"/>
        <result property="expireTime" column="expire_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <association property="user" column="user_id" javaType="SysUser" resultMap="SysUserResult"/>
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>

    <sql id="selectSysAgentItemVo">
        select ai.id,
               ai.agent_id,
               ai.template_type,
               ai.template_id,
               ai.agent_price,
               ai.expire_time,
               ai.create_by,
               ai.create_time,
               ai.update_by,
               ai.update_time,
               ai.remark,
               u.user_id,
               u.user_name,
               u.nick_name
        from sys_agent_item ai
                 left join sys_agent ag on ag.agent_id = ai.agent_id
                 left join sys_user u on ag.user_id = u.user_id
    </sql>

    <select id="selectSysAgentItemList" parameterType="SysAgentItem" resultMap="SysAgentItemResult">
        <include refid="selectSysAgentItemVo"/>
        <where>
            <if test="agentId != null">and ai.agent_id = #{agentId}</if>
            <if test="templateType != null">and ai.template_type = #{templateType}</if>
            <if test="templateId != null">and ai.template_id = #{templateId}</if>
            <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''">
                and ai.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}
            </if>
            <if test="params._agentId != null">
                and ai.agent_id in (SELECT ag.agent_id FROM sys_agent ag WHERE ag.path LIKE CONCAT(( SELECT ag.path FROM
                sys_agent ag WHERE ag.agent_id = #{params._agentId} ), '%')
                AND ag.path != (SELECT ag.path FROM sys_agent ag WHERE ag.agent_id = #{params._agentId}))
            </if>
            <if test="params.agentName != null">
                and (u.user_name LIKE CONCAT('%', #{params.agentName}, '%') or u.nick_name LIKE CONCAT('%',
                #{params.agentName}, '%'))
            </if>
            <if test="remark != null and remark != ''">and ai.remark like concat('%', #{remark}, '%')</if>
        </where>
        order by ai.id
    </select>

    <select id="selectSysAgentItemById" parameterType="Long" resultMap="SysAgentItemResult">
        <include refid="selectSysAgentItemVo"/>
        where ai.id = #{id}
    </select>

    <select id="selectSysAgentItemByAgentId" parameterType="Long" resultMap="SysAgentItemResult">
        <include refid="selectSysAgentItemVo"/>
        where ai.agent_id = #{agentId}
    </select>

    <insert id="insertSysAgentItem" parameterType="SysAgentItem" useGeneratedKeys="true" keyProperty="id">
        insert into sys_agent_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="agentId != null">agent_id,</if>
            <if test="templateType != null">template_type,</if>
            <if test="templateId != null">template_id,</if>
            <if test="agentPrice != null">agent_price,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="agentId != null">#{agentId},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="agentPrice != null">#{agentPrice},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysAgentItem" parameterType="SysAgentItem">
        update sys_agent_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="agentPrice != null">agent_price = #{agentPrice},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysAgentItemById" parameterType="Long">
        delete
        from sys_agent_item
        where id = #{id}
    </delete>

    <delete id="deleteSysAgentItemByIds" parameterType="String">
        delete from sys_agent_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>