<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.agent.mapper.SysAgentUserMapper">

    <resultMap type="SysAgent" id="SysAgentResult">
        <result property="agentId" column="agent_id"/>
        <result property="parentAgentId" column="parent_agent_id"/>
        <result property="path" column="path"/>
        <result property="userId" column="user_id"/>
        <result property="enableAddSubagent" column="enable_add_subagent"/>
        <result property="expireTime" column="expire_time"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="enableUpdateSubagentPassword"    column="enable_update_subagent_password"    />
        <result property="enableUpdateSubagentStatus"    column="enable_update_subagent_status"    />
        <result property="enableUnbindAppUser"    column="enable_unbind_app_user"    />
        <result property="enableUpdateAppUserStatus0"    column="enable_update_app_user_status_0"    />
        <result property="enableUpdateAppUserStatus1"    column="enable_update_app_user_status_1"    />
        <result property="enableUpdateAppUserTime"    column="enable_update_app_user_time"    />
        <result property="enableUpdateAppUserPoint"    column="enable_update_app_user_point"    />
        <result property="enableUpdateAppUserLoginLimitU"    column="enable_update_app_user_login_limit_u"    />
        <result property="enableUpdateAppUserLoginLimitM"    column="enable_update_app_user_login_limit_m"    />
        <result property="enableUpdateAppUserCustomParams"    column="enable_update_app_user_custom_params"    />
        <result property="enableUpdateAppUserRemark"    column="enable_update_app_user_remark"    />
        <result property="enableViewUserContact"    column="enable_view_user_contact"    />
        <result property="enableUpdateUserContact"    column="enable_update_user_contact"    />
        <result property="enableUpdateUserPassword"    column="enable_update_user_password"    />
        <result property="enableUpdateUserRemark"    column="enable_update_user_remark"    />
        <result property="enableUpdateCardTime"    column="enable_update_card_time"    />
        <result property="enableUpdateCardPoint"    column="enable_update_card_point"    />
        <result property="enableUpdateCardLoginLimitU"    column="enable_update_card_login_limit_u"    />
        <result property="enableUpdateCardLoginLimitM"    column="enable_update_card_login_limit_m"    />
        <result property="enableUpdateCardCustomParams"    column="enable_update_card_custom_params"    />
        <result property="enableUpdateCardRemark"    column="enable_update_card_remark"    />
        <result property="enableUpdateCardStatus0"    column="enable_update_card_status_0"    />
        <result property="enableUpdateCardStatus1"    column="enable_update_card_status_1"    />
        <result property="enableBatchCardReplace"    column="enable_batch_card_replace"    />
        <result property="enableAddCard"    column="enable_add_card"    />
        <result property="enableDeleteSubagent"    column="enable_delete_subagent"    />
        <result property="enableDeleteAppUser"    column="enable_delete_app_user"    />
        <result property="enableDeleteCard"    column="enable_delete_card"    />
        <association property="user" column="user_id" javaType="SysUser" resultMap="SysUserResult"/>
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>

    <sql id="selectSysAgentVo">
        select ag.agent_id,
               ag.parent_agent_id,
               ag.path,
               ag.user_id,
               ag.enable_add_subagent,
               ag.expire_time,
               ag.status,
               ag.del_flag,
               ag.create_by,
               ag.create_time,
               ag.update_by,
               ag.update_time,
               ag.remark,
               ag.enable_update_subagent_password, ag.enable_update_subagent_status, ag.enable_unbind_app_user, ag.enable_update_app_user_status_0, ag.enable_update_app_user_status_1,
               ag.enable_update_app_user_time, ag.enable_update_app_user_point, ag.enable_update_app_user_login_limit_u, ag.enable_update_app_user_login_limit_m, ag.enable_update_app_user_custom_params,
               ag.enable_update_app_user_remark, ag.enable_view_user_contact, ag.enable_update_user_contact, ag.enable_update_user_password, ag.enable_update_user_remark, ag.enable_update_card_time,
               ag.enable_update_card_point, ag.enable_update_card_login_limit_u, ag.enable_update_card_login_limit_m, ag.enable_update_card_custom_params, ag.enable_update_card_remark,
               ag.enable_update_card_status_0, ag.enable_update_card_status_1, ag.enable_batch_card_replace, ag.enable_add_card, ag.enable_delete_subagent, ag.enable_delete_app_user, ag.enable_delete_card,
               u.user_id,
               u.user_name,
               u.nick_name
        from sys_agent ag
                 left join sys_user u on ag.user_id = u.user_id
    </sql>

    <select id="selectSysAgentList" parameterType="SysAgent" resultMap="SysAgentResult">
        <include refid="selectSysAgentVo"/>
        where ag.del_flag = '0'
        <if test="parentAgentId != null ">and ag.parent_agent_id = #{parentAgentId}</if>
        <if test="params.userName != null ">and (u.user_name like concat('%', #{params.userName}, '%') or
            u.nick_name like concat('%', #{params.userName}, '%'))
        </if>
        <if test="enableAddSubagent != null  and enableAddSubagent != ''">and ag.enable_add_subagent =
            #{enableAddSubagent}
        </if>
        <if test="params.beginExpireTime != null and params.beginExpireTime != '' and params.endExpireTime != null and params.endExpireTime != ''">
            and ag.expire_time between #{params.beginExpireTime} and #{params.endExpireTime}
        </if>
        <if test="status != null  and status != ''">and ag.status = #{status}</if>
        <if test="remark != null and remark != ''">and ag.remark like concat('%', #{remark}, '%')</if>
        <if test="enableUpdateSubagentPassword != null  and enableUpdateSubagentPassword != ''"> and enable_update_subagent_password = #{enableUpdateSubagentPassword}</if>
        <if test="enableUpdateSubagentStatus != null  and enableUpdateSubagentStatus != ''"> and enable_update_subagent_status = #{enableUpdateSubagentStatus}</if>
        <if test="enableUnbindAppUser != null  and enableUnbindAppUser != ''"> and enable_unbind_app_user = #{enableUnbindAppUser}</if>
        <if test="enableUpdateAppUserStatus0 != null  and enableUpdateAppUserStatus0 != ''"> and enable_update_app_user_status_0 = #{enableUpdateAppUserStatus0}</if>
        <if test="enableUpdateAppUserStatus1 != null  and enableUpdateAppUserStatus1 != ''"> and enable_update_app_user_status_1 = #{enableUpdateAppUserStatus1}</if>
        <if test="enableUpdateAppUserTime != null  and enableUpdateAppUserTime != ''"> and enable_update_app_user_time = #{enableUpdateAppUserTime}</if>
        <if test="enableUpdateAppUserPoint != null  and enableUpdateAppUserPoint != ''"> and enable_update_app_user_point = #{enableUpdateAppUserPoint}</if>
        <if test="enableUpdateAppUserLoginLimitU != null  and enableUpdateAppUserLoginLimitU != ''"> and enable_update_app_user_login_limit_u = #{enableUpdateAppUserLoginLimitU}</if>
        <if test="enableUpdateAppUserLoginLimitM != null  and enableUpdateAppUserLoginLimitM != ''"> and enable_update_app_user_login_limit_m = #{enableUpdateAppUserLoginLimitM}</if>
        <if test="enableUpdateAppUserCustomParams != null  and enableUpdateAppUserCustomParams != ''"> and enable_update_app_user_custom_params = #{enableUpdateAppUserCustomParams}</if>
        <if test="enableUpdateAppUserRemark != null  and enableUpdateAppUserRemark != ''"> and enable_update_app_user_remark = #{enableUpdateAppUserRemark}</if>
        <if test="enableViewUserContact != null  and enableViewUserContact != ''"> and enable_view_user_contact = #{enableViewUserContact}</if>
        <if test="enableUpdateUserContact != null  and enableUpdateUserContact != ''"> and enable_update_user_contact = #{enableUpdateUserContact}</if>
        <if test="enableUpdateUserPassword != null  and enableUpdateUserPassword != ''"> and enable_update_user_password = #{enableUpdateUserPassword}</if>
        <if test="enableUpdateUserRemark != null  and enableUpdateUserRemark != ''"> and enable_update_user_remark = #{enableUpdateUserRemark}</if>
        <if test="enableUpdateCardTime != null  and enableUpdateCardTime != ''"> and enable_update_card_time = #{enableUpdateCardTime}</if>
        <if test="enableUpdateCardPoint != null  and enableUpdateCardPoint != ''"> and enable_update_card_point = #{enableUpdateCardPoint}</if>
        <if test="enableUpdateCardLoginLimitU != null  and enableUpdateCardLoginLimitU != ''"> and enable_update_card_login_limit_u = #{enableUpdateCardLoginLimitU}</if>
        <if test="enableUpdateCardLoginLimitM != null  and enableUpdateCardLoginLimitM != ''"> and enable_update_card_login_limit_m = #{enableUpdateCardLoginLimitM}</if>
        <if test="enableUpdateCardCustomParams != null  and enableUpdateCardCustomParams != ''"> and enable_update_card_custom_params = #{enableUpdateCardCustomParams}</if>
        <if test="enableUpdateCardRemark != null  and enableUpdateCardRemark != ''"> and enable_update_card_remark = #{enableUpdateCardRemark}</if>
        <if test="enableUpdateCardStatus0 != null  and enableUpdateCardStatus0 != ''"> and enable_update_card_status_0 = #{enableUpdateCardStatus0}</if>
        <if test="enableUpdateCardStatus1 != null  and enableUpdateCardStatus1 != ''"> and enable_update_card_status_1 = #{enableUpdateCardStatus1}</if>
        <if test="enableBatchCardReplace != null  and enableBatchCardReplace != ''"> and enable_batch_card_replace = #{enableBatchCardReplace}</if>
        <if test="enableAddCard != null  and enableAddCard != ''"> and enable_add_card = #{enableAddCard}</if>
        <if test="enableDeleteSubagent != null  and enableDeleteSubagent != ''"> and enable_delete_subagent = #{enableDeleteSubagent}</if>
        <if test="enableDeleteAppUser != null  and enableDeleteAppUser != ''"> and enable_delete_app_user = #{enableDeleteAppUser}</if>
        <if test="enableDeleteCard != null  and enableDeleteCard != ''"> and enable_delete_card = #{enableDeleteCard}</if>
    </select>

    <select id="selectSysAgentByAgentId" parameterType="Long" resultMap="SysAgentResult">
        <include refid="selectSysAgentVo"/>
        where ag.agent_id = #{agentId}
    </select>

    <select id="selectSysAgentByUserId" parameterType="Long" resultMap="SysAgentResult">
        <include refid="selectSysAgentVo"/>
        where ag.del_flag = '0' and ag.user_id = #{userId}
    </select>

    <insert id="insertSysAgent" parameterType="SysAgent" useGeneratedKeys="true" keyProperty="agentId">
        insert into sys_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentAgentId != null">parent_agent_id,</if>
            <if test="path != null">path,</if>
            <if test="userId != null">user_id,</if>
            <if test="enableAddSubagent != null">enable_add_subagent,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="enableUpdateSubagentPassword != null and enableUpdateSubagentPassword != ''">enable_update_subagent_password,</if>
            <if test="enableUpdateSubagentStatus != null and enableUpdateSubagentStatus != ''">enable_update_subagent_status,</if>
            <if test="enableUnbindAppUser != null and enableUnbindAppUser != ''">enable_unbind_app_user,</if>
            <if test="enableUpdateAppUserStatus0 != null and enableUpdateAppUserStatus0 != ''">enable_update_app_user_status_0,</if>
            <if test="enableUpdateAppUserStatus1 != null and enableUpdateAppUserStatus1 != ''">enable_update_app_user_status_1,</if>
            <if test="enableUpdateAppUserTime != null and enableUpdateAppUserTime != ''">enable_update_app_user_time,</if>
            <if test="enableUpdateAppUserPoint != null and enableUpdateAppUserPoint != ''">enable_update_app_user_point,</if>
            <if test="enableUpdateAppUserLoginLimitU != null and enableUpdateAppUserLoginLimitU != ''">enable_update_app_user_login_limit_u,</if>
            <if test="enableUpdateAppUserLoginLimitM != null and enableUpdateAppUserLoginLimitM != ''">enable_update_app_user_login_limit_m,</if>
            <if test="enableUpdateAppUserCustomParams != null and enableUpdateAppUserCustomParams != ''">enable_update_app_user_custom_params,</if>
            <if test="enableUpdateAppUserRemark != null and enableUpdateAppUserRemark != ''">enable_update_app_user_remark,</if>
            <if test="enableViewUserContact != null and enableViewUserContact != ''">enable_view_user_contact,</if>
            <if test="enableUpdateUserContact != null and enableUpdateUserContact != ''">enable_update_user_contact,</if>
            <if test="enableUpdateUserPassword != null and enableUpdateUserPassword != ''">enable_update_user_password,</if>
            <if test="enableUpdateUserRemark != null and enableUpdateUserRemark != ''">enable_update_user_remark,</if>
            <if test="enableUpdateCardTime != null and enableUpdateCardTime != ''">enable_update_card_time,</if>
            <if test="enableUpdateCardPoint != null and enableUpdateCardPoint != ''">enable_update_card_point,</if>
            <if test="enableUpdateCardLoginLimitU != null and enableUpdateCardLoginLimitU != ''">enable_update_card_login_limit_u,</if>
            <if test="enableUpdateCardLoginLimitM != null and enableUpdateCardLoginLimitM != ''">enable_update_card_login_limit_m,</if>
            <if test="enableUpdateCardCustomParams != null and enableUpdateCardCustomParams != ''">enable_update_card_custom_params,</if>
            <if test="enableUpdateCardRemark != null and enableUpdateCardRemark != ''">enable_update_card_remark,</if>
            <if test="enableUpdateCardStatus0 != null and enableUpdateCardStatus0 != ''">enable_update_card_status_0,</if>
            <if test="enableUpdateCardStatus1 != null and enableUpdateCardStatus1 != ''">enable_update_card_status_1,</if>
            <if test="enableBatchCardReplace != null and enableBatchCardReplace != ''">enable_batch_card_replace,</if>
            <if test="enableAddCard != null and enableAddCard != ''">enable_add_card,</if>
            <if test="enableDeleteSubagent != null and enableDeleteSubagent != ''">enable_delete_subagent,</if>
            <if test="enableDeleteAppUser != null and enableDeleteAppUser != ''">enable_delete_app_user,</if>
            <if test="enableDeleteCard != null and enableDeleteCard != ''">enable_delete_card,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentAgentId != null">#{parentAgentId},</if>
            <if test="path != null">#{path},</if>
            <if test="userId != null">#{userId},</if>
            <if test="enableAddSubagent != null">#{enableAddSubagent},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="enableUpdateSubagentPassword != null and enableUpdateSubagentPassword != ''">#{enableUpdateSubagentPassword},</if>
            <if test="enableUpdateSubagentStatus != null and enableUpdateSubagentStatus != ''">#{enableUpdateSubagentStatus},</if>
            <if test="enableUnbindAppUser != null and enableUnbindAppUser != ''">#{enableUnbindAppUser},</if>
            <if test="enableUpdateAppUserStatus0 != null and enableUpdateAppUserStatus0 != ''">#{enableUpdateAppUserStatus0},</if>
            <if test="enableUpdateAppUserStatus1 != null and enableUpdateAppUserStatus1 != ''">#{enableUpdateAppUserStatus1},</if>
            <if test="enableUpdateAppUserTime != null and enableUpdateAppUserTime != ''">#{enableUpdateAppUserTime},</if>
            <if test="enableUpdateAppUserPoint != null and enableUpdateAppUserPoint != ''">#{enableUpdateAppUserPoint},</if>
            <if test="enableUpdateAppUserLoginLimitU != null and enableUpdateAppUserLoginLimitU != ''">#{enableUpdateAppUserLoginLimitU},</if>
            <if test="enableUpdateAppUserLoginLimitM != null and enableUpdateAppUserLoginLimitM != ''">#{enableUpdateAppUserLoginLimitM},</if>
            <if test="enableUpdateAppUserCustomParams != null and enableUpdateAppUserCustomParams != ''">#{enableUpdateAppUserCustomParams},</if>
            <if test="enableUpdateAppUserRemark != null and enableUpdateAppUserRemark != ''">#{enableUpdateAppUserRemark},</if>
            <if test="enableViewUserContact != null and enableViewUserContact != ''">#{enableViewUserContact},</if>
            <if test="enableUpdateUserContact != null and enableUpdateUserContact != ''">#{enableUpdateUserContact},</if>
            <if test="enableUpdateUserPassword != null and enableUpdateUserPassword != ''">#{enableUpdateUserPassword},</if>
            <if test="enableUpdateUserRemark != null and enableUpdateUserRemark != ''">#{enableUpdateUserRemark},</if>
            <if test="enableUpdateCardTime != null and enableUpdateCardTime != ''">#{enableUpdateCardTime},</if>
            <if test="enableUpdateCardPoint != null and enableUpdateCardPoint != ''">#{enableUpdateCardPoint},</if>
            <if test="enableUpdateCardLoginLimitU != null and enableUpdateCardLoginLimitU != ''">#{enableUpdateCardLoginLimitU},</if>
            <if test="enableUpdateCardLoginLimitM != null and enableUpdateCardLoginLimitM != ''">#{enableUpdateCardLoginLimitM},</if>
            <if test="enableUpdateCardCustomParams != null and enableUpdateCardCustomParams != ''">#{enableUpdateCardCustomParams},</if>
            <if test="enableUpdateCardRemark != null and enableUpdateCardRemark != ''">#{enableUpdateCardRemark},</if>
            <if test="enableUpdateCardStatus0 != null and enableUpdateCardStatus0 != ''">#{enableUpdateCardStatus0},</if>
            <if test="enableUpdateCardStatus1 != null and enableUpdateCardStatus1 != ''">#{enableUpdateCardStatus1},</if>
            <if test="enableBatchCardReplace != null and enableBatchCardReplace != ''">#{enableBatchCardReplace},</if>
            <if test="enableAddCard != null and enableAddCard != ''">#{enableAddCard},</if>
            <if test="enableDeleteSubagent != null and enableDeleteSubagent != ''">#{enableDeleteSubagent},</if>
            <if test="enableDeleteAppUser != null and enableDeleteAppUser != ''">#{enableDeleteAppUser},</if>
            <if test="enableDeleteCard != null and enableDeleteCard != ''">#{enableDeleteCard},</if>
        </trim>
    </insert>

    <update id="updateSysAgent" parameterType="SysAgent">
        update sys_agent
        <trim prefix="SET" suffixOverrides=",">
            parent_agent_id = #{parentAgentId},
            <if test="path != null">path = #{path},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="enableAddSubagent != null">enable_add_subagent = #{enableAddSubagent},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="enableUpdateSubagentPassword != null and enableUpdateSubagentPassword != ''">enable_update_subagent_password = #{enableUpdateSubagentPassword},</if>
            <if test="enableUpdateSubagentStatus != null and enableUpdateSubagentStatus != ''">enable_update_subagent_status = #{enableUpdateSubagentStatus},</if>
            <if test="enableUnbindAppUser != null and enableUnbindAppUser != ''">enable_unbind_app_user = #{enableUnbindAppUser},</if>
            <if test="enableUpdateAppUserStatus0 != null and enableUpdateAppUserStatus0 != ''">enable_update_app_user_status_0 = #{enableUpdateAppUserStatus0},</if>
            <if test="enableUpdateAppUserStatus1 != null and enableUpdateAppUserStatus1 != ''">enable_update_app_user_status_1 = #{enableUpdateAppUserStatus1},</if>
            <if test="enableUpdateAppUserTime != null and enableUpdateAppUserTime != ''">enable_update_app_user_time = #{enableUpdateAppUserTime},</if>
            <if test="enableUpdateAppUserPoint != null and enableUpdateAppUserPoint != ''">enable_update_app_user_point = #{enableUpdateAppUserPoint},</if>
            <if test="enableUpdateAppUserLoginLimitU != null and enableUpdateAppUserLoginLimitU != ''">enable_update_app_user_login_limit_u = #{enableUpdateAppUserLoginLimitU},</if>
            <if test="enableUpdateAppUserLoginLimitM != null and enableUpdateAppUserLoginLimitM != ''">enable_update_app_user_login_limit_m = #{enableUpdateAppUserLoginLimitM},</if>
            <if test="enableUpdateAppUserCustomParams != null and enableUpdateAppUserCustomParams != ''">enable_update_app_user_custom_params = #{enableUpdateAppUserCustomParams},</if>
            <if test="enableUpdateAppUserRemark != null and enableUpdateAppUserRemark != ''">enable_update_app_user_remark = #{enableUpdateAppUserRemark},</if>
            <if test="enableViewUserContact != null and enableViewUserContact != ''">enable_view_user_contact = #{enableViewUserContact},</if>
            <if test="enableUpdateUserContact != null and enableUpdateUserContact != ''">enable_update_user_contact = #{enableUpdateUserContact},</if>
            <if test="enableUpdateUserPassword != null and enableUpdateUserPassword != ''">enable_update_user_password = #{enableUpdateUserPassword},</if>
            <if test="enableUpdateUserRemark != null and enableUpdateUserRemark != ''">enable_update_user_remark = #{enableUpdateUserRemark},</if>
            <if test="enableUpdateCardTime != null and enableUpdateCardTime != ''">enable_update_card_time = #{enableUpdateCardTime},</if>
            <if test="enableUpdateCardPoint != null and enableUpdateCardPoint != ''">enable_update_card_point = #{enableUpdateCardPoint},</if>
            <if test="enableUpdateCardLoginLimitU != null and enableUpdateCardLoginLimitU != ''">enable_update_card_login_limit_u = #{enableUpdateCardLoginLimitU},</if>
            <if test="enableUpdateCardLoginLimitM != null and enableUpdateCardLoginLimitM != ''">enable_update_card_login_limit_m = #{enableUpdateCardLoginLimitM},</if>
            <if test="enableUpdateCardCustomParams != null and enableUpdateCardCustomParams != ''">enable_update_card_custom_params = #{enableUpdateCardCustomParams},</if>
            <if test="enableUpdateCardRemark != null and enableUpdateCardRemark != ''">enable_update_card_remark = #{enableUpdateCardRemark},</if>
            <if test="enableUpdateCardStatus0 != null and enableUpdateCardStatus0 != ''">enable_update_card_status_0 = #{enableUpdateCardStatus0},</if>
            <if test="enableUpdateCardStatus1 != null and enableUpdateCardStatus1 != ''">enable_update_card_status_1 = #{enableUpdateCardStatus1},</if>
            <if test="enableBatchCardReplace != null and enableBatchCardReplace != ''">enable_batch_card_replace = #{enableBatchCardReplace},</if>
            <if test="enableAddCard != null and enableAddCard != ''">enable_add_card = #{enableAddCard},</if>
            <if test="enableDeleteSubagent != null and enableDeleteSubagent != ''">enable_delete_subagent = #{enableDeleteSubagent},</if>
            <if test="enableDeleteAppUser != null and enableDeleteAppUser != ''">enable_delete_app_user = #{enableDeleteAppUser},</if>
            <if test="enableDeleteCard != null and enableDeleteCard != ''">enable_delete_card = #{enableDeleteCard},</if>
        </trim>
        where agent_id = #{agentId}
    </update>

    <!--    <delete id="deleteSysAgentByAgentId" parameterType="Long">
            delete
            from sys_agent
            where agent_id = #{agentId}
        </delete>

        <delete id="deleteSysAgentByAgentIds" parameterType="String">
            delete from sys_agent where agent_id in
            <foreach item="agentId" collection="array" open="(" separator="," close=")">
                #{agentId}
            </foreach>
        </delete>-->

    <delete id="deleteSysAgentByAgentId" parameterType="Long">
        update sys_agent
        set del_flag = '2'
        where agent_id = #{agentId}
    </delete>

    <delete id="deleteSysAgentByAgentIds" parameterType="Long">
        update sys_agent set del_flag = '2' where agent_id in
        <foreach collection="array" item="agentId" open="(" separator="," close=")">
            #{agentId}
        </foreach>
    </delete>

</mapper>