<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rs.jcloud.mybatis.dao.TIotDragonBowlLogMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLog">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="bowl_id" jdbcType="INTEGER" property="bowlId" />
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
        <result column="operate_status" jdbcType="VARCHAR" property="operateStatus" />
        <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                    #{listItem}
                                </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        `id`,
        `bowl_id`,
        `operate_time`,
        `operate_status`,
        `operate_type`
    </sql>
    <select id="selectByExample" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLogExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_iot_dragon_bowl_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_iot_dragon_bowl_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_iot_dragon_bowl_log
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLogExample">
        delete from t_iot_dragon_bowl_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLog">
        insert into t_iot_dragon_bowl_log (
               `id`,
               `bowl_id`,
               `operate_time`,
               `operate_status`,
               `operate_type`
        )
        values (
               #{id,jdbcType=VARCHAR},
               #{bowlId,jdbcType=VARCHAR},
               #{operateTime,jdbcType=VARCHAR},
               #{operateStatus,jdbcType=VARCHAR},
               #{operateType,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLog">
        insert into t_iot_dragon_bowl_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="bowlId != null">
                `bowl_id`,
            </if>
            <if test="operateTime != null">
                `operate_time`,
            </if>
            <if test="operateStatus != null">
                `operate_status`,
            </if>
            <if test="operateType != null">
                `operate_type`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="bowlId != null">
                #{bowlId,jdbcType=INTEGER},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateStatus != null">
                #{operateStatus,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null">
                #{operateType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_iot_dragon_bowl_log (
               `id`,
               `bowl_id`,
               `operate_time`,
               `operate_status`,
               `operate_type`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
               #{item.id,jdbcType=VARCHAR},
               #{item.bowlId,jdbcType=VARCHAR},
               #{item.operateTime,jdbcType=VARCHAR},
               #{item.operateStatus,jdbcType=VARCHAR},
               #{item.operateType,jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <select id="countByExample" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLogExample" resultType="java.lang.Integer">
        select count(*) from t_iot_dragon_bowl_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_iot_dragon_bowl_log
        <set>
        <if test="record.id != null">
            `id` = #{record.id,jdbcType=INTEGER},
        </if>
        <if test="record.bowlId != null">
            `bowl_id` = #{record.bowlId,jdbcType=INTEGER},
        </if>
        <if test="record.operateTime != null">
            `operate_time` = #{record.operateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.operateStatus != null">
            `operate_status` = #{record.operateStatus,jdbcType=VARCHAR},
        </if>
        <if test="record.operateType != null">
            `operate_type` = #{record.operateType,jdbcType=INTEGER},
        </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_iot_dragon_bowl_log
           set
               `id` = #{record.id,jdbcType=INTEGER},
               `bowl_id` = #{record.bowlId,jdbcType=INTEGER},
               `operate_time` = #{record.operateTime,jdbcType=TIMESTAMP},
               `operate_status` = #{record.operateStatus,jdbcType=VARCHAR},
               `operate_type` = #{record.operateType,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLog">
        update t_iot_dragon_bowl_log
        <set>
        <if test="id != null">
            `id` = #{id,jdbcType=INTEGER},
        </if>
        <if test="bowlId != null">
            `bowl_id` = #{bowlId,jdbcType=INTEGER},
        </if>
        <if test="operateTime != null">
            `operate_time` = #{operateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="operateStatus != null">
            `operate_status` = #{operateStatus,jdbcType=VARCHAR},
        </if>
        <if test="operateType != null">
            `operate_type` = #{operateType,jdbcType=INTEGER},
        </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.rs.jcloud.mybatis.domain.TIotDragonBowlLog">
        update t_iot_dragon_bowl_log
           set
               `id` = #{id,jdbcType=INTEGER},
               `bowl_id` = #{bowlId,jdbcType=INTEGER},
               `operate_time` = #{operateTime,jdbcType=TIMESTAMP},
               `operate_status` = #{operateStatus,jdbcType=VARCHAR},
               `operate_type` = #{operateType,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>