<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bookSys.mapper.VisitRecordsMapper">
    
    <resultMap type="VisitRecords" id="VisitRecordsResult">
        <result property="recordId"    column="record_id"    />
        <result property="visitorId"    column="visitor_id"    />
        <result property="residentId"    column="resident_id"    />
        <result property="visitPurpose"    column="visit_purpose"    />
        <result property="expectedArrival"    column="expected_arrival"    />
        <result property="actualArrival"    column="actual_arrival"    />
        <result property="actualLeave"    column="actual_leave"    />
        <result property="status"    column="status"    />
        <result property="approvalStatus"    column="approval_status"    />
        <result property="approverId"    column="approver_id"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="accessCode"    column="access_code"    />
        <result property="codeExpiry"    column="code_expiry"    />
        <result property="accompanyCount"    column="accompany_count"    />
        <result property="notes"    column="notes"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="VisitRecordsAccessLogsResult" type="VisitRecords" extends="VisitRecordsResult">
        <collection property="accessLogsList" ofType="AccessLogs" column="record_id" select="selectAccessLogsList" />
    </resultMap>

    <resultMap type="AccessLogs" id="AccessLogsResult">
        <result property="logId"    column="log_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="gateId"    column="gate_id"    />
        <result property="gateName"    column="gate_name"    />
        <result property="accessType"    column="access_type"    />
        <result property="accessTime"    column="access_time"    />
        <result property="verifyMethod"    column="verify_method"    />
        <result property="verifyResult"    column="verify_result"    />
        <result property="failReason"    column="fail_reason"    />
        <result property="photoPath"    column="photo_path"    />
        <result property="temperature"    column="temperature"    />
    </resultMap>

    <sql id="selectVisitRecordsVo">
        select record_id, visitor_id, resident_id, visit_purpose, expected_arrival, actual_arrival, actual_leave, status, approval_status, approver_id, reject_reason, access_code, code_expiry, accompany_count, notes, create_time, update_time from visit_records
    </sql>

    <select id="selectVisitRecordsList" parameterType="VisitRecords" resultMap="VisitRecordsResult">
        <include refid="selectVisitRecordsVo"/>
        <where>  
            <if test="visitorId != null "> and visitor_id = #{visitorId}</if>
            <if test="residentId != null "> and resident_id = #{residentId}</if>
            <if test="visitPurpose != null  and visitPurpose != ''"> and visit_purpose = #{visitPurpose}</if>
            <if test="expectedArrival != null "> and expected_arrival = #{expectedArrival}</if>
            <if test="actualArrival != null "> and actual_arrival = #{actualArrival}</if>
            <if test="actualLeave != null "> and actual_leave = #{actualLeave}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="approvalStatus != null "> and approval_status = #{approvalStatus}</if>
            <if test="approverId != null "> and approver_id = #{approverId}</if>
            <if test="rejectReason != null  and rejectReason != ''"> and reject_reason = #{rejectReason}</if>
            <if test="accessCode != null  and accessCode != ''"> and access_code = #{accessCode}</if>
            <if test="codeExpiry != null "> and code_expiry = #{codeExpiry}</if>
            <if test="accompanyCount != null "> and accompany_count = #{accompanyCount}</if>
            <if test="notes != null  and notes != ''"> and notes = #{notes}</if>
        </where>
    </select>
    
    <select id="selectVisitRecordsByRecordId" parameterType="Long" resultMap="VisitRecordsAccessLogsResult">
        select record_id, visitor_id, resident_id, visit_purpose, expected_arrival, actual_arrival, actual_leave, status, approval_status, approver_id, reject_reason, access_code, code_expiry, accompany_count, notes, create_time, update_time
        from visit_records
        where record_id = #{recordId}
    </select>

    <select id="selectAccessLogsList" resultMap="AccessLogsResult">
        select log_id, record_id, gate_id, gate_name, access_type, access_time, verify_method, verify_result, fail_reason, photo_path, temperature
        from access_logs
        where record_id = #{record_id}
    </select>

    <insert id="insertVisitRecords" parameterType="VisitRecords" useGeneratedKeys="true" keyProperty="recordId">
        insert into visit_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="visitorId != null">visitor_id,</if>
            <if test="residentId != null">resident_id,</if>
            <if test="visitPurpose != null and visitPurpose != ''">visit_purpose,</if>
            <if test="expectedArrival != null">expected_arrival,</if>
            <if test="actualArrival != null">actual_arrival,</if>
            <if test="actualLeave != null">actual_leave,</if>
            <if test="status != null">status,</if>
            <if test="approvalStatus != null">approval_status,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="accessCode != null">access_code,</if>
            <if test="codeExpiry != null">code_expiry,</if>
            <if test="accompanyCount != null">accompany_count,</if>
            <if test="notes != null">notes,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="visitorId != null">#{visitorId},</if>
            <if test="residentId != null">#{residentId},</if>
            <if test="visitPurpose != null and visitPurpose != ''">#{visitPurpose},</if>
            <if test="expectedArrival != null">#{expectedArrival},</if>
            <if test="actualArrival != null">#{actualArrival},</if>
            <if test="actualLeave != null">#{actualLeave},</if>
            <if test="status != null">#{status},</if>
            <if test="approvalStatus != null">#{approvalStatus},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="accessCode != null">#{accessCode},</if>
            <if test="codeExpiry != null">#{codeExpiry},</if>
            <if test="accompanyCount != null">#{accompanyCount},</if>
            <if test="notes != null">#{notes},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateVisitRecords" parameterType="VisitRecords">
        update visit_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="visitorId != null">visitor_id = #{visitorId},</if>
            <if test="residentId != null">resident_id = #{residentId},</if>
            <if test="visitPurpose != null and visitPurpose != ''">visit_purpose = #{visitPurpose},</if>
            <if test="expectedArrival != null">expected_arrival = #{expectedArrival},</if>
            <if test="actualArrival != null">actual_arrival = #{actualArrival},</if>
            <if test="actualLeave != null">actual_leave = #{actualLeave},</if>
            <if test="status != null">status = #{status},</if>
            <if test="approvalStatus != null">approval_status = #{approvalStatus},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="accessCode != null">access_code = #{accessCode},</if>
            <if test="codeExpiry != null">code_expiry = #{codeExpiry},</if>
            <if test="accompanyCount != null">accompany_count = #{accompanyCount},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteVisitRecordsByRecordId" parameterType="Long">
        delete from visit_records where record_id = #{recordId}
    </delete>

    <delete id="deleteVisitRecordsByRecordIds" parameterType="String">
        delete from visit_records where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
    
    <delete id="deleteAccessLogsByRecordIds" parameterType="String">
        delete from access_logs where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

    <delete id="deleteAccessLogsByRecordId" parameterType="Long">
        delete from access_logs where record_id = #{recordId}
    </delete>

    <insert id="batchAccessLogs">
        insert into access_logs( log_id, record_id, gate_id, gate_name, access_type, access_time, verify_method, verify_result, fail_reason, photo_path, temperature) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.logId}, #{item.recordId}, #{item.gateId}, #{item.gateName}, #{item.accessType}, #{item.accessTime}, #{item.verifyMethod}, #{item.verifyResult}, #{item.failReason}, #{item.photoPath}, #{item.temperature})
        </foreach>
    </insert>
</mapper>