<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easycode.cloud.mapper.InspectAttachsMapper">

    <resultMap type="InspectAttachs" id="InspectAttachsResult">
        <result property="id"    column="id"    />
        <result property="inspectOrderId"    column="inspect_order_id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectInspectAttachsVo">
        select id, inspect_order_id, name, url, status, tenant_id, create_by, create_time, update_by, update_time from wms_inspect_attachs
    </sql>

    <select id="selectInspectAttachsList" parameterType="InspectAttachs" resultMap="InspectAttachsResult">
        <include refid="selectInspectAttachsVo"/>
        <where>
            <if test="inspectOrderId != null "> and inspect_order_id = #{inspectOrderId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
        </where>
    </select>

    <select id="selectInspectAttachsById" parameterType="Long" resultMap="InspectAttachsResult">
        <include refid="selectInspectAttachsVo"/>
        where id = #{id}
    </select>

    <insert id="insertInspectAttachs" parameterType="InspectAttachs" useGeneratedKeys="true" keyProperty="id">
        insert into wms_inspect_attachs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspectOrderId != null">inspect_order_id,</if>
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
            <if test="status != null">status,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspectOrderId != null">#{inspectOrderId},</if>
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
            <if test="status != null">#{status},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateInspectAttachs" parameterType="InspectAttachs">
        update wms_inspect_attachs
        <trim prefix="SET" suffixOverrides=",">
            <if test="inspectOrderId != null">inspect_order_id = #{inspectOrderId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
            <if test="status != null">status = #{status},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInspectAttachsById" parameterType="Long">
        delete from wms_inspect_attachs where id = #{id}
    </delete>

    <delete id="deleteInspectAttachsByIds" parameterType="String">
        delete from wms_inspect_attachs where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
