<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easycode.cloud.mapper.WmsPurchaseOrderDetailRawMapper">

    <resultMap type="WmsPurchaseOrderDetailRaw" id="WmsPurchaseOrderDetailRawResult">
        <result property="id"    column="id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="factoryName"    column="factory_name"    />
        <result property="factoryCode"    column="factory_code"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialNo"    column="material_no"    />
        <result property="materialName"    column="material_name"    />
        <result property="oldMaterialNo"    column="old_material_no"    />
        <result property="deliveryDate"    column="delivery_date"    />
        <result property="purchaseOrderId"    column="purchase_order_id"    />
        <result property="purchaseOrderNo"    column="purchase_order_no"    />
        <result property="purchaseLineNo"    column="purchase_line_no"    />
        <result property="purchaseRefundOrderNo"    column="purchase_refund_order_no"    />
        <result property="unit"    column="unit"    />
        <result property="totalPlanQty"    column="total_plan_qty"    />
        <result property="madeQty"    column="made_qty"    />
        <result property="planQty"    column="plan_qty"    />
        <result property="stoLocation"    column="sto_location"    />
        <result property="isExempted"    column="is_exempted"    />
        <result property="isConsigned"    column="is_consigned"    />
        <result property="noDeliveryFlag"    column="no_delivery_flag"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="completeQty"    column="complete_qty"    />
        <result property="loekz"    column="loekz"    />
        <result property="excFinFlag"    column="exc_fin_flag"    />
        <result property="storageType"    column="storage_type"    />
        <result property="refundItem"    column="refund_item"    />
        <result property="processFlag"    column="process_flag"    />
        <result property="itemType"    column="item_type"    />
        <result property="processTime"    column="process_time"    />
        <result property="deliveryLineNo"    column="delivery_line_no"    />
        <result property="materialGroup"    column="material_group"    />
        <result property="materialGroupDesc"    column="material_group_desc"    />
    </resultMap>

    <sql id="selectWmsPurchaseOrderDetailRawVo">
        select id, factory_id, factory_name, factory_code, material_id, material_no, material_name, old_material_no, delivery_date, purchase_order_id, purchase_order_no, purchase_line_no, purchase_refund_order_no, unit, total_plan_qty, made_qty, plan_qty, sto_location, is_exempted, is_consigned, no_delivery_flag, batch_no, tenant_id, create_by, create_time, update_by, update_time,
            complete_qty, loekz, exc_fin_flag, storage_type, refund_item, process_flag, item_type, process_time, delivery_line_no,
           material_group,material_group_desc from wms_purchase_order_detail_raw
    </sql>

    <select id="selectWmsPurchaseOrderDetailRawList" parameterType="WmsPurchaseOrderDetailRaw" resultMap="WmsPurchaseOrderDetailRawResult">
        <include refid="selectWmsPurchaseOrderDetailRawVo"/>
        <where>
            <if test="factoryId != null "> and factory_id = #{factoryId}</if>
            <if test="factoryName != null  and factoryName != ''"> and factory_name like concat('%', #{factoryName}, '%')</if>
            <if test="factoryCode != null  and factoryCode != ''"> and factory_code = #{factoryCode}</if>
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="materialNo != null  and materialNo != ''"> and material_no = #{materialNo}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="oldMaterialNo != null  and oldMaterialNo != ''"> and old_material_no = #{oldMaterialNo}</if>
            <if test="deliveryDate != null "> and delivery_date = #{deliveryDate}</if>
            <if test="purchaseOrderId != null "> and purchase_order_id = #{purchaseOrderId}</if>
            <if test="purchaseOrderNo != null  and purchaseOrderNo != ''"> and purchase_order_no = #{purchaseOrderNo}</if>
            <if test="purchaseLineNo != null "> and purchase_line_no = #{purchaseLineNo}</if>
            <if test="purchaseRefundOrderNo != null  and purchaseRefundOrderNo != ''"> and purchase_refund_order_no = #{purchaseRefundOrderNo}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="totalPlanQty != null "> and total_plan_qty = #{totalPlanQty}</if>
            <if test="madeQty != null "> and made_qty = #{madeQty}</if>
            <if test="planQty != null "> and plan_qty = #{planQty}</if>
            <if test="stoLocation != null  and stoLocation != ''"> and sto_location = #{stoLocation}</if>
            <if test="isExempted != null  and isExempted != ''"> and is_exempted = #{isExempted}</if>
            <if test="isConsigned != null  and isConsigned != ''"> and is_consigned = #{isConsigned}</if>
            <if test="noDeliveryFlag != null  and noDeliveryFlag != ''"> and no_delivery_flag = #{noDeliveryFlag}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
            <if test="processFlag != null "> and process_flag = #{processFlag}</if>
        </where>
    </select>

    <select id="selectWmsPurchaseOrderDetailRawById" parameterType="Long" resultMap="WmsPurchaseOrderDetailRawResult">
        <include refid="selectWmsPurchaseOrderDetailRawVo"/>
        where id = #{id}
    </select>

    <insert id="insertWmsPurchaseOrderDetailRaw" parameterType="WmsPurchaseOrderDetailRaw" useGeneratedKeys="true" keyProperty="id">
        insert into wms_purchase_order_detail_raw
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="factoryId != null">factory_id,</if>
            <if test="factoryName != null">factory_name,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialNo != null">material_no,</if>
            <if test="materialName != null">material_name,</if>
            <if test="oldMaterialNo != null">old_material_no,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="purchaseOrderId != null">purchase_order_id,</if>
            <if test="purchaseOrderNo != null">purchase_order_no,</if>
            <if test="purchaseLineNo != null">purchase_line_no,</if>
            <if test="purchaseRefundOrderNo != null">purchase_refund_order_no,</if>
            <if test="unit != null">unit,</if>
            <if test="totalPlanQty != null">total_plan_qty,</if>
            <if test="madeQty != null">made_qty,</if>
            <if test="planQty != null">plan_qty,</if>
            <if test="stoLocation != null">sto_location,</if>
            <if test="isExempted != null">is_exempted,</if>
            <if test="isConsigned != null">is_consigned,</if>
            <if test="noDeliveryFlag != null">no_delivery_flag,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="completeQty != null">complete_qty,</if>
            <if test="loekz != null">loekz,</if>
            <if test="excFinFlag != null">exc_fin_flag,</if>
            <if test="storageType != null">storage_type,</if>
            <if test="refundItem != null">refund_item,</if>
            <if test="processFlag != null">process_flag,</if>
            <if test="itemType != null">item_type,</if>
            <if test="processTime != null">process_time,</if>
            <if test="deliveryLineNo != null">delivery_line_no,</if>
            <if test="materialGroup != null">material_group,</if>
            <if test="materialGroupDesc != null">material_group_desc,</if>
            <if test="pickStatus != null">pick_status,</if>
            <if test="moveType != null">move_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factoryId != null">#{factoryId},</if>
            <if test="factoryName != null">#{factoryName},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialNo != null">#{materialNo},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="oldMaterialNo != null">#{oldMaterialNo},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="purchaseOrderId != null">#{purchaseOrderId},</if>
            <if test="purchaseOrderNo != null">#{purchaseOrderNo},</if>
            <if test="purchaseLineNo != null">#{purchaseLineNo},</if>
            <if test="purchaseRefundOrderNo != null">#{purchaseRefundOrderNo},</if>
            <if test="unit != null">#{unit},</if>
            <if test="totalPlanQty != null">#{totalPlanQty},</if>
            <if test="madeQty != null">#{madeQty},</if>
            <if test="planQty != null">#{planQty},</if>
            <if test="stoLocation != null">#{stoLocation},</if>
            <if test="isExempted != null">#{isExempted},</if>
            <if test="isConsigned != null">#{isConsigned},</if>
            <if test="noDeliveryFlag != null">#{noDeliveryFlag},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="completeQty != null">#{completeQty},</if>
            <if test="loekz != null">#{loekz},</if>
            <if test="excFinFlag != null">#{excFinFlag},</if>
            <if test="storageType != null">#{storageType},</if>
            <if test="refundItem != null">#{refundItem},</if>
            <if test="processFlag != null">#{processFlag},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="processTime != null">#{processTime},</if>
            <if test="deliveryLineNo != null">#{deliveryLineNo},</if>
            <if test="materialGroup != null">#{materialGroup},</if>
            <if test="materialGroupDesc != null">#{materialGroupDesc},</if>
            <if test="pickStatus != null">#{pickStatus},</if>
            <if test="moveType != null">#{moveType},</if>
        </trim>
    </insert>

    <update id="updateWmsPurchaseOrderDetailRaw" parameterType="WmsPurchaseOrderDetailRaw">
        update wms_purchase_order_detail_raw
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryId != null">factory_id = #{factoryId},</if>
            <if test="factoryName != null">factory_name = #{factoryName},</if>
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="materialNo != null">material_no = #{materialNo},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="oldMaterialNo != null">old_material_no = #{oldMaterialNo},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="purchaseOrderId != null">purchase_order_id = #{purchaseOrderId},</if>
            <if test="purchaseOrderNo != null">purchase_order_no = #{purchaseOrderNo},</if>
            <if test="purchaseLineNo != null">purchase_line_no = #{purchaseLineNo},</if>
            <if test="purchaseRefundOrderNo != null">purchase_refund_order_no = #{purchaseRefundOrderNo},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="totalPlanQty != null">total_plan_qty = #{totalPlanQty},</if>
            <if test="madeQty != null">made_qty = #{madeQty},</if>
            <if test="planQty != null">plan_qty = #{planQty},</if>
            <if test="stoLocation != null">sto_location = #{stoLocation},</if>
            <if test="isExempted != null">is_exempted = #{isExempted},</if>
            <if test="isConsigned != null">is_consigned = #{isConsigned},</if>
            <if test="noDeliveryFlag != null">no_delivery_flag = #{noDeliveryFlag},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="completeQty != null">complete_qty = #{completeQty},</if>
            <if test="loekz != null">loekz = #{loekz},</if>
            <if test="excFinFlag != null">exc_fin_flag = #{excFinFlag},</if>
            <if test="storageType != null">storage_type = #{storageType},</if>
            <if test="refundItem != null">refund_item = #{refundItem},</if>
            <if test="processFlag != null">process_flag = #{processFlag},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="processTime != null">process_time = #{processTime},</if>
            <if test="deliveryLineNo != null">delivery_line_no = #{deliveryLineNo},</if>
            <if test="materialGroup != null">material_group = #{materialGroup},</if>
            <if test="materialGroupDesc != null">material_group_desc = #{materialGroupDesc},</if>
            <if test="pickStatus != null">pick_status = #{pickStatus},</if>
            <if test="moveType != null">move_type = #{moveType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsPurchaseOrderDetailRawById" parameterType="Long">
        delete from wms_purchase_order_detail_raw where id = #{id}
    </delete>

    <delete id="deleteWmsPurchaseOrderDetailRawByIds" parameterType="String">
        delete from wms_purchase_order_detail_raw where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
