# 生产环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 18088
  servlet:
    # 应用的访问路径
    context-path: /

# 日志配置
logging:
  level:
    com.ruoyi: info
    org.springframework: warn
    root: info
  config: classpath:logback-spring.xml

# Spring配置
spring:
  # redis 配置
  redis:
    # 地址
    host: 121.40.218.168
    # 端口，默认为6379
    port: 26739
    # 数据库索引
    database: 0
    # 密码
    password: xTbJPhicHmEiRkt8
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: false
  # 请求前缀
  pathMapping: /prod-api 