<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kekecha.xiantu.mapper.CameraMapper">

    <resultMap type="com.kekecha.xiantu.domain.CameraPlatform" id="CameraResultMap">
        <id property="id"               column="id"    />
        <result property="name"          column="name"    />
        <result property="supplier"        column="supplier"    />
        <result property="appKey"     column="app_key"    />
        <result property="appSecret"          column="app_secret"    />
        <result property="netProtocol"   column="net_protocol"    />
        <result property="platformUrl"   column="platform_url"    />
        <result property="streamProtocol"   column="stream_protocol"    />
        <result property="recordProtocol"   column="record_protocol"    />
        <result property="description"   column="description"    />
        <result property="refSite"   column="ref_site"    />
    </resultMap>

    <select id="selectAll" resultMap="CameraResultMap" parameterType="String">
        SELECT * FROM xiantu_camera
        <trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR">
            <if test="filter != null and filter != ''">
                OR name LIKE CONCAT('%', #{filter}, '%')
                OR description LIKE CONCAT('%', #{filter}, '%')
            </if>
        </trim>
    </select>

    <select id="selectById" resultMap="CameraResultMap" parameterType="int">
        SELECT * FROM xiantu_camera
        WHERE id = #{id}
    </select>

    <select id="getRefSite" parameterType="String">
        SELECT siteId FROM xiantu_site_camera
        WHERE indexCode = #{indexCode}
    </select>

    <insert id="insert" parameterType="com.kekecha.xiantu.domain.CameraPlatform">
        INSERT INTO xiantu_camera
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="supplier != null and supplier != ''">supplier,</if>
            <if test="appKey != null and appKey != ''">app_key,</if>
            <if test="appSecret != null and appSecret != ''">app_secret,</if>
            <if test="netProtocol != 0">net_protocol,</if>
            <if test="platformUrl != null and platformUrl != ''">platform_url,</if>
            <if test="streamProtocol != 0">stream_protocol,</if>
            <if test="recordProtocol != 0">record_protocol,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="refSite != null">ref_site,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="supplier != null and supplier != ''">#{supplier},</if>
            <if test="appKey != null and appKey != ''">#{appKey},</if>
            <if test="appSecret != null and appSecret != ''">#{appSecret},</if>
            <if test="netProtocol != 0">#{netProtocol},</if>
            <if test="platformUrl != null and platformUrl != ''">#{platformUrl},</if>
            <if test="streamProtocol != 0">#{streamProtocol},</if>
            <if test="recordProtocol != 0">#{recordProtocol},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="refSite != null">#{refSite},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.kekecha.xiantu.domain.CameraPlatform">
        UPDATE xiantu_camera
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="supplier != null and supplier != ''">supplier=#{supplier},</if>
            <if test="appKey != null and appKey != ''">app_key=#{appKey},</if>
            <if test="appSecret != null and appSecret != ''">app_secret=#{appSecret},</if>
            <if test="netProtocol != 0">net_protocol=#{netProtocol},</if>
            <if test="platformUrl != null and platformUrl != ''">platform_url=#{platformUrl},</if>
            <if test="streamProtocol != 0">stream_protocol=#{streamProtocol},</if>
            <if test="recordProtocol != 0">record_protocol=#{recordProtocol},</if>
            <if test="description != null and description != ''">description=#{description},</if>
            <if test="refSite != null">ref_site=#{refSite},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM xiantu_camera WHERE id = #{id}
    </delete>
</mapper>