<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kekecha.xiantu.mapper.CarMapper">

    <resultMap type="com.kekecha.xiantu.domain.CarOverview" id="CarOverviewResultMap">
        <result property="name"                 column="name"    />
        <result property="id"                 column="id"    />
        <result property="image"                 column="image_url"  />
    </resultMap>

    <resultMap type="com.kekecha.xiantu.domain.Car" id="CarResultMap" >
        <result property="name"                 column="name"    />
        <result property="id"                   column="id"    />
        <result property="bodyLength"           column="body_length"    />
        <result property="bodyWidth"            column="body_width"    />
        <result property="bodyHeight"           column="body_height"    />
        <result property="grossWeight"          column="gross_weight"    />
        <result property="curbWeight"           column="curb_weight"    />
        <result property="energyType"           column="energy_type"    />
        <result property="ratedLoadCapacity"    column="rated_load_capacity"    />
        <result property="containerLength"      column="container_length"    />
        <result property="containerWidth"       column="container_width"    />
        <result property="containerHeight"      column="container_height"    />
        <result property="imageUrl"             column="image_url"    />
        <result property="videoUrl"             column="video_url"    />
    </resultMap>

    <select id="selectCarOverviewList" resultMap="CarOverviewResultMap">
        SELECT name, id, image_url FROM xiantu_car
    </select>

    <select id="selectCarDetailByID" parameterType="int" resultMap="CarResultMap">
        SELECT * FROM xiantu_car
        WHERE id = #{id}
    </select>

    <insert id="insertCar" parameterType="com.kekecha.xiantu.domain.Car" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO xiantu_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="containerLength != null">container_length,</if>
            <if test="containerWidth != null">container_width,</if>
            <if test="containerHeight != null">container_height,</if>
            <if test="bodyLength != null">body_length,</if>
            <if test="bodyWidth != null">body_width,</if>
            <if test="bodyHeight != null">body_height,</if>
            <if test="curbWeight != null">curb_weight,</if>
            <if test="ratedLoadCapacity != null">rated_load_capacity,</if>
            <if test="grossWeight != null">gross_weight,</if>
            <if test="energyType != null">energy_type,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="videoUrl != null">video_url,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="containerLength != null">#{containerLength},</if>
            <if test="containerWidth != null">#{containerWidth},</if>
            <if test="containerHeight != null">#{containerHeight},</if>
            <if test="bodyLength != null">#{bodyLength},</if>
            <if test="bodyWidth != null">#{bodyWidth},</if>
            <if test="bodyHeight != null">#{bodyHeight},</if>
            <if test="curbWeight != null">#{curbWeight},</if>
            <if test="ratedLoadCapacity != null">#{ratedLoadCapacity},</if>
            <if test="grossWeight != null">#{grossWeight},</if>
            <if test="energyType != null">#{energyType},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
        </trim>
    </insert>

    <update id="updateCar" parameterType="com.kekecha.xiantu.domain.Car">
        UPDATE xiantu_car
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="bodyLength != null">body_length=#{bodyLength},</if>
            <if test="bodyWidth != null">body_width=#{bodyWidth},</if>
            <if test="bodyHeight != null">body_height=#{bodyHeight},</if>
            <if test="grossWeight != null">gross_weight=#{grossWeight},</if>
            <if test="curbWeight != null">curb_weight=#{curbWeight},</if>
            <if test="energyType != null">energy_type=#{energyType},</if>
            <if test="containerLength != null">container_length=#{containerLength},</if>
            <if test="containerWidth != null">container_width=#{containerWidth},</if>
            <if test="ratedLoadCapacity != null">rated_load_capacity=#{ratedLoadCapacity},</if>
            <if test="containerHeight != null">container_height=#{containerHeight},</if>
            <if test="imageUrl != null">image_url=#{imageUrl},</if>
            <if test="videoUrl != null">video_url=#{videoUrl},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteCar" parameterType="int">
        DELETE FROM xiantu_car WHERE id = #{id}
    </delete>
</mapper>