<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.DailySaleCustomerMapper">

    <select id="selectDailySale" resultType="com.ruoyi.xkt.dto.dailySale.DailySaleCusDTO">
        SELECT
            ss.store_id,
            ss.store_cus_id,
            COALESCE ( SUM( CASE WHEN ssd.sale_type = 1 THEN ssd.amount ELSE 0 END ), 0 ) AS saleAmount,
            COALESCE ( SUM( CASE WHEN ssd.sale_type = 2 THEN ssd.amount ELSE 0 END ), 0 ) AS returnAmount,
            COALESCE ( SUM( CASE WHEN ssd.sale_type = 1 THEN ssd.quantity ELSE 0 END ), 0 ) AS saleNum,
            COALESCE ( SUM( CASE WHEN ssd.sale_type = 2 THEN ssd.quantity ELSE 0 END ), 0 ) AS returnNum
        FROM
            store_sale ss
                LEFT JOIN store_sale_detail ssd ON ss.id = ssd.store_sale_id
        WHERE
            ss.del_flag = 0
          AND ss.voucher_date = #{voucherDate}
        GROUP BY
            ss.store_id,
            ss.store_cus_id
    </select>

    <select id="selectTop10SaleCustomerList" resultType="com.ruoyi.xkt.dto.store.StoreIndexCusSaleTop10ResDTO">
        SELECT
            dsc.store_cus_id,
            sc.cus_name AS storeCusName,
            SUM(IFNULL( dsc.sale_amount, 0 )) AS saleAmount,
            SUM(IFNULL( dsc.refund_amount, 0 )) AS refundAmount,
            SUM(IFNULL( dsc.sale_num, 0 )) AS saleNum,
            SUM(IFNULL( dsc.refund_num, 0 )) AS refundNum,
            CASE
                WHEN SUM(IFNULL( dsc.sale_num, 0 )) = 0 THEN
                    0 ELSE ROUND(
                                SUM(IFNULL( dsc.refund_num, 0 )) * 1.0 / SUM(IFNULL( dsc.sale_num, 0 )) * 100, 2)
                END AS refundRate
        FROM
            daily_sale_customer dsc
                JOIN store_customer sc ON dsc.store_cus_id = sc.id
        WHERE
            dsc.store_id = #{storeId}
            AND dsc.del_flag = 0
            AND dsc.voucher_date BETWEEN #{voucherDateStart} AND #{voucherDateEnd}
        GROUP BY
            dsc.store_cus_id,
            sc.cus_name
        ORDER BY
            saleAmount DESC
            LIMIT 10
    </select>

    <select id="getMaxSaleCus" resultType="com.ruoyi.xkt.dto.store.StoreIndexOverviewResDTO">
        SELECT
            SUM( dsc.sale_amount ) AS topSaleCusAmount,
            sc.cus_name AS topSaleCusName
        FROM
            daily_sale_customer dsc
                JOIN store_customer sc ON dsc.store_cus_id = sc.id
        WHERE
            dsc.del_flag = 0
            AND dsc.store_id = #{storeId}
            AND dsc.voucher_date BETWEEN #{voucherDateStart} AND #{voucherDateEnd}
        GROUP BY
            dsc.store_cus_id,
            sc.cus_name
        ORDER BY
            topSaleCusAmount DESC
            LIMIT 1
    </select>

</mapper> 