<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.WeekCateSaleMapper">

    <select id="selectWeekCateSale" resultType="com.ruoyi.xkt.dto.dailySale.WeekCateSaleDTO">
        SELECT
            sp.prod_cate_id,
            COUNT( prod_cate_id ) AS count
        FROM
            store_sale_detail sdd
            JOIN store_product sp ON sdd.store_prod_id = sp.id
        WHERE
            sdd.del_flag = 0
            AND sdd.voucher_date BETWEEN #{pastDate}  AND #{yesterday}
        GROUP BY
            sp.prod_cate_id
        ORDER BY
            COUNT( sp.prod_cate_id ) DESC
    </select>

</mapper> 