<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.AdvertRoundRecordMapper">

    <select id="selectRecordPage" parameterType="com.ruoyi.xkt.dto.advertRoundRecord.AdvertRoundRecordPageDTO"  resultType="com.ruoyi.xkt.dto.advertRoundRecord.AdvertRoundRecordPageResDTO">
        SELECT
            a.platform_id,
            arr.type_id,
            CONCAT('位置', arr.position) AS position,
            arr.start_time,
            arr.end_time,
            arr.pay_price,
            arr.launch_status,
            arr.bidding_status,
            arr.pic_design_type,
            arr.pic_set_type,
            arr.pic_audit_status
        FROM
            advert_round_record arr
            JOIN advert a ON arr.advert_id = a.id
        WHERE
            arr.del_flag = 0
            AND arr.store_id = #{storeId}
            <if test="platformId != null "> and a.platform_id = #{platformId}</if>
            <if test="typeId != null "> and arr.type_id = #{typeId}</if>
            <if test="startTime != null "> and arr.start_time &gt;= #{startTime}</if>
            <if test="endTime != null "> and arr.end_time &lt;= #{endTime}</if>
        ORDER BY
            arr.start_time
    </select>


</mapper>