<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.ExpressFeeConfigMapper">

    <select id="listFeeConfig" resultType="com.ruoyi.xkt.dto.express.ExpressFeeConfigListItemDTO"
            parameterType="com.ruoyi.xkt.dto.express.ExpressFeeConfigQueryDTO">
        SELECT
            efc.*,
            er.region_name,
            e.express_name
        FROM
            express_fee_config efc
            LEFT JOIN express_region er ON efc.region_code = er.region_code
            LEFT JOIN express e ON efc.express_id = e.id
        WHERE
            efc.del_flag = '0'
            <if test="expressId != null">
                AND efc.express_id = #{expressId}
            </if>
            <if test="regionCode != null and regionCode != ''">
                AND efc.region_code = #{regionCode}
            </if>
            <if test="regionName != null and regionName != ''">
                AND er.region_name like concat('%', #{regionName}, '%')
            </if>
    </select>
</mapper>