<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.PictureSearchMapper">
    
    <resultMap type="PictureSearch" id="PictureSearchResult">
        <result property="id"    column="id"    />
        <result property="searchFileId"    column="search_file_id"    />
        <result property="userId"    column="user_id"    />
        <result property="voucherDate"    column="voucher_date"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPictureSearchVo">
        select id, search_file_id, user_id, voucher_date, version, del_flag, create_by, create_time, update_by, update_time from picture_search
    </sql>

    <select id="selectPictureSearchList" parameterType="PictureSearch" resultMap="PictureSearchResult">
        <include refid="selectPictureSearchVo"/>
        <where>  
            <if test="searchFileId != null "> and search_file_id = #{searchFileId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="voucherDate != null "> and voucher_date = #{voucherDate}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectPictureSearchByPicSearchId" parameterType="Long" resultMap="PictureSearchResult">
        <include refid="selectPictureSearchVo"/>
        where id = #{id}
    </select>

    <insert id="insertPictureSearch" parameterType="PictureSearch" useGeneratedKeys="true" keyProperty="picSearchId">
        insert into picture_search
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="searchFileId != null">search_file_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="voucherDate != null">voucher_date,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="searchFileId != null">#{searchFileId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="voucherDate != null">#{voucherDate},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePictureSearch" parameterType="PictureSearch">
        update picture_search
        <trim prefix="SET" suffixOverrides=",">
            <if test="searchFileId != null">search_file_id = #{searchFileId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="voucherDate != null">voucher_date = #{voucherDate},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePictureSearchByPicSearchId" parameterType="Long">
        delete from picture_search where id = #{id}
    </delete>

    <delete id="deletePictureSearchByPicSearchIds" parameterType="String">
        delete from picture_search where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>