<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.PictureSearchResultMapper">
    
    <resultMap type="PictureSearchResult" id="PictureSearchResultResult">
        <result property="id"    column="id"    />
        <result property="picSearchId"    column="pic_search_id"    />
        <result property="fileId"    column="file_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="score"    column="score"    />
        <result property="sortExprValues"    column="sort_expr_values"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPictureSearchResultVo">
        select id, pic_search_id, file_id, category_id, score, sort_expr_values, version, del_flag, create_by, create_time, update_by, update_time from picture_search_result
    </sql>

    <select id="selectPictureSearchResultList" parameterType="PictureSearchResult" resultMap="PictureSearchResultResult">
        <include refid="selectPictureSearchResultVo"/>
        <where>  
            <if test="picSearchId != null "> and pic_search_id = #{picSearchId}</if>
            <if test="fileId != null "> and file_id = #{fileId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="sortExprValues != null  and sortExprValues != ''"> and sort_expr_values = #{sortExprValues}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectPictureSearchResultByPicSearchResId" parameterType="Long" resultMap="PictureSearchResultResult">
        <include refid="selectPictureSearchResultVo"/>
        where id = #{id}
    </select>

    <insert id="insertPictureSearchResult" parameterType="PictureSearchResult" useGeneratedKeys="true" keyProperty="picSearchResId">
        insert into picture_search_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="picSearchId != null">pic_search_id,</if>
            <if test="fileId != null">file_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="score != null">score,</if>
            <if test="sortExprValues != null">sort_expr_values,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="picSearchId != null">#{picSearchId},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="score != null">#{score},</if>
            <if test="sortExprValues != null">#{sortExprValues},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePictureSearchResult" parameterType="PictureSearchResult">
        update picture_search_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="picSearchId != null">pic_search_id = #{picSearchId},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="sortExprValues != null">sort_expr_values = #{sortExprValues},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePictureSearchResultByPicSearchResId" parameterType="Long">
        delete from picture_search_result where id = #{id}
    </delete>

    <delete id="deletePictureSearchResultByPicSearchResIds" parameterType="String">
        delete from picture_search_result where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>