<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductCategoryAttributeMapper">

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_category_attribute SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>

    <select id="selectByStoreProdId" parameterType="Long" resultType="com.ruoyi.xkt.domain.StoreProductCategoryAttribute">
        SELECT
            *
        FROM
            store_product_category_attribute
        WHERE
            del_flag = 0 AND store_prod_id = #{storeProdId}
    </select>




</mapper>