<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreRoleAccountMapper">
    
    <resultMap type="StoreRoleAccount" id="StoreRoleAccountResult">
        <result property="id"    column="id"    />
        <result property="storeRoleId"    column="store_role_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="userId"    column="user_id"    />
        <result property="accStatus"    column="acc_status"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreRoleAccountVo">
        select id, store_role_id, store_id, user_id, acc_status, version, del_flag, create_by, create_time, update_by, update_time from store_role_account
    </sql>

    <select id="selectStoreRoleAccountList" parameterType="StoreRoleAccount" resultMap="StoreRoleAccountResult">
        <include refid="selectStoreRoleAccountVo"/>
        <where>  
            <if test="storeRoleId != null "> and store_role_id = #{storeRoleId}</if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="accStatus != null  and accStatus != ''"> and acc_status = #{accStatus}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreRoleAccountByStoreRoleAccId" parameterType="Long" resultMap="StoreRoleAccountResult">
        <include refid="selectStoreRoleAccountVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoreRoleAccount" parameterType="StoreRoleAccount" useGeneratedKeys="true" keyProperty="storeRoleAccId">
        insert into store_role_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeRoleId != null">store_role_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="accStatus != null">acc_status,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeRoleId != null">#{storeRoleId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="accStatus != null">#{accStatus},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreRoleAccount" parameterType="StoreRoleAccount">
        update store_role_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeRoleId != null">store_role_id = #{storeRoleId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="accStatus != null">acc_status = #{accStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoreRoleAccountByStoreRoleAccId" parameterType="Long">
        delete from store_role_account where id = #{id}
    </delete>

    <delete id="deleteStoreRoleAccountByStoreRoleAccIds" parameterType="String">
        delete from store_role_account where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>