<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreRoleMapper">
    
    <resultMap type="StoreRole" id="StoreRoleResult">
        <result property="id"    column="id"    />
        <result property="storeId"    column="store_id"    />
        <result property="roleStatus"    column="role_status"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreRoleVo">
        select id, store_id, role_status, version, del_flag, create_by, create_time, update_by, update_time from store_role
    </sql>

    <select id="selectStoreRoleList" parameterType="StoreRole" resultMap="StoreRoleResult">
        <include refid="selectStoreRoleVo"/>
        <where>  
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="roleStatus != null  and roleStatus != ''"> and role_status = #{roleStatus}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreRoleByStoreRoleId" parameterType="Long" resultMap="StoreRoleResult">
        <include refid="selectStoreRoleVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoreRole" parameterType="StoreRole" useGeneratedKeys="true" keyProperty="storeRoleId">
        insert into store_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="roleStatus != null">role_status,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="roleStatus != null">#{roleStatus},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreRole" parameterType="StoreRole">
        update store_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="roleStatus != null">role_status = #{roleStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoreRoleByStoreRoleId" parameterType="Long">
        delete from store_role where id = #{id}
    </delete>

    <delete id="deleteStoreRoleByStoreRoleIds" parameterType="String">
        delete from store_role where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>