<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductDemandMapper">
    

    <update id="updateStatusByIds">
        UPDATE
            store_product_demand SET demand_status = 3,  update_time = NOW()
        WHERE
            del_flag = 0
            <if test="demandIdList != null and demandIdList.size > 0">
                AND id IN
                <foreach collection="demandIdList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
    </update>

    <delete id="deleteDemandList" >
        UPDATE store_product_demand SET del_flag = 2 WHERE id in
        <foreach item="id" collection="deleteDemandIdList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



</mapper>