<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductProcessMapper">

    <resultMap type="StoreProductProcess" id="StoreProductProcessResult">
        <result property="id"    column="id"    />
        <result property="storeProdId"    column="store_prod_id"    />
        <result property="shoeType"    column="shoe_type"    />
        <result property="shoeSize"    column="shoe_size"    />
        <result property="mainSkin"    column="main_skin"    />
        <result property="mainSkinUsage"    column="main_skin_usage"    />
        <result property="matchSkin"    column="match_skin"    />
        <result property="matchSkinUsage"    column="match_skin_usage"    />
        <result property="neckline"    column="neckline"    />
        <result property="insole"    column="insole"    />
        <result property="fastener"    column="fastener"    />
        <result property="shoeAccessories"    column="shoe_accessories"    />
        <result property="toeCap"    column="toe_cap"    />
        <result property="edgeBinding"    column="edge_binding"    />
        <result property="midOutsole"    column="mid_outsole"    />
        <result property="platformSole"    column="platform_sole"    />
        <result property="midsoleFactoryCode"    column="midsole_factory_code"    />
        <result property="outsoleFactoryCode"    column="outsole_factory_code"    />
        <result property="heelFactoryCode"    column="heel_factory_code"    />
        <result property="components"    column="components"    />
        <result property="secondSoleMaterial"    column="second_sole_material"    />
        <result property="secondUpperMaterial"    column="second_upper_material"    />
        <result property="customAttr"    column="custom_attr"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreProductProcessVo">
        select id, store_prod_id, partner_name, trademark, shoe_type, shoe_size, main_skin, main_skin_usage, match_skin, match_skin_usage, neckline, insole, fastener, shoe_accessories, toe_cap, edge_binding, mid_outsole, platform_sole, midsole_factory_code, outsole_factory_code, heel_factory_code, components, second_sole_material, second_upper_material, custom_attr, version, del_flag, create_by, create_time, update_by, update_time from store_product_process
    </sql>

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_process SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>

    <select id="selectByStoreProdId" parameterType="Long" resultMap="StoreProductProcessResult">
        <include refid="selectStoreProductProcessVo"/>
        WHERE
            del_flag = 0 AND store_prod_id = #{storeProdId}
    </select>

</mapper>