<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreOrderDetailMapper">

    <select id="listInfoByStoreOrderIds" resultType="com.ruoyi.xkt.dto.order.StoreOrderDetailInfoDTO">
        SELECT
            sod1.*,
            sod2.store_order_id AS refund_order_id,
            sod2.id AS refund_order_detail_id,
            sod2.detail_status AS refund_order_detail_status,
            sod2.goods_quantity AS refund_goods_quantity,
            so2.order_no AS refund_order_no,
            sod3.store_order_id AS origin_order_id,
            sod3.detail_status AS origin_order_detail_status,
            sod3.goods_quantity AS origin_goods_quantity,
            so3.order_no AS origin_order_no
        FROM
            store_order_detail sod1
            LEFT JOIN store_order_detail sod2 ON sod1.id = sod2.origin_order_detail_id
            LEFT JOIN store_order so2 ON sod2.store_order_id = so2.id
            LEFT JOIN store_order_detail sod3 ON sod1.origin_order_detail_id = sod3.id
            LEFT JOIN store_order so3 ON sod3.store_order_id = so3.id
        WHERE
            sod1.del_flag = '0'
            AND sod1.store_order_id IN
            <foreach collection="storeOrderIds" item="storeOrderId" open="(" separator="," close=")">
                #{storeOrderId}
            </foreach>
    </select>
    <select id="listRefundOrderDetailOriginIds" resultType="java.lang.Long">
        SELECT
            sod1.origin_order_detail_id
        FROM
            store_order_detail sod1
            JOIN store_order_detail sod2 ON sod1.origin_order_detail_id = sod2.id
        WHERE
            sod2.store_order_id = #{storeOrderId}
    </select>
</mapper>