<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductColorSizeMapper">

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_color_size SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>

    <select id="selectListByStoreProdId" parameterType="Long" resultType="com.ruoyi.xkt.dto.storeProdColorSize.StoreProdSizeDTO">
        SELECT DISTINCT
            spcs.size,
            spcs.standard
        FROM
            store_product_color_size spcs
        WHERE
            spcs.del_flag = 0
          AND spcs.store_prod_id = #{storeProdId}
        ORDER BY
            spcs.size

    </select>

</mapper>