<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductStorageDetailMapper">

    <select id="selectExportList" resultType="com.ruoyi.xkt.dto.storeProdStorage.StoreStorageDetailDownloadDTO">
        SELECT
            DENSE_RANK() OVER (ORDER BY sps.code, sps.create_time DESC) AS orderNum,
            sps.`code`,
            sf.fac_name,
            sps.create_time,
            sps.quantity,
            sps.produce_amount,
            sps.storage_type,
            spsd.prod_art_num,
            spsd.color_name,
            spsd.size_30 AS size30Quantity,
            spsd.size_31 AS size31Quantity,
            spsd.size_32 AS size32Quantity,
            spsd.size_33 AS size33Quantity,
            spsd.size_34 AS size34Quantity,
            spsd.size_35 AS size35Quantity,
            spsd.size_36 AS size36Quantity,
            spsd.size_37 AS size37Quantity,
            spsd.size_38 AS size38Quantity,
            spsd.size_39 AS size39Quantity,
            spsd.size_40 AS size40Quantity,
            spsd.size_41 AS size41Quantity,
            spsd.size_42 AS size42Quantity,
            spsd.size_43 AS size43Quantity,
            COALESCE(spsd.size_30, 0) + COALESCE(spsd.size_31, 0) +
            COALESCE(spsd.size_32, 0) + COALESCE(spsd.size_33, 0) +
            COALESCE(spsd.size_34, 0) + COALESCE(spsd.size_35, 0) +
            COALESCE(spsd.size_36, 0) + COALESCE(spsd.size_37, 0) +
            COALESCE(spsd.size_38, 0) + COALESCE(spsd.size_39, 0) +
            COALESCE(spsd.size_40, 0) + COALESCE(spsd.size_41, 0) +
            COALESCE(spsd.size_42, 0) + COALESCE(spsd.size_43, 0) AS totalQuantity,
            sps.operator_name
        FROM
            store_product_storage_detail spsd
                JOIN store_product_storage sps ON spsd.store_prod_stor_id = sps.id
                JOIN store_factory sf ON sps.store_factory_id = sf.id
        WHERE
            spsd.del_flag = 0
            AND sps.id IN
            <foreach collection="storeProdStorageIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="prodArtNum != null and prodArtNum != ''">
                AND spsd.prod_art_num LIKE CONCAT('%', #{prodArtNum}, '%')
            </if>
            <if test="facName != null and facName != ''">
                AND sf.fac_name LIKE CONCAT('%', #{facName}, '%')
            </if>
            <if test="storageType != null">
                AND sps.storage_type = #{storageType}
            </if>
        ORDER BY
            spsd.create_time DESC
    </select>

    <select id="selectExportListVoucherDateBetween" resultType="com.ruoyi.xkt.dto.storeProdStorage.StoreStorageDetailDownloadDTO">
        SELECT
            DENSE_RANK() OVER (ORDER BY sps.code, sps.create_time DESC) AS orderNum,
            sps.`code`,
            sf.fac_name,
            sps.create_time,
            sps.quantity,
            sps.produce_amount,
            sps.storage_type,
            spsd.prod_art_num,
            spsd.color_name,
            spsd.size_30 AS size30Quantity,
            spsd.size_31 AS size31Quantity,
            spsd.size_32 AS size32Quantity,
            spsd.size_33 AS size33Quantity,
            spsd.size_34 AS size34Quantity,
            spsd.size_35 AS size35Quantity,
            spsd.size_36 AS size36Quantity,
            spsd.size_37 AS size37Quantity,
            spsd.size_38 AS size38Quantity,
            spsd.size_39 AS size39Quantity,
            spsd.size_40 AS size40Quantity,
            spsd.size_41 AS size41Quantity,
            spsd.size_42 AS size42Quantity,
            spsd.size_43 AS size43Quantity,
            COALESCE(spsd.size_30, 0) + COALESCE(spsd.size_31, 0) +
            COALESCE(spsd.size_32, 0) + COALESCE(spsd.size_33, 0) +
            COALESCE(spsd.size_34, 0) + COALESCE(spsd.size_35, 0) +
            COALESCE(spsd.size_36, 0) + COALESCE(spsd.size_37, 0) +
            COALESCE(spsd.size_38, 0) + COALESCE(spsd.size_39, 0) +
            COALESCE(spsd.size_40, 0) + COALESCE(spsd.size_41, 0) +
            COALESCE(spsd.size_42, 0) + COALESCE(spsd.size_43, 0) AS totalQuantity,
            sps.operator_name
        FROM
            store_product_storage_detail spsd
                JOIN store_product_storage sps ON spsd.store_prod_stor_id = sps.id
                JOIN store_factory sf ON sps.store_factory_id = sf.id
        WHERE
            spsd.del_flag = 0
            AND sps.voucher_date BETWEEN #{voucherDateStart} AND #{voucherDateEnd}
            AND sps.store_prod_id IN
            <foreach collection="storeProdIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="prodArtNum != null and prodArtNum != ''">
                AND spsd.prod_art_num LIKE CONCAT('%', #{prodArtNum}, '%')
            </if>
            <if test="facName != null and facName != ''">
                AND sf.fac_name LIKE CONCAT('%', #{facName}, '%')
            </if>
            <if test="storageType != null">
                AND sps.storage_type = #{storageType}
            </if>
        ORDER BY
            spsd.create_time DESC
    </select>

</mapper>