<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StoreCertificateMapper">
    
    <resultMap type="StoreCertificate" id="StoreCertificateResult">
        <result property="storeCertId"    column="store_cert_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="realName"    column="real_name"    />
        <result property="phone"    column="phone"    />
        <result property="idCard"    column="id_card"    />
        <result property="idCardFrontFileId"    column="id_card_front_file_id"    />
        <result property="idCardBackFileId"    column="id_card_back_file_id"    />
        <result property="licenseFileId"    column="license_file_id"    />
        <result property="socialCreditCode"    column="social_credit_code"    />
        <result property="soleProprietorshipType"    column="sole_proprietorship_type"    />
        <result property="marketEntryType"    column="market_entry_type"    />
        <result property="licenseName"    column="license_name"    />
        <result property="registerOrg"    column="register_org"    />
        <result property="registerStatus"    column="register_status"    />
        <result property="legalName"    column="legal_name"    />
        <result property="realBusinessAddress"    column="real_business_address"    />
        <result property="businessScope"    column="business_scope"    />
        <result property="registerCapital"    column="register_capital"    />
        <result property="establishDate"    column="establish_date"    />
        <result property="businessTermStartDate"    column="business_term_start_date"    />
        <result property="businessTermEndDate"    column="business_term_end_date"    />
        <result property="approvalDate"    column="approval_date"    />
        <result property="certStatus"    column="cert_status"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreCertificateVo">
        select store_cert_id, store_id, real_name, phone, id_card, id_card_front_file_id, id_card_back_file_id, license_file_id, social_credit_code, sole_proprietorship_type, market_entry_type, license_name, register_org, register_status, legal_name, real_business_address, business_scope, register_capital, establish_date, business_term_start_date, business_term_end_date, approval_date, cert_status, version, del_flag, create_by, create_time, update_by, update_time from store_certificate
    </sql>

    <select id="selectStoreCertificateList" parameterType="StoreCertificate" resultMap="StoreCertificateResult">
        <include refid="selectStoreCertificateVo"/>
        <where>  
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="idCardFrontFileId != null "> and id_card_front_file_id = #{idCardFrontFileId}</if>
            <if test="idCardBackFileId != null "> and id_card_back_file_id = #{idCardBackFileId}</if>
            <if test="licenseFileId != null "> and license_file_id = #{licenseFileId}</if>
            <if test="socialCreditCode != null  and socialCreditCode != ''"> and social_credit_code = #{socialCreditCode}</if>
            <if test="soleProprietorshipType != null "> and sole_proprietorship_type = #{soleProprietorshipType}</if>
            <if test="marketEntryType != null "> and market_entry_type = #{marketEntryType}</if>
            <if test="licenseName != null  and licenseName != ''"> and license_name like concat('%', #{licenseName}, '%')</if>
            <if test="registerOrg != null  and registerOrg != ''"> and register_org = #{registerOrg}</if>
            <if test="registerStatus != null "> and register_status = #{registerStatus}</if>
            <if test="legalName != null  and legalName != ''"> and legal_name like concat('%', #{legalName}, '%')</if>
            <if test="realBusinessAddress != null  and realBusinessAddress != ''"> and real_business_address = #{realBusinessAddress}</if>
            <if test="businessScope != null  and businessScope != ''"> and business_scope = #{businessScope}</if>
            <if test="registerCapital != null "> and register_capital = #{registerCapital}</if>
            <if test="establishDate != null "> and establish_date = #{establishDate}</if>
            <if test="businessTermStartDate != null "> and business_term_start_date = #{businessTermStartDate}</if>
            <if test="businessTermEndDate != null "> and business_term_end_date = #{businessTermEndDate}</if>
            <if test="approvalDate != null "> and approval_date = #{approvalDate}</if>
            <if test="certStatus != null "> and cert_status = #{certStatus}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreCertificateByStoreCertId" parameterType="Long" resultMap="StoreCertificateResult">
        <include refid="selectStoreCertificateVo"/>
        where store_cert_id = #{storeCertId}
    </select>

    <insert id="insertStoreCertificate" parameterType="StoreCertificate" useGeneratedKeys="true" keyProperty="storeCertId">
        insert into store_certificate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">store_id,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="idCardFrontFileId != null">id_card_front_file_id,</if>
            <if test="idCardBackFileId != null">id_card_back_file_id,</if>
            <if test="licenseFileId != null">license_file_id,</if>
            <if test="socialCreditCode != null">social_credit_code,</if>
            <if test="soleProprietorshipType != null">sole_proprietorship_type,</if>
            <if test="marketEntryType != null">market_entry_type,</if>
            <if test="licenseName != null">license_name,</if>
            <if test="registerOrg != null">register_org,</if>
            <if test="registerStatus != null">register_status,</if>
            <if test="legalName != null">legal_name,</if>
            <if test="realBusinessAddress != null">real_business_address,</if>
            <if test="businessScope != null">business_scope,</if>
            <if test="registerCapital != null">register_capital,</if>
            <if test="establishDate != null">establish_date,</if>
            <if test="businessTermStartDate != null">business_term_start_date,</if>
            <if test="businessTermEndDate != null">business_term_end_date,</if>
            <if test="approvalDate != null">approval_date,</if>
            <if test="certStatus != null">cert_status,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">#{storeId},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="idCardFrontFileId != null">#{idCardFrontFileId},</if>
            <if test="idCardBackFileId != null">#{idCardBackFileId},</if>
            <if test="licenseFileId != null">#{licenseFileId},</if>
            <if test="socialCreditCode != null">#{socialCreditCode},</if>
            <if test="soleProprietorshipType != null">#{soleProprietorshipType},</if>
            <if test="marketEntryType != null">#{marketEntryType},</if>
            <if test="licenseName != null">#{licenseName},</if>
            <if test="registerOrg != null">#{registerOrg},</if>
            <if test="registerStatus != null">#{registerStatus},</if>
            <if test="legalName != null">#{legalName},</if>
            <if test="realBusinessAddress != null">#{realBusinessAddress},</if>
            <if test="businessScope != null">#{businessScope},</if>
            <if test="registerCapital != null">#{registerCapital},</if>
            <if test="establishDate != null">#{establishDate},</if>
            <if test="businessTermStartDate != null">#{businessTermStartDate},</if>
            <if test="businessTermEndDate != null">#{businessTermEndDate},</if>
            <if test="approvalDate != null">#{approvalDate},</if>
            <if test="certStatus != null">#{certStatus},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreCertificate" parameterType="StoreCertificate">
        update store_certificate
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="idCardFrontFileId != null">id_card_front_file_id = #{idCardFrontFileId},</if>
            <if test="idCardBackFileId != null">id_card_back_file_id = #{idCardBackFileId},</if>
            <if test="licenseFileId != null">license_file_id = #{licenseFileId},</if>
            <if test="socialCreditCode != null">social_credit_code = #{socialCreditCode},</if>
            <if test="soleProprietorshipType != null">sole_proprietorship_type = #{soleProprietorshipType},</if>
            <if test="marketEntryType != null">market_entry_type = #{marketEntryType},</if>
            <if test="licenseName != null">license_name = #{licenseName},</if>
            <if test="registerOrg != null">register_org = #{registerOrg},</if>
            <if test="registerStatus != null">register_status = #{registerStatus},</if>
            <if test="legalName != null">legal_name = #{legalName},</if>
            <if test="realBusinessAddress != null">real_business_address = #{realBusinessAddress},</if>
            <if test="businessScope != null">business_scope = #{businessScope},</if>
            <if test="registerCapital != null">register_capital = #{registerCapital},</if>
            <if test="establishDate != null">establish_date = #{establishDate},</if>
            <if test="businessTermStartDate != null">business_term_start_date = #{businessTermStartDate},</if>
            <if test="businessTermEndDate != null">business_term_end_date = #{businessTermEndDate},</if>
            <if test="approvalDate != null">approval_date = #{approvalDate},</if>
            <if test="certStatus != null">cert_status = #{certStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where store_cert_id = #{storeCertId}
    </update>

    <delete id="deleteStoreCertificateByStoreCertId" parameterType="Long">
        delete from store_certificate where store_cert_id = #{storeCertId}
    </delete>

    <delete id="deleteStoreCertificateByStoreCertIds" parameterType="String">
        delete from store_certificate where store_cert_id in 
        <foreach item="storeCertId" collection="array" open="(" separator="," close=")">
            #{storeCertId}
        </foreach>
    </delete>
</mapper>