<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductColorMapper">

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_color SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>


    <select id="selectListByStoreProdId" parameterType="Long" resultType="com.ruoyi.xkt.dto.storeProdColor.StoreProdColorDTO">
        SELECT
            id AS storeProdColorId,
            store_color_id AS storeColorId,
            color_name AS colorName,
            order_num AS orderNum
        FROM
            store_product_color
        WHERE
            del_flag = 0 AND store_prod_id = #{storeProdId}
    </select>

    <select id="selectStoreProdColorPage" parameterType="com.ruoyi.xkt.dto.storeProduct.StoreProdPageDTO"
            resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdPageResDTO">
        SELECT DISTINCT
            spc.id AS storeProdColorId,
            spc.store_color_id AS storeColorId,
            spc.store_prod_id AS storeProdId,
            spc.store_id AS storeId,
            sp.prod_art_num AS prodArtNum,
            spc.color_name AS colorName,
            sp.prod_cate_id AS prodCateId,
            pc.`name` AS prodCateName,
            spcp.price,
            sp.prod_status AS prodStatus,
            spc.create_time AS createTime,
            sf.file_url AS mainPicUrl,
            ( SELECT GROUP_CONCAT( size SEPARATOR ',' ) FROM store_product_color_size WHERE  store_color_id = spc.store_color_id
              AND store_prod_id = spc.store_prod_id AND del_flag = 0 AND standard = 1 ) AS standard
        FROM
            store_product_color spc
            JOIN store_product sp ON spc.store_prod_id = sp.id
            JOIN store_product_color_price spcp ON spc.store_color_id = spcp.store_color_id
                AND spc.store_prod_id = spcp.store_prod_id AND spc.store_color_id = spcp.store_color_id AND spcp.del_flag = 0
            JOIN sys_product_category pc ON sp.prod_cate_id = pc.id
            JOIN store_product_file spf ON sp.id = spf.store_prod_id
                AND spf.file_type = 1 AND spf.order_num = 1 AND spf.del_flag = 0
            JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spc.del_flag = 0 AND spc.store_id = #{storeId} AND sp.prod_status = #{prodStatus}
            <if test="prodArtNum != null  and prodArtNum != ''"> and sp.prod_art_num like concat('%', #{prodArtNum}, '%')</if>
            <if test="prodCateId != null "> and sp.prod_cate_id = #{prodCateId}</if>
        ORDER BY
            spc.create_time DESC
    </select>

    <select id="fuzzyQueryColorList"  resultType="com.ruoyi.xkt.dto.storeProdColor.StoreProdColorResDTO">
        SELECT DISTINCT
            spc.id AS storeProdColorId,
            sp.store_id AS storeId,
            spc.store_prod_id AS storeProdId,
            spc.store_color_id AS storeColorId,
            sp.prod_art_num AS prodArtNum,
            spc.color_name AS colorName,
            sp.produce_price AS producePrice,
            spc.order_num AS orderNum
        FROM
            store_product_color spc JOIN store_product sp ON spc.store_prod_id = sp.id
        WHERE
            spc.del_flag = 0
            AND spc.store_id = #{storeId}
            <if test="prodArtNum != null  and prodArtNum != ''"> and sp.prod_art_num like concat('%', #{prodArtNum}, '%')</if>
    </select>


</mapper>