<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreSaleDetailMapper">

    <select id="selectBySn" resultType="com.ruoyi.xkt.dto.storeProdColorSize.StoreSaleSnResDTO">
        SELECT
            ssd.store_prod_id,
            ssd.store_prod_color_id,
            ssd.color_name,
            ssd.size,
            ssd.prod_art_num,
            ssd.price,
            ssd.discounted_price,
            ssd.quantity,
            ssd.amount,
            ssd.other_discount,
            DATE_FORMAT(ssd.create_time, '(%m.%e出)') AS soldTime,
        FROM
            store_sale_detail ssd
        WHERE
            ssd.del_flag = 0
          AND ssd.sn = #{sn}
          AND ssd.store_id = #{storeId}
          AND ssd.store_cus_id = #{storeCusId}
        ORDER BY
            ssd.update_time DESC
            LIMIT 1
    </select>

</mapper>