<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductColorSizeMapper">

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_color_size SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>

    <select id="selectListByStoreProdId" parameterType="Long" resultType="com.ruoyi.xkt.dto.storeProdColorSize.StoreProdSizeDTO">
        SELECT
            spcs.store_color_id,
            sc.color_name,
            spcs.size,
            spcs.standard,
            spcs.price
        FROM
            store_product_color_size spcs
                JOIN store_color sc ON spcs.store_color_id = sc.id
        WHERE
            spcs.del_flag = 0
            AND spcs.store_prod_id = #{storeProdId}
        ORDER BY
            spcs.store_color_id,
            spcs.size
    </select>

    <select id="selectSn" resultType="com.ruoyi.xkt.dto.storeProdColorSize.StoreSaleSnResDTO">
        SELECT
            spcs.store_prod_id,
            spc.id AS storeProdColorId,
            spc.color_name,
            spcs.size,
            spcs.standard,
            sp.prod_art_num,
            spcs.price,
            ( SELECT discount FROM store_customer_product_discount WHERE store_cus_id = #{storeCusId} AND store_prod_color_id = spc.id AND del_flag = 0 ) AS discount
        FROM
            store_product_color_size spcs
                JOIN store_product sp ON spcs.store_prod_id = sp.id
                JOIN store_product_color spc ON spcs.store_color_id = spc.store_color_id AND spcs.store_prod_id = spc.store_prod_id AND spc.del_flag = 0
        WHERE
            spcs.del_flag = 0
            AND spcs.sn_prefix = #{snPrefix}
            AND spcs.store_id = #{storeId}
    </select>

    <select id="selectOtherSn" resultType="com.ruoyi.xkt.dto.storeProdColorSize.StoreSaleSnResDTO">
        SELECT
            spcs.store_prod_id,
            spc.id AS storeProdColorId,
            spc.color_name,
            spcs.size,
            spcs.standard,
            sp.prod_art_num,
            spcs.price,
            ( SELECT discount FROM store_customer_product_discount WHERE store_cus_id = #{storeCusId} AND store_prod_color_id = spc.id AND del_flag = 0 ) AS discount
        FROM
            store_product_color_size spcs
                JOIN store_product sp ON spcs.store_prod_id = sp.id
                JOIN store_product_color spc ON spcs.store_color_id = spc.store_color_id AND spcs.store_prod_id = spc.store_prod_id AND spc.del_flag = 0
        WHERE
            spcs.del_flag = 0
          AND spcs.other_sn_prefix = #{snPrefix}
          AND spcs.store_id = #{storeId}
    </select>

    <select id="selectStorageBuJuSnList">
        SELECT
            spcs.store_prod_id,
            spc.id AS storeProdColorId,
            spcs.store_color_id,
            sp.produce_price,
            spc.color_name,
            spcs.size,
            sp.prod_art_num,
            spcs.sn_prefix AS prefixPart
        FROM
            store_product_color_size spcs
                JOIN store_product sp ON spcs.store_prod_id = sp.id
                JOIN store_product_color spc ON spcs.store_color_id = spc.store_color_id AND spcs.store_prod_id = spc.store_prod_id AND spc.del_flag = 0
        WHERE
            spcs.del_flag = 0
            AND spcs.store_id = #{storeId}
            <if test="buJuPrefixSnList != null and buJuPrefixSnList.size() > 0">
                AND spcs.sn_prefix IN
                <foreach item="item" index="index" collection="buJuPrefixSnList" separator="," open="(" close=")" >
                    #{item}
                </foreach>
            </if>
    </select>

    <select id="selectStorageOtherSnList">
        SELECT
            spcs.store_prod_id,
            spc.id AS storeProdColorId,
            spcs.store_color_id,
            sp.produce_price,
            spc.color_name,
            spcs.size,
            sp.prod_art_num,
            spcs.other_sn_prefix AS prefixPart
        FROM
            store_product_color_size spcs
                JOIN store_product sp ON spcs.store_prod_id = sp.id
                JOIN store_product_color spc ON spcs.store_color_id = spc.store_color_id AND spcs.store_prod_id = spc.store_prod_id AND spc.del_flag = 0
        WHERE
            spcs.del_flag = 0
            AND spcs.store_id = #{storeId}
            <if test="otherPrefixSnList != null and otherPrefixSnList.size() > 0">
                AND spcs.other_sn_prefix IN
                <foreach item="item" index="index" collection="otherPrefixSnList" separator="," open="(" close=")" >
                    #{item}
                </foreach>
            </if>
    </select>

    <select id="selectStockBuJuSnList">
        SELECT
            spc.id AS storeProdColorId,
            spc.color_name,
            spcs.size,
            sp.prod_art_num,
            spcs.sn_prefix AS prefixPart
        FROM
            store_product_color_size spcs
                JOIN store_product sp ON spcs.store_prod_id = sp.id
                JOIN store_product_color spc ON spcs.store_color_id = spc.store_color_id AND spcs.store_prod_id = spc.store_prod_id AND spc.del_flag = 0
        WHERE
            spcs.del_flag = 0
            AND spcs.store_id = #{storeId}
            <if test="buJuPrefixSnList != null and buJuPrefixSnList.size() > 0">
                AND spcs.sn_prefix IN
                <foreach item="item" index="index" collection="buJuPrefixSnList" separator="," open="(" close=")" >
                    #{item}
                </foreach>
            </if>
    </select>

    <select id="selectStockOtherSnList">
        SELECT
            spc.id AS storeProdColorId,
            spc.color_name,
            spcs.size,
            sp.prod_art_num,
            spcs.other_sn_prefix AS prefixPart
        FROM
            store_product_color_size spcs
                JOIN store_product sp ON spcs.store_prod_id = sp.id
                JOIN store_product_color spc ON spcs.store_color_id = spc.store_color_id AND spcs.store_prod_id = spc.store_prod_id AND spc.del_flag = 0
        WHERE
            spcs.del_flag = 0
            AND spcs.store_id = #{storeId}
            <if test="otherPrefixSnList != null and otherPrefixSnList.size() > 0">
                AND spcs.other_sn_prefix IN
                <foreach item="item" index="index" collection="otherPrefixSnList" separator="," open="(" close=")" >
                    #{item}
                </foreach>
            </if>
    </select>

    <select id="selectUnsetProdList">
        SELECT DISTINCT
            spcs.store_prod_id,
            spcs.store_color_id
        FROM
            store_product_color_size spcs
                JOIN store_color sc ON spcs.store_color_id = sc.id AND sc.del_flag = 0 AND sc.store_id = #{storeId}
                JOIN store_product sp ON spcs.store_prod_id = sp.id AND sp.del_flag = 0 AND sp.store_id = #{storeId}
        WHERE
            spcs.del_flag = 0
            AND spcs.other_sn_prefix IS NULL;
    </select>

    <select id="selectStoreProdMinPriceList" resultType="com.ruoyi.xkt.dto.storeProdColorPrice.StoreProdMinPriceDTO">
        SELECT
            spcs.store_prod_id,
            MIN( spcs.price ) AS price
        FROM
            store_product_color_size spcs
        WHERE
            spcs.del_flag = 0
            <if test="storeProdIdList != null and storeProdIdList.size() > 0">
                AND spcs.store_prod_id IN
                <foreach item="item" collection="storeProdIdList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        GROUP BY
            spcs.store_prod_id
    </select>

    <select id="selectStockAndCusDiscount" resultType="com.ruoyi.xkt.dto.storeProductStock.StoreProdStockAndDiscountResDTO">
        SELECT
            spc.id AS storeProdColorId,
            spc.store_color_id,
            spc.color_name,
            spc.store_prod_id,
            sp.prod_art_num,
            scpd.discount,
            ( SELECT sc.cus_name FROM store_customer sc WHERE sc.id = #{storeCusId} ) AS storeCusName
        FROM
            store_product_color spc
                JOIN store_product sp ON spc.store_prod_id = sp.id
                LEFT JOIN store_customer_product_discount scpd ON scpd.store_prod_color_id = spc.id  AND scpd.del_flag = 0
        WHERE
            spc.del_flag = 0
            AND spc.id = #{storeProdColorId}
    </select>

</mapper>