<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductStockMapper">

    <select id="selectStockPage" parameterType="com.ruoyi.xkt.dto.storeProductStock.StoreProdStockPageDTO" resultType="com.ruoyi.xkt.dto.storeProductStock.StoreProdStockPageResDTO">
        SELECT
            sps.id AS storeProdStockId, sps.store_prod_id,  sps.prod_art_num, sps.store_color_id, sps.store_prod_color_id, sps.color_name, spc.name AS prodCateName,
            sps.size_30 AS size30, sps.size_31 AS size31, sps.size_32 AS size32, sps.size_33 AS size33, sps.size_34 AS size34, sps.size_35 AS size35, sps.size_36 AS size36, sps.size_37 AS size37,
            sps.size_38 AS size38, sps.size_39 AS size39, sps.size_40 AS size40, sps.size_41 AS size41, sps.size_42 AS size42, sps.size_43 AS size43,
            (IFNULL(sps.size_30, 0) + IFNULL(sps.size_31, 0) + IFNULL(sps.size_32, 0) + IFNULL(sps.size_33, 0) +
            IFNULL(sps.size_34, 0) + IFNULL(sps.size_35, 0) + IFNULL(sps.size_36, 0) + IFNULL(sps.size_37, 0) +
            IFNULL(sps.size_38, 0) + IFNULL(sps.size_39, 0) + IFNULL(sps.size_40, 0) + IFNULL(sps.size_41, 0) +
            IFNULL(sps.size_42, 0) + IFNULL(sps.size_43, 0)) AS totalStock
        FROM
            store_product_stock sps left join store_product sp on sps.store_prod_id = sp.id left join sys_product_category spc on sp.prod_cate_id = spc.id
        WHERE
            sps.del_flag = 0
            AND sps.store_id = #{storeId}
            <if test="prodArtNum != null  and prodArtNum != ''"> and sps.prod_art_num like concat('%', #{prodArtNum}, '%')</if>
        ORDER BY
            sps.store_prod_id,
            sps.store_color_id
    </select>

    <select id="selectTop10List" resultType="com.ruoyi.xkt.dto.dailyStoreTag.DailyStoreTagDTO">
        SELECT
            sps.store_id,
            SUM(
                IFNULL(size_30, 0) +
                IFNULL(size_31, 0) +
                IFNULL(size_32, 0) +
                IFNULL(size_33, 0) +
                IFNULL(size_34, 0) +
                IFNULL(size_35, 0) +
                IFNULL(size_36, 0) +
                IFNULL(size_37, 0) +
                IFNULL(size_38, 0) +
                IFNULL(size_39, 0) +
                IFNULL(size_40, 0) +
                IFNULL(size_41, 0) +
                IFNULL(size_42, 0) +
                IFNULL(size_43, 0)
                ) AS count
        FROM
            store_product_stock sps
        WHERE
            sps.del_flag = 0
            AND sps.create_time &gt;= #{oneMonthAgo}
            AND sps.create_time &lt;= #{yesterday}
        GROUP BY
            sps.store_id
        ORDER BY
            count DESC
            LIMIT 10
    </select>

    <select id="selectExportList" resultType="com.ruoyi.xkt.dto.storeProductStock.StoreProdStockDownloadDTO">
        SELECT
            DENSE_RANK() OVER ( ORDER BY sps.create_time DESC ) AS orderNum,
            sps.prod_art_num,
            sps.color_name,
            sps.size_30 AS size30Quantity,
            sps.size_31 AS size31Quantity,
            sps.size_32 AS size32Quantity,
            sps.size_33 AS size33Quantity,
            sps.size_34 AS size34Quantity,
            sps.size_35 AS size35Quantity,
            sps.size_36 AS size36Quantity,
            sps.size_37 AS size37Quantity,
            sps.size_38 AS size38Quantity,
            sps.size_39 AS size39Quantity,
            sps.size_40 AS size40Quantity,
            sps.size_41 AS size41Quantity,
            sps.size_42 AS size42Quantity,
            sps.size_43 AS size43Quantity,
            COALESCE ( sps.size_30, 0 ) + COALESCE ( sps.size_31, 0 ) + COALESCE ( sps.size_32, 0 ) + COALESCE ( sps.size_33, 0 ) + COALESCE ( sps.size_34, 0 ) +
            COALESCE ( sps.size_35, 0 ) + COALESCE ( sps.size_36, 0 ) + COALESCE ( sps.size_37, 0 ) + COALESCE ( sps.size_38, 0 ) + COALESCE ( sps.size_39, 0 ) +
            COALESCE ( sps.size_40, 0 ) + COALESCE ( sps.size_41, 0 ) + COALESCE ( sps.size_42, 0 ) + COALESCE ( sps.size_43, 0 ) AS totalQuantity
        FROM
            store_product_stock sps
        WHERE
            sps.del_flag = 0
            AND sps.id  IN
            <foreach collection="storeProdStockIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="selectAllStockList" resultType="com.ruoyi.xkt.dto.storeProductStock.StoreProdStockDownloadDTO">
        SELECT
            DENSE_RANK() OVER ( ORDER BY sps.create_time DESC ) AS orderNum,
            sps.prod_art_num,
            sps.color_name,
            sps.size_30 AS size30Quantity,
            sps.size_31 AS size31Quantity,
            sps.size_32 AS size32Quantity,
            sps.size_33 AS size33Quantity,
            sps.size_34 AS size34Quantity,
            sps.size_35 AS size35Quantity,
            sps.size_36 AS size36Quantity,
            sps.size_37 AS size37Quantity,
            sps.size_38 AS size38Quantity,
            sps.size_39 AS size39Quantity,
            sps.size_40 AS size40Quantity,
            sps.size_41 AS size41Quantity,
            sps.size_42 AS size42Quantity,
            sps.size_43 AS size43Quantity,
            COALESCE ( sps.size_30, 0 ) + COALESCE ( sps.size_31, 0 ) + COALESCE ( sps.size_32, 0 ) + COALESCE ( sps.size_33, 0 ) + COALESCE ( sps.size_34, 0 ) +
            COALESCE ( sps.size_35, 0 ) + COALESCE ( sps.size_36, 0 ) + COALESCE ( sps.size_37, 0 ) + COALESCE ( sps.size_38, 0 ) + COALESCE ( sps.size_39, 0 ) +
            COALESCE ( sps.size_40, 0 ) + COALESCE ( sps.size_41, 0 ) + COALESCE ( sps.size_42, 0 ) + COALESCE ( sps.size_43, 0 ) AS totalQuantity
        FROM
            store_product_stock sps
        WHERE
            sps.del_flag = 0
    </select>


</mapper>