<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductProcessMapper">
    
    <resultMap type="StoreProductProcess" id="StoreProductProcessResult">
        <result property="storeProdProcessId"    column="store_prod_process_id"    />
        <result property="storeProdId"    column="store_prod_id"    />
        <result property="shoeType"    column="shoe_type"    />
        <result property="shoeSize"    column="shoe_size"    />
        <result property="mainSkin"    column="main_skin"    />
        <result property="mainSkinUsage"    column="main_skin_usage"    />
        <result property="matchSkin"    column="match_skin"    />
        <result property="matchSkinUsage"    column="match_skin_usage"    />
        <result property="neckline"    column="neckline"    />
        <result property="insole"    column="insole"    />
        <result property="fastener"    column="fastener"    />
        <result property="shoeAccessories"    column="shoe_accessories"    />
        <result property="toeCap"    column="toe_cap"    />
        <result property="edgeBinding"    column="edge_binding"    />
        <result property="mid-outsole"    column="mid-outsole"    />
        <result property="platform-sole"    column="platform-sole"    />
        <result property="midsole-factory-code"    column="midsole-factory-code"    />
        <result property="outsole-factory-code"    column="outsole-factory-code"    />
        <result property="heel-factory-code"    column="heel-factory-code"    />
        <result property="components"    column="components"    />
        <result property="second-sole-material"    column="second-sole-material"    />
        <result property="second-upper-material"    column="second-upper-material"    />
        <result property="customAttr"    column="custom_attr"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreProductProcessVo">
        select store_prod_process_id, store_prod_id, shoe_type, shoe_size, main_skin, main_skin_usage, match_skin, match_skin_usage, neckline, insole, fastener, shoe_accessories, toe_cap, edge_binding, mid-outsole, platform-sole, midsole-factory-code, outsole-factory-code, heel-factory-code, components, second-sole-material, second-upper-material, custom_attr, version, del_flag, create_by, create_time, update_by, update_time from store_product_process
    </sql>

    <select id="selectStoreProductProcessList" parameterType="StoreProductProcess" resultMap="StoreProductProcessResult">
        <include refid="selectStoreProductProcessVo"/>
        <where>  
            <if test="storeProdId != null "> and store_prod_id = #{storeProdId}</if>
            <if test="shoeType != null  and shoeType != ''"> and shoe_type = #{shoeType}</if>
            <if test="shoeSize != null  and shoeSize != ''"> and shoe_size = #{shoeSize}</if>
            <if test="mainSkin != null  and mainSkin != ''"> and main_skin = #{mainSkin}</if>
            <if test="mainSkinUsage != null  and mainSkinUsage != ''"> and main_skin_usage = #{mainSkinUsage}</if>
            <if test="matchSkin != null  and matchSkin != ''"> and match_skin = #{matchSkin}</if>
            <if test="matchSkinUsage != null  and matchSkinUsage != ''"> and match_skin_usage = #{matchSkinUsage}</if>
            <if test="neckline != null  and neckline != ''"> and neckline = #{neckline}</if>
            <if test="insole != null  and insole != ''"> and insole = #{insole}</if>
            <if test="fastener != null  and fastener != ''"> and fastener = #{fastener}</if>
            <if test="shoeAccessories != null  and shoeAccessories != ''"> and shoe_accessories = #{shoeAccessories}</if>
            <if test="toeCap != null  and toeCap != ''"> and toe_cap = #{toeCap}</if>
            <if test="edgeBinding != null  and edgeBinding != ''"> and edge_binding = #{edgeBinding}</if>
            <if test="mid-outsole != null  and mid-outsole != ''"> and mid-outsole = #{mid-outsole}</if>
            <if test="platform-sole != null  and platform-sole != ''"> and platform-sole = #{platform-sole}</if>
            <if test="midsole-factory-code != null  and midsole-factory-code != ''"> and midsole-factory-code = #{midsole-factory-code}</if>
            <if test="outsole-factory-code != null  and outsole-factory-code != ''"> and outsole-factory-code = #{outsole-factory-code}</if>
            <if test="heel-factory-code != null  and heel-factory-code != ''"> and heel-factory-code = #{heel-factory-code}</if>
            <if test="components != null  and components != ''"> and components = #{components}</if>
            <if test="second-sole-material != null  and second-sole-material != ''"> and second-sole-material = #{second-sole-material}</if>
            <if test="second-upper-material != null  and second-upper-material != ''"> and second-upper-material = #{second-upper-material}</if>
            <if test="customAttr != null  and customAttr != ''"> and custom_attr = #{customAttr}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreProductProcessByStoreProdProcessId" parameterType="Long" resultMap="StoreProductProcessResult">
        <include refid="selectStoreProductProcessVo"/>
        where store_prod_process_id = #{storeProdProcessId}
    </select>

    <insert id="insertStoreProductProcess" parameterType="StoreProductProcess" useGeneratedKeys="true" keyProperty="storeProdProcessId">
        insert into store_product_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeProdId != null">store_prod_id,</if>
            <if test="shoeType != null">shoe_type,</if>
            <if test="shoeSize != null">shoe_size,</if>
            <if test="mainSkin != null">main_skin,</if>
            <if test="mainSkinUsage != null">main_skin_usage,</if>
            <if test="matchSkin != null">match_skin,</if>
            <if test="matchSkinUsage != null">match_skin_usage,</if>
            <if test="neckline != null">neckline,</if>
            <if test="insole != null">insole,</if>
            <if test="fastener != null">fastener,</if>
            <if test="shoeAccessories != null">shoe_accessories,</if>
            <if test="toeCap != null">toe_cap,</if>
            <if test="edgeBinding != null">edge_binding,</if>
            <if test="mid-outsole != null">mid-outsole,</if>
            <if test="platform-sole != null">platform-sole,</if>
            <if test="midsole-factory-code != null">midsole-factory-code,</if>
            <if test="outsole-factory-code != null">outsole-factory-code,</if>
            <if test="heel-factory-code != null">heel-factory-code,</if>
            <if test="components != null">components,</if>
            <if test="second-sole-material != null">second-sole-material,</if>
            <if test="second-upper-material != null">second-upper-material,</if>
            <if test="customAttr != null">custom_attr,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeProdId != null">#{storeProdId},</if>
            <if test="shoeType != null">#{shoeType},</if>
            <if test="shoeSize != null">#{shoeSize},</if>
            <if test="mainSkin != null">#{mainSkin},</if>
            <if test="mainSkinUsage != null">#{mainSkinUsage},</if>
            <if test="matchSkin != null">#{matchSkin},</if>
            <if test="matchSkinUsage != null">#{matchSkinUsage},</if>
            <if test="neckline != null">#{neckline},</if>
            <if test="insole != null">#{insole},</if>
            <if test="fastener != null">#{fastener},</if>
            <if test="shoeAccessories != null">#{shoeAccessories},</if>
            <if test="toeCap != null">#{toeCap},</if>
            <if test="edgeBinding != null">#{edgeBinding},</if>
            <if test="mid-outsole != null">#{mid-outsole},</if>
            <if test="platform-sole != null">#{platform-sole},</if>
            <if test="midsole-factory-code != null">#{midsole-factory-code},</if>
            <if test="outsole-factory-code != null">#{outsole-factory-code},</if>
            <if test="heel-factory-code != null">#{heel-factory-code},</if>
            <if test="components != null">#{components},</if>
            <if test="second-sole-material != null">#{second-sole-material},</if>
            <if test="second-upper-material != null">#{second-upper-material},</if>
            <if test="customAttr != null">#{customAttr},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreProductProcess" parameterType="StoreProductProcess">
        update store_product_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeProdId != null">store_prod_id = #{storeProdId},</if>
            <if test="shoeType != null">shoe_type = #{shoeType},</if>
            <if test="shoeSize != null">shoe_size = #{shoeSize},</if>
            <if test="mainSkin != null">main_skin = #{mainSkin},</if>
            <if test="mainSkinUsage != null">main_skin_usage = #{mainSkinUsage},</if>
            <if test="matchSkin != null">match_skin = #{matchSkin},</if>
            <if test="matchSkinUsage != null">match_skin_usage = #{matchSkinUsage},</if>
            <if test="neckline != null">neckline = #{neckline},</if>
            <if test="insole != null">insole = #{insole},</if>
            <if test="fastener != null">fastener = #{fastener},</if>
            <if test="shoeAccessories != null">shoe_accessories = #{shoeAccessories},</if>
            <if test="toeCap != null">toe_cap = #{toeCap},</if>
            <if test="edgeBinding != null">edge_binding = #{edgeBinding},</if>
            <if test="mid-outsole != null">mid-outsole = #{mid-outsole},</if>
            <if test="platform-sole != null">platform-sole = #{platform-sole},</if>
            <if test="midsole-factory-code != null">midsole-factory-code = #{midsole-factory-code},</if>
            <if test="outsole-factory-code != null">outsole-factory-code = #{outsole-factory-code},</if>
            <if test="heel-factory-code != null">heel-factory-code = #{heel-factory-code},</if>
            <if test="components != null">components = #{components},</if>
            <if test="second-sole-material != null">second-sole-material = #{second-sole-material},</if>
            <if test="second-upper-material != null">second-upper-material = #{second-upper-material},</if>
            <if test="customAttr != null">custom_attr = #{customAttr},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where store_prod_process_id = #{storeProdProcessId}
    </update>

    <delete id="deleteStoreProductProcessByStoreProdProcessId" parameterType="Long">
        delete from store_product_process where store_prod_process_id = #{storeProdProcessId}
    </delete>

    <delete id="deleteStoreProductProcessByStoreProdProcessIds" parameterType="String">
        delete from store_product_process where store_prod_process_id in 
        <foreach item="storeProdProcessId" collection="array" open="(" separator="," close=")">
            #{storeProdProcessId}
        </foreach>
    </delete>
</mapper>