<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreCustomerProductDiscountMapper">

    <select id="selectDiscPage" resultType="com.ruoyi.xkt.dto.storeCusProdDiscount.StoreCusProdDiscPageResDTO">
        SELECT
            scpd.id AS storeCusProdDiscId,
            scpd.prod_art_num AS prodArtNum,
            scpd.store_id AS storeId,
            scpd.store_prod_id AS storeProdId,
            scpd.store_cus_id AS storeCusId,
            scpd.store_cus_name AS storeCusName,
            scpd.store_prod_color_id AS storeProdColorId,
            scpd.discount,
            scpd.update_time
        FROM
            store_customer_product_discount scpd
        WHERE
            scpd.del_flag = 0 AND scpd.store_id = #{storeId}
            <if test="cusName != null  and cusName != ''"> AND scpd.store_cus_name like concat('%', #{cusName}, '%')</if>
            <if test="prodArtNum != null  and prodArtNum != ''"> AND scpd.prod_art_num like concat('%', #{prodArtNum}, '%')</if>
        ORDER BY
            scpd.update_time DESC,
            scpd.store_prod_id,
            scpd.store_prod_color_id,
            scpd.store_cus_id
    </select>


    <select id="selectDiscPageRelate" resultType="com.ruoyi.xkt.dto.storeCusProdDiscount.StoreCusProdDiscPageResDTO">
        SELECT
            spc.id AS storeProdColorId,
            spc.color_name,
            MIN(spcs.price) AS price
        FROM
            store_product_color spc JOIN store_product_color_size spcs
                ON spc.store_prod_id = spcs.store_prod_id AND spcs.store_color_id = spcs.store_color_id AND spcs.del_flag = 0
        WHERE
            spc.id IN
            <foreach item="item" collection="storeProdColorIdList" separator="," open="(" close=")">
                #{item}
            </foreach>
        GROUP BY
            spc.id,
            spc.store_prod_id,
            spc.store_color_id
    </select>

    <update id="deleteProdDisc">
        UPDATE store_customer_product_discount
        SET del_flag = 2
        WHERE
            store_prod_id IN
            <foreach item="item" collection="deleteProdIdList" separator="," open="(" close=")">
                #{item}
            </foreach>
    </update>


</mapper>