<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreRoleMenuMapper">
    
    <resultMap type="StoreRoleMenu" id="StoreRoleMenuResult">
        <result property="id"    column="id"    />
        <result property="storeRoleId"    column="store_role_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="menuStatus"    column="menu_status"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreRoleMenuVo">
        select id, store_role_id, store_id, menu_name, menu_status, version, del_flag, create_by, create_time, update_by, update_time from store_role_menu
    </sql>

    <select id="selectStoreRoleMenuList" parameterType="StoreRoleMenu" resultMap="StoreRoleMenuResult">
        <include refid="selectStoreRoleMenuVo"/>
        <where>  
            <if test="storeRoleId != null "> and store_role_id = #{storeRoleId}</if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="menuName != null  and menuName != ''"> and menu_name like concat('%', #{menuName}, '%')</if>
            <if test="menuStatus != null  and menuStatus != ''"> and menu_status = #{menuStatus}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreRoleMenuByStoreRoleMenuId" parameterType="Long" resultMap="StoreRoleMenuResult">
        <include refid="selectStoreRoleMenuVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoreRoleMenu" parameterType="StoreRoleMenu" useGeneratedKeys="true" keyProperty="storeRoleMenuId">
        insert into store_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeRoleId != null">store_role_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="menuName != null">menu_name,</if>
            <if test="menuStatus != null">menu_status,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeRoleId != null">#{storeRoleId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="menuName != null">#{menuName},</if>
            <if test="menuStatus != null">#{menuStatus},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreRoleMenu" parameterType="StoreRoleMenu">
        update store_role_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeRoleId != null">store_role_id = #{storeRoleId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="menuName != null">menu_name = #{menuName},</if>
            <if test="menuStatus != null">menu_status = #{menuStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoreRoleMenuByStoreRoleMenuId" parameterType="Long">
        delete from store_role_menu where id = #{id}
    </delete>

    <delete id="deleteStoreRoleMenuByStoreRoleMenuIds" parameterType="String">
        delete from store_role_menu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>