<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductFileMapper">

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_file SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>

    <select id="selectListByStoreProdId" parameterType="Long" resultType="com.ruoyi.xkt.dto.storeProductFile.StoreProdFileResDTO">
        SELECT
            spf.store_prod_id AS storeProdId,
            spf.file_id AS fileId,
            sf.file_url AS fileUrl,
            spf.file_type AS fileType,
            sf.file_name AS fileName,
            spf.file_size AS fileSize,
            spf.order_num AS orderNum
        FROM
            store_product_file spf JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spf.del_flag = 0 AND spf.file_type IN (1,2,3) AND spf.store_prod_id = #{storeProdId}
    </select>


    <select id="selectMainPicByStoreProdIdList" resultType="com.ruoyi.xkt.dto.storeProductFile.StoreProdMainPicDTO">
        SELECT
            spf.store_prod_id AS storeProdId,
            sf.file_url AS fileUrl
        FROM
            store_product_file spf
                JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spf.del_flag = 0
            <if test="storeProdIdList != null and storeProdIdList.size() > 0">
                AND spf.store_prod_id in
                <foreach item="storeProdId" collection="storeProdIdList" open="(" separator="," close=")">
                    #{storeProdId}
                </foreach>
            </if>
            <if test="fileType != null">
                AND spf.file_type = #{fileType}
            </if>
            <if test="orderNum != null">
                AND spf.order_num = #{orderNum}
            </if>
    </select>

    <select id="selectTotalMainPicList" resultType="com.ruoyi.xkt.dto.storeProductFile.StoreProdFileResDTO">
        SELECT
            spf.store_prod_id AS storeProdId,
            spf.file_id AS fileId,
            sf.file_url AS fileUrl,
            spf.file_type AS fileType,
            spf.file_size AS fileSize,
            sf.file_name AS fileName,
            spf.order_num AS orderNum
        FROM
            store_product_file spf
                JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spf.del_flag = 0
            AND spf.file_type = #{fileType}
            AND spf.store_id = #{storeId}
    </select>

    <select id="selectMainPic" >
        SELECT
            spf.store_prod_id,
            sf.file_url
        FROM
            store_product_file spf
                JOIN store_product sp ON spf.store_prod_id = sp.id
                JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spf.del_flag = 0
            AND spf.file_type = 1
            AND spf.order_num = 1
            AND spf.store_prod_id IN
            <foreach item="id" collection="storeProdIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    <select id="selectLatestFourProdList" resultType="com.ruoyi.xkt.dto.storeProductFile.StoreProdFileLatestFourProdDTO">
        WITH RankedProducts AS (
            SELECT
                spf.store_prod_id,
                spf.store_id,
                sp.prod_art_num,
                sf.file_url AS mainPicUrl,
                ROW_NUMBER() OVER ( PARTITION BY spf.store_id ORDER BY spf.create_time DESC ) AS rank_num
            FROM
                store_product_file spf
                JOIN store_product sp ON spf.store_prod_id = sp.id
                JOIN sys_file sf ON spf.file_id = sf.id
                JOIN store s ON spf.store_id = s.id
            WHERE
                spf.del_flag = 0
                AND spf.file_type = 1
                AND spf.order_num = 1
                <if test="storeIdList != null and storeIdList.size() > 0">
                    AND spf.store_id IN
                    <foreach item="storeId" collection="storeIdList" open="(" separator="," close=")">
                        #{storeId}
                    </foreach>
                </if>
        ) SELECT
                store_prod_id,
                store_id,
                prod_art_num,
                mainPicUrl
            FROM
                RankedProducts
            WHERE
                rank_num &lt;= 4
            ORDER BY
                store_id,
                rank_num
    </select>

    <select id="selectVideoAndMainPicList" resultType="com.ruoyi.xkt.dto.storeProductFile.StoreProdFileResDTO">
        SELECT
            spf.store_prod_id,
            spf.file_id,
            sf.file_url,
            sf.file_name,
            sf.file_size,
            spf.file_type,
            spf.order_num
        FROM
            store_product_file spf
                JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spf.del_flag = 0
          AND spf.store_prod_id = #{storeProdId}
          <if test="fileTypeList != null and fileTypeList.size() > 0">
                AND spf.file_type IN
                <foreach item="fileType" collection="fileTypeList" open="(" separator="," close=")">
                    #{fileType}
                </foreach>
          </if>
    </select>

    <select id="selectRandomStoreFileList" resultType="com.ruoyi.xkt.dto.advertRound.app.strength.APPStrengthStoreFileDTO">
        SELECT
            spf.store_id,
            sf.file_url AS mainPicUrl
        FROM store_product_file spf
            JOIN sys_file sf ON spf.file_id = sf.id
        WHERE spf.del_flag = 0
            AND spf.store_id IN
            <foreach item="id" collection="storeIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND spf.file_type = 1
            AND spf.id = (
                SELECT id
                FROM store_product_file spf2
                WHERE spf2.store_id = spf.store_id
                AND spf2.del_flag = 0
                AND spf2.file_type = 1
                AND spf2.order_num = 1
            ORDER BY
                spf2.create_time DESC
                LIMIT 1
            );
    </select>

    <select id="selectDownloadFileList">
        SELECT
            sf.id AS fileId,
            sf.file_name,
            sf.file_url,
            sf.file_size,
            spf.file_type
        FROM
            store_product_file spf
                JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            spf.del_flag = 0
            AND spf.file_type IN ( 3, 4, 5 )
            AND spf.store_prod_id = #{storeProdId}
        ORDER BY
            spf.file_type
    </select>


</mapper>