<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductColorPriceMapper">
    
    <select id="selectListByStoreProdId" parameterType="Long" resultType="com.ruoyi.xkt.dto.storeProdColorPrice.StoreProdColorPriceSimpleDTO">
        SELECT
            store_color_id AS storeColorId,
            price
        FROM
            store_product_color_price
        WHERE
            del_flag = 0 AND store_prod_id = #{storeProdId}
    </select>

    <select id="selectListByStoreProdIdAndStoreId" resultType="com.ruoyi.xkt.dto.storeProdColorPrice.StoreProdColorPriceResDTO">
        SELECT
            spc.id AS storeProdColorId,
            spc.store_id,
            spc.store_color_id,
            sp.prod_art_num,
            spc.color_name,
            spcp.price,
            sp.over_price,
            spc.order_num
        FROM
            store_product_color spc
                JOIN store_product sp ON spc.store_prod_id = sp.id
                JOIN store_product_color_price spcp ON spc.store_prod_id = spcp.store_prod_id
                AND spc.store_color_id = spcp.store_color_id
        WHERE
            spc.store_prod_id = #{storeProdId}
          AND spc.store_id = #{storeId}
    </select>

    <select id="selectStoreProdMinPriceList" resultType="com.ruoyi.xkt.dto.storeProdColorPrice.StoreProdMinPriceDTO">
        SELECT
            spcp.store_prod_id,
            MIN( spcp.price )
        FROM
            store_product_color_price spcp
        WHERE
            spcp.del_flag = 0
            <if test="storeProdIdList != null and storeProdIdList.size() > 0">
                AND spcp.store_prod_id IN
                <foreach item="item" collection="storeProdIdList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        GROUP BY
            spcp.store_prod_id
    </select>

    <select id="selectPricePage" resultType="com.ruoyi.xkt.dto.storeProdColorPrice.StoreProdColorPriceResDTO">
        SELECT DISTINCT
            spc.id AS storeProdColorId,
            sp.store_id,
            spcp.store_prod_id,
            spcp.store_color_id,
            sp.prod_art_num,
            spc.color_name,
            spcp.price,
            sp.over_price
        FROM
            store_product_color_price spcp
                LEFT JOIN store_product sp ON spcp.store_prod_id = sp.id
                LEFT JOIN store_product_color spc ON spcp.store_prod_id = spc.store_prod_id
                AND spcp.store_color_id = spc.store_color_id
        WHERE
            spcp.del_flag = 0 AND sp.store_id = #{storeId}
            <if test="prodArtNum != null  and prodArtNum != ''">
                AND sp.prod_art_num like concat('%', #{prodArtNum}, '%')
            </if>
            <if test="prodStatusList != null and prodStatusList.size() > 0">
                AND sp.prod_status IN
                <foreach item="item" collection="prodStatusList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        ORDER BY
            spcp.store_prod_id,
            spcp.store_color_id
    </select>

</mapper>