<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreSaleMapper">

    <select id="selectPage" parameterType="com.ruoyi.xkt.dto.storeSale.StoreSalePageDTO" resultType="com.ruoyi.xkt.dto.storeSale.StoreSalePageResDTO">
        SELECT DISTINCT
            ss.id AS storeSaleId,  ss.store_id,  ss.`code`, ss.store_cus_name AS cusName, ss.create_time, ss.sale_type, ss.quantity, ss.amount, ss.payment_status,
            ss.pay_way,  ss.operator_name, ss.remark, ss.sale_quantity, ss.refund_quantity
        FROM
            store_sale ss
            <if test="prodArtNum != null  and prodArtNum != ''"> join store_sale_detail ssd on ss.id = ssd.store_sale_id</if>
        WHERE
            ss.del_flag = 0 AND ss.store_id = #{storeId}
            <if test="prodArtNum != null  and prodArtNum != ''"> and ssd.prod_art_num like concat('%', #{prodArtNum}, '%')</if>
            <if test="cusName != null  and cusName != ''"> and ss.store_cus_name like concat('%', #{cusName}, '%')</if>
            <if test="saleType != null  and saleType != ''"> and ss.sale_type = #{saleType}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and ss.payment_status = #{paymentStatus}</if>
            <if test="payWay != null  and payWay != ''"> and ss.pay_way = #{payWay}</if>
            <if test="createTimeStart != null"> and ss.voucher_date &gt;= #{createTimeStart}</if>
            <if test="createTimeEnd != null"> and ss.voucher_date &lt;= #{createTimeEnd}</if>
        ORDER BY
            ss.create_time DESC
    </select>

    <select id="selectExportList" resultType="com.ruoyi.xkt.dto.storeSale.StoreSaleDownloadDTO">
        SELECT
            ss.`code`,
            sc.cus_name AS storeCusName,
            DATE_FORMAT(ss.create_time, '%Y-%m-%d %H:%i') AS create_time,
            ss.amount,
            CONCAT(IFNULL( ss.sale_quantity, 0 ),'/', CASE WHEN IFNULL( ss.refund_quantity, 0 ) > 0 THEN '-' ELSE '' END, IFNULL( ss.refund_quantity, 0 )) AS quantity,
            ss.payment_status,
            ss.pay_way,
            ss.sale_type,
            ss.operator_name
        FROM
            store_sale ss
                LEFT JOIN store_customer sc ON ss.store_cus_id = sc.id
        WHERE
            ss.del_flag = 0
            AND ss.store_id = #{storeId}
            AND ss.id IN
            <foreach collection="storeSaleIdList" item="storeSaleId" open="(" separator="," close=")">
                #{storeSaleId}
            </foreach>
        ORDER BY
            ss.create_time DESC
    </select>

    <select id="selectExportListVoucherDateBetween" resultType="com.ruoyi.xkt.dto.storeSale.StoreSaleDownloadDTO">
        SELECT
            ss.`code`,
            sc.cus_name AS storeCusName,
            DATE_FORMAT(ss.create_time, '%Y-%m-%d %H:%i') AS create_time,
            ss.amount,
            CONCAT(IFNULL( ss.sale_quantity, 0 ),'/', CASE WHEN IFNULL( ss.refund_quantity, 0 ) > 0 THEN '-' ELSE '' END, IFNULL( ss.refund_quantity, 0 )) AS quantity,
            ss.payment_status,
            ss.pay_way,
            ss.sale_type,
            ss.operator_name
        FROM
            store_sale ss
                LEFT JOIN store_customer sc ON ss.store_cus_id = sc.id
        WHERE
            ss.del_flag = 0
            AND ss.store_id = #{storeId}
            AND ss.voucher_date BETWEEN #{voucherDateStart} AND #{voucherDateEnd}
        ORDER BY
            ss.create_time DESC
    </select>


</mapper>