<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductStorageMapper">
    
    <resultMap type="StoreProductStorage" id="StoreProductStorageResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="storageType"    column="storage_type"    />
        <result property="totalNum"    column="total_num"    />
        <result property="totalProducePrice"    column="total_produce_price"    />
        <result property="storageStatus"    column="storage_status"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreProductStorageVo">
        select id, code, storage_type, total_num, total_produce_price, storage_status, version, del_flag, create_by, create_time, update_by, update_time from store_product_storage
    </sql>

    <select id="selectStoreProductStorageList" parameterType="StoreProductStorage" resultMap="StoreProductStorageResult">
        <include refid="selectStoreProductStorageVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="storageType != null "> and storage_type = #{storageType}</if>
            <if test="totalNum != null "> and total_num = #{totalNum}</if>
            <if test="totalProducePrice != null "> and total_produce_price = #{totalProducePrice}</if>
            <if test="storageStatus != null "> and storage_status = #{storageStatus}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreProductStorageByStoreProdStorId" parameterType="Long" resultMap="StoreProductStorageResult">
        <include refid="selectStoreProductStorageVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoreProductStorage" parameterType="StoreProductStorage" useGeneratedKeys="true" keyProperty="storeProdStorId">
        insert into store_product_storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="storageType != null">storage_type,</if>
            <if test="totalNum != null">total_num,</if>
            <if test="totalProducePrice != null">total_produce_price,</if>
            <if test="storageStatus != null">storage_status,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="storageType != null">#{storageType},</if>
            <if test="totalNum != null">#{totalNum},</if>
            <if test="totalProducePrice != null">#{totalProducePrice},</if>
            <if test="storageStatus != null">#{storageStatus},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreProductStorage" parameterType="StoreProductStorage">
        update store_product_storage
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="storageType != null">storage_type = #{storageType},</if>
            <if test="totalNum != null">total_num = #{totalNum},</if>
            <if test="totalProducePrice != null">total_produce_price = #{totalProducePrice},</if>
            <if test="storageStatus != null">storage_status = #{storageStatus},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoreProductStorageByStoreProdStorId" parameterType="Long">
        delete from store_product_storage where id = #{id}
    </delete>

    <delete id="deleteStoreProductStorageByStoreProdStorIds" parameterType="String">
        delete from store_product_storage where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectStoragePage" parameterType="com.ruoyi.xkt.dto.storeProdStorage.StoreProdStoragePageDTO" resultType="com.ruoyi.xkt.dto.storeProdStorage.StoreProdStoragePageResDTO">
        SELECT
             sps.id AS storeProdStorageId, sps.store_id, sps.`code`, sps.storage_type, sps.produce_amount, sps.quantity, sps.create_time, sps.operator_name
        FROM
            store_product_storage sps
            <if test="prodArtNum != null  and prodArtNum != ''"> join store_product_storage_detail spsd on sps.id = spsd.store_prod_stor_id </if>
        WHERE
            sps.del_flag = 0 AND sps.store_id = #{storeId}
            <if test="prodArtNum != null  and prodArtNum != ''"> and spsd.prod_art_num like concat('%', #{prodArtNum}, '%')</if>
            <if test="storageType != null  and storageType != ''"> and sps.storage_type = #{storageType} </if>
            <if test="createTimeStart != null"> and sps.voucher_date &gt;= #{createTimeStart}</if>
            <if test="createTimeEnd != null"> and sps.voucher_date &lt;= #{createTimeEnd}</if>
        ORDER BY
            sps.create_time DESC
    </select>


</mapper>