<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductMapper">
    
    <select id="fuzzyQueryResPicList" resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdFuzzyResPicDTO">
        SELECT
            sp.id AS storeProdId,
            sp.store_id AS storeId,
            sp.prod_art_num AS prodArtNum,
            sf.file_url AS mainPicUrl
        FROM
            store_product sp
                LEFT JOIN store_product_file spf ON sp.id = spf.store_prod_id
                LEFT JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            sp.del_flag = 0
          AND spf.order_num = 1
          AND spf.file_type = 1
          AND sp.store_id = #{storeId}
          <if test="prodArtNum != null  and prodArtNum != ''">
              AND sp.prod_art_num like concat('%', #{prodArtNum}, '%')
          </if>
    </select>

    <select id="selectStatusCount" resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdStatusCountDTO">
        SELECT
            SUM( CASE WHEN prod_status = 2 THEN 1 ELSE 0 END ) AS onSaleNum,
            SUM( CASE WHEN prod_status = 3 THEN 1 ELSE 0 END ) AS tailGoodsNum,
            SUM( CASE WHEN prod_status = 4 THEN 1 ELSE 0 END ) AS offSaleNum
        FROM
            store_product
        WHERE
            del_flag = 0 AND store_id = #{storeId}
    </select>

    <select id="selectESDTOList" resultType="com.ruoyi.xkt.dto.storeProduct.ProductESDTO">
        SELECT DISTINCT
            sp.id,
            s.store_name AS storeName,
            sf.file_url AS mainPic,
            spca1.dict_value AS season,
            spca2.dict_value AS style,
            spcp.min_price AS prodPrice,
            spc1.`name` AS prodCateName,
            spc2.id AS parCateId,
            spc2.`name` AS parCateName
        FROM
            store_product sp
                LEFT JOIN store s ON sp.store_id = s.id
                LEFT JOIN store_product_file spf ON sp.id = spf.store_prod_id AND spf.del_flag = 0 AND spf.file_type = 1 AND spf.order_num = 1
                LEFT JOIN sys_file sf ON spf.file_id = sf.id
                LEFT JOIN store_product_category_attribute spca1 ON sp.id = spca1.store_prod_id AND spca1.dict_type = 'suitable_season'
                LEFT JOIN sys_product_category spc1 ON sp.prod_cate_id = spc1.id
                LEFT JOIN sys_product_category spc2 ON spc1.parent_id = spc2.id
                LEFT JOIN store_product_category_attribute spca2 ON sp.id = spca2.store_prod_id AND spca2.dict_type = 'style'
                LEFT JOIN ( SELECT store_prod_id, MIN( price ) AS min_price FROM store_product_color_price GROUP BY store_prod_id ) spcp ON sp.id = spcp.store_prod_id
        WHERE
            sp.del_flag = 0 AND  sp.id IN
            <foreach item="id" collection="idList" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>


    <select id="getStyleList" >
        SELECT DISTINCT
            dict_value
        FROM
            store_product_category_attribute
        WHERE
            dict_type = 'style'
          AND del_flag = 0
    </select>


    <select id="selectSkuList"  resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdSkuDTO" >
        SELECT
            spc.id AS storeProdColorId,
            spc.store_prod_id,
            spc.store_color_id,
            spc.color_name,
            spc.order_num,
            spcp.price,
            spcs.size,
            spcs.standard,
            spcs.id AS store_prod_color_size_id
        FROM
            store_product_color spc
            LEFT JOIN store_product_color_price spcp ON spc.store_color_id = spcp.store_color_id AND spc.store_prod_id = spcp.store_prod_id AND spcp.del_flag = 0
            LEFT JOIN store_product_color_size spcs ON spc.store_color_id = spcs.store_color_id AND spc.store_prod_id = spcs.store_prod_id
        WHERE
            spc.del_flag = 0
          AND spcs.standard = 1
          AND spc.store_prod_id = #{storeProdId}
    </select>

    <select id="selectPriceAndMainPicList"  resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdPriceAndMainPicDTO">
        SELECT
            sp.id AS storeProdId,
            sp.prod_art_num AS prodArtNum,
            sf.file_url AS mainPicUrl,
            sp.prod_title,
            MIN( spcp.price ) AS minPrice
        FROM
            store_product sp
            LEFT JOIN store_product_color_price spcp ON sp.id = spcp.store_prod_id
            LEFT JOIN store_product_file spf ON sp.id = spf.store_prod_id AND spf.del_flag = 0 AND spf.file_type = 1 AND spf.order_num = 1
            LEFT JOIN sys_file sf ON spf.file_id = sf.id
        WHERE
            sp.del_flag = 0
            AND sp.id IN
            <foreach item="id" collection="storeProdIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        GROUP BY
            sp.id,
            sf.file_url
    </select>

    <select id="selectPriceAndMainPicAndTagList"  resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdPriceAndMainPicAndTagDTO">
        SELECT
            sp.id AS storeProdId,
            sp.prod_cate_id,
            spc.parent_id AS parCateId,
            sp.prod_art_num AS prodArtNum,
            sf.file_url AS mainPicUrl,
            sp.prod_title,
            MIN( spcp.price ) AS minPrice,
            sp.store_id,
            s.store_name,
            GROUP_CONCAT( DISTINCT dpt.tag ORDER BY dpt.type ASC ) AS tagStr,
            EXISTS( SELECT 1 FROM store_product_file spf2 WHERE spf2.store_prod_id = sp.id AND spf2.del_flag = 0 AND spf2.file_type = 2 LIMIT 1 ) AS hasVideo
        FROM
            store_product sp
            LEFT JOIN store_product_color_price spcp ON sp.id = spcp.store_prod_id
            LEFT JOIN store_product_file spf ON sp.id = spf.store_prod_id AND spf.del_flag = 0 AND spf.file_type = 1 AND spf.order_num = 1
            LEFT JOIN sys_file sf ON spf.file_id = sf.id
            LEFT JOIN store s ON sp.store_id = s.id
            LEFT JOIN daily_prod_tag dpt ON sp.id = dpt.store_prod_id AND dpt.del_flag = 0
            LEFT JOIN sys_product_category spc ON sp.prod_cate_id = spc.id
        WHERE
            sp.del_flag = 0
            AND sp.id IN
            <foreach item="id" collection="storeProdIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        GROUP BY
            sp.id,
            sf.file_url
    </select>

    <select id="getStoreProdViewAttr" resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdViewDTO">
        SELECT
            sp.id AS storeProdId,
            sp.prod_art_num,
            sp.prod_title,
            SUM( sps.img_search_count ) AS img_search_count,
            sf.file_url AS mainPicUrl,
            GROUP_CONCAT( DISTINCT dpt.tag ORDER BY dpt.type ) AS tagStr,
            sp.store_id,
            s.store_name,
            MIN( spcp.price ) AS price
        FROM
            store_product sp
                LEFT JOIN store_product_statistics sps ON sp.id = sps.store_prod_id AND sps.voucher_date  BETWEEN #{voucherDateStart} AND #{voucherDateEnd}
                LEFT JOIN store_product_file spf ON sp.id = spf.store_prod_id AND spf.del_flag = 0 AND spf.file_type = 1 AND spf.order_num = 1
                LEFT JOIN sys_file sf ON spf.file_id = sf.id
                LEFT JOIN store s ON sp.store_id = s.id
                LEFT JOIN store_product_color_price spcp ON sp.id = spcp.store_prod_id AND spcp.del_flag = 0
                LEFT JOIN daily_prod_tag dpt ON sp.id = dpt.store_prod_id AND dpt.del_flag = 0
        WHERE
            sp.del_flag = 0
            AND sp.id IN
            <foreach item="id" collection="storeProdIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        GROUP BY
            sp.id,
            sf.file_url
    </select>


    <select id="getSearchHotViewAttr" resultType="com.ruoyi.xkt.dto.storeProduct.StoreProdViewDTO">
        SELECT
            sp.id AS storeProdId,
            sp.prod_art_num,
            sp.prod_title,
            sf.file_url AS mainPicUrl,
            GROUP_CONCAT( DISTINCT dpt.tag ORDER BY dpt.type ) AS tagStr,
            sp.store_id,
            s.store_name,
            MIN( spcp.price ) AS price
        FROM
            store_product sp
            LEFT JOIN store_product_file spf ON sp.id = spf.store_prod_id AND spf.del_flag = 0 AND spf.file_type = 1 AND spf.order_num = 1
            LEFT JOIN sys_file sf ON spf.file_id = sf.id
            LEFT JOIN store s ON sp.store_id = s.id
            LEFT JOIN store_product_color_price spcp ON sp.id = spcp.store_prod_id AND spcp.del_flag = 0
            LEFT JOIN daily_prod_tag dpt ON sp.id = dpt.store_prod_id AND dpt.del_flag = 0
        WHERE
            sp.del_flag = 0
            AND sp.id IN
            <foreach item="id" collection="storeProdIdList" open="(" separator="," close=")">
                #{id}
            </foreach>
        GROUP BY
            sp.id,
            sf.file_url
    </select>


    <select id="selectTop20List"  resultType="com.ruoyi.xkt.dto.dailyStoreTag.DailyStoreTagDTO">
        SELECT
            sp.store_id,
            SUM( id ) AS count
        FROM
            store_product sp
        WHERE
            sp.del_flag = 0
          AND sp.create_time between #{oneWeekAgo} AND #{yesterday}
        GROUP BY
            sp.store_id
        ORDER BY
            count DESC
            LIMIT 20
    </select>





</mapper>