<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StoreProductColorSizeMapper">
    
    <resultMap type="StoreProductColorSize" id="StoreProductColorSizeResult">
        <result property="storeProdColorSizeId"    column="store_prod_color_size_id"    />
        <result property="storeProdColorId"    column="store_prod_color_id"    />
        <result property="storeProdId"    column="store_prod_id"    />
        <result property="size"    column="size"    />
        <result property="barcodePrefix"    column="barcode_prefix"    />
        <result property="standard"    column="standard"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreProductColorSizeVo">
        select store_prod_color_size_id, store_prod_color_id, store_prod_id, size, barcode_prefix, standard, version, del_flag, create_by, create_time, update_by, update_time from store_product_color_size
    </sql>

    <select id="selectStoreProductColorSizeList" parameterType="StoreProductColorSize" resultMap="StoreProductColorSizeResult">
        <include refid="selectStoreProductColorSizeVo"/>
        <where>  
            <if test="storeProdColorId != null "> and store_prod_color_id = #{storeProdColorId}</if>
            <if test="storeProdId != null "> and store_prod_id = #{storeProdId}</if>
            <if test="size != null "> and size = #{size}</if>
            <if test="barcodePrefix != null  and barcodePrefix != ''"> and barcode_prefix = #{barcodePrefix}</if>
            <if test="standard != null  and standard != ''"> and standard = #{standard}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreProductColorSizeByStoreProdColorSizeId" parameterType="Long" resultMap="StoreProductColorSizeResult">
        <include refid="selectStoreProductColorSizeVo"/>
        where store_prod_color_size_id = #{storeProdColorSizeId}
    </select>

    <insert id="insertStoreProductColorSize" parameterType="StoreProductColorSize" useGeneratedKeys="true" keyProperty="storeProdColorSizeId">
        insert into store_product_color_size
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeProdColorId != null">store_prod_color_id,</if>
            <if test="storeProdId != null">store_prod_id,</if>
            <if test="size != null">size,</if>
            <if test="barcodePrefix != null and barcodePrefix != ''">barcode_prefix,</if>
            <if test="standard != null and standard != ''">standard,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeProdColorId != null">#{storeProdColorId},</if>
            <if test="storeProdId != null">#{storeProdId},</if>
            <if test="size != null">#{size},</if>
            <if test="barcodePrefix != null and barcodePrefix != ''">#{barcodePrefix},</if>
            <if test="standard != null and standard != ''">#{standard},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreProductColorSize" parameterType="StoreProductColorSize">
        update store_product_color_size
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeProdColorId != null">store_prod_color_id = #{storeProdColorId},</if>
            <if test="storeProdId != null">store_prod_id = #{storeProdId},</if>
            <if test="size != null">size = #{size},</if>
            <if test="barcodePrefix != null and barcodePrefix != ''">barcode_prefix = #{barcodePrefix},</if>
            <if test="standard != null and standard != ''">standard = #{standard},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where store_prod_color_size_id = #{storeProdColorSizeId}
    </update>

    <delete id="deleteStoreProductColorSizeByStoreProdColorSizeId" parameterType="Long">
        delete from store_product_color_size where store_prod_color_size_id = #{storeProdColorSizeId}
    </delete>

    <delete id="deleteStoreProductColorSizeByStoreProdColorSizeIds" parameterType="String">
        delete from store_product_color_size where store_prod_color_size_id in 
        <foreach item="storeProdColorSizeId" collection="array" open="(" separator="," close=")">
            #{storeProdColorSizeId}
        </foreach>
    </delete>
</mapper>