<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreProductServiceMapper">
    
    <resultMap type="StoreProductService" id="StoreProductServiceResult">
        <result property="storeProdSvcId"    column="store_prod_svc_id"    />
        <result property="storeProdId"    column="store_prod_id"    />
        <result property="customRefund"    column="custom_refund"    />
        <result property="thirtyDayRefund"    column="thirty_day_refund"    />
        <result property="oneBatchSale"    column="one_batch_sale"    />
        <result property="refundWithinThreeDay"    column="refund_within_three_day"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreProductServiceVo">
        select store_prod_svc_id, store_prod_id, custom_refund, thirty_day_refund, one_batch_sale, refund_within_three_day, version, del_flag, create_by, create_time, update_by, update_time from store_product_service
    </sql>

    <select id="selectStoreProductServiceList" parameterType="StoreProductService" resultMap="StoreProductServiceResult">
        <include refid="selectStoreProductServiceVo"/>
        <where>  
            <if test="storeProdId != null "> and store_prod_id = #{storeProdId}</if>
            <if test="customRefund != null  and customRefund != ''"> and custom_refund = #{customRefund}</if>
            <if test="thirtyDayRefund != null  and thirtyDayRefund != ''"> and thirty_day_refund = #{thirtyDayRefund}</if>
            <if test="oneBatchSale != null  and oneBatchSale != ''"> and one_batch_sale = #{oneBatchSale}</if>
            <if test="refundWithinThreeDay != null  and refundWithinThreeDay != ''"> and refund_within_three_day = #{refundWithinThreeDay}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectStoreProductServiceByStoreProdSvcId" parameterType="Long" resultMap="StoreProductServiceResult">
        <include refid="selectStoreProductServiceVo"/>
        where store_prod_svc_id = #{storeProdSvcId}
    </select>

    <insert id="insertStoreProductService" parameterType="StoreProductService" useGeneratedKeys="true" keyProperty="storeProdSvcId">
        insert into store_product_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeProdId != null">store_prod_id,</if>
            <if test="customRefund != null">custom_refund,</if>
            <if test="thirtyDayRefund != null">thirty_day_refund,</if>
            <if test="oneBatchSale != null">one_batch_sale,</if>
            <if test="refundWithinThreeDay != null">refund_within_three_day,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeProdId != null">#{storeProdId},</if>
            <if test="customRefund != null">#{customRefund},</if>
            <if test="thirtyDayRefund != null">#{thirtyDayRefund},</if>
            <if test="oneBatchSale != null">#{oneBatchSale},</if>
            <if test="refundWithinThreeDay != null">#{refundWithinThreeDay},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreProductService" parameterType="StoreProductService">
        update store_product_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeProdId != null">store_prod_id = #{storeProdId},</if>
            <if test="customRefund != null">custom_refund = #{customRefund},</if>
            <if test="thirtyDayRefund != null">thirty_day_refund = #{thirtyDayRefund},</if>
            <if test="oneBatchSale != null">one_batch_sale = #{oneBatchSale},</if>
            <if test="refundWithinThreeDay != null">refund_within_three_day = #{refundWithinThreeDay},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where store_prod_svc_id = #{storeProdSvcId}
    </update>

    <delete id="deleteStoreProductServiceByStoreProdSvcId" parameterType="Long">
        delete from store_product_service where store_prod_svc_id = #{storeProdSvcId}
    </delete>

    <delete id="deleteStoreProductServiceByStoreProdSvcIds" parameterType="String">
        delete from store_product_service where store_prod_svc_id in 
        <foreach item="storeProdSvcId" collection="array" open="(" separator="," close=")">
            #{storeProdSvcId}
        </foreach>
    </delete>

    <update id="updateDelFlagByStoreProdId" parameterType="Long">
        UPDATE store_product_detail SET del_flag = 2 WHERE store_prod_id = #{storeProdId}
    </update>


    <select id="selectByStoreProdId" parameterType="Long" resultMap="StoreProductServiceResult">
        SELECT
            custom_refund,
            thirty_day_refund,
            one_batch_sale,
            refund_within_three_day
        FROM
            store_product_service
        WHERE
            del_flag = 0 AND store_prod_id = #{storeProdId}
    </select>


</mapper>