<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.StoreHomepageMapper">

    <select id="selectTopLeftList" resultType="com.ruoyi.xkt.dto.storeHomepage.StoreHomeTopBannerResDTO">
        SELECT
            sh.jump_store_id AS storeId,
            sh.store_prod_id,
            sh.display_type,
            sh.order_num,
            CASE WHEN sh.display_type = 2 AND sh.file_id IS NULL THEN
                    (SELECT sf1.file_url FROM store_product_file spf JOIN sys_file sf1 ON spf.file_id = sf1.id AND spf.file_type = 1 AND spf.order_num = 1
                        WHERE spf.del_flag = 0 AND spf.store_prod_id = sh.store_prod_id)
                ELSE sf.file_url
                END AS file_url
        FROM
            store_homepage sh
                LEFT JOIN sys_file sf ON sh.file_id = sf.id
        WHERE
            sh.del_flag = 0
            AND sh.file_type = 1
            AND sh.store_id = #{storeId}
        ORDER BY
            sh.order_num
    </select>

</mapper>