<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.UserAuthenticationMapper">

    <select id="selectUserAuthPage" resultType="com.ruoyi.xkt.dto.userAuthentication.UserAuthPageResDTO">
        SELECT
            ua.id AS userAuthId,
            ua.real_name,
            u.phonenumber,
            ua.id_card,
            ua.auth_status
        FROM
            user_authentication ua
                LEFT JOIN sys_user u ON ua.user_id = u.user_id
        <where>
            <if test="realName != null and realName != ''">
                AND ua.real_name LIKE concat('%', #{realName}, '%')
            </if>
            <if test="authStatus != null and authStatus != ''">
                AND ua.auth_status = #{authStatus}
            </if>
        </where>
    </select>

</mapper>