<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserBillingStatementMapper">
    
    <resultMap type="UserBillingStatement" id="UserBillingStatementResult">
        <result property="userBillStatId"    column="user_bill_stat_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userAccId"    column="user_acc_id"    />
        <result property="code"    column="code"    />
        <result property="transType"    column="trans_type"    />
        <result property="transRemark"    column="trans_remark"    />
        <result property="payWay"    column="pay_way"    />
        <result property="income"    column="income"    />
        <result property="expenses"    column="expenses"    />
        <result property="accBalance"    column="acc_balance"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserBillingStatementVo">
        select user_bill_stat_id, user_id, user_acc_id, code, trans_type, trans_remark, pay_way, income, expenses, acc_balance, version, del_flag, create_by, create_time, update_by, update_time from user_billing_statement
    </sql>

    <select id="selectUserBillingStatementList" parameterType="UserBillingStatement" resultMap="UserBillingStatementResult">
        <include refid="selectUserBillingStatementVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userAccId != null "> and user_acc_id = #{userAccId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="transType != null "> and trans_type = #{transType}</if>
            <if test="transRemark != null  and transRemark != ''"> and trans_remark = #{transRemark}</if>
            <if test="payWay != null "> and pay_way = #{payWay}</if>
            <if test="income != null "> and income = #{income}</if>
            <if test="expenses != null "> and expenses = #{expenses}</if>
            <if test="accBalance != null "> and acc_balance = #{accBalance}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectUserBillingStatementByUserBillStatId" parameterType="Long" resultMap="UserBillingStatementResult">
        <include refid="selectUserBillingStatementVo"/>
        where user_bill_stat_id = #{userBillStatId}
    </select>

    <insert id="insertUserBillingStatement" parameterType="UserBillingStatement" useGeneratedKeys="true" keyProperty="userBillStatId">
        insert into user_billing_statement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userAccId != null">user_acc_id,</if>
            <if test="code != null">code,</if>
            <if test="transType != null">trans_type,</if>
            <if test="transRemark != null">trans_remark,</if>
            <if test="payWay != null">pay_way,</if>
            <if test="income != null">income,</if>
            <if test="expenses != null">expenses,</if>
            <if test="accBalance != null">acc_balance,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userAccId != null">#{userAccId},</if>
            <if test="code != null">#{code},</if>
            <if test="transType != null">#{transType},</if>
            <if test="transRemark != null">#{transRemark},</if>
            <if test="payWay != null">#{payWay},</if>
            <if test="income != null">#{income},</if>
            <if test="expenses != null">#{expenses},</if>
            <if test="accBalance != null">#{accBalance},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserBillingStatement" parameterType="UserBillingStatement">
        update user_billing_statement
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userAccId != null">user_acc_id = #{userAccId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="transType != null">trans_type = #{transType},</if>
            <if test="transRemark != null">trans_remark = #{transRemark},</if>
            <if test="payWay != null">pay_way = #{payWay},</if>
            <if test="income != null">income = #{income},</if>
            <if test="expenses != null">expenses = #{expenses},</if>
            <if test="accBalance != null">acc_balance = #{accBalance},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_bill_stat_id = #{userBillStatId}
    </update>

    <delete id="deleteUserBillingStatementByUserBillStatId" parameterType="Long">
        delete from user_billing_statement where user_bill_stat_id = #{userBillStatId}
    </delete>

    <delete id="deleteUserBillingStatementByUserBillStatIds" parameterType="String">
        delete from user_billing_statement where user_bill_stat_id in 
        <foreach item="userBillStatId" collection="array" open="(" separator="," close=")">
            #{userBillStatId}
        </foreach>
    </delete>
</mapper>