<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xkt.mapper.UserBrowsingHistoryMapper">
    
    <resultMap type="UserBrowsingHistory" id="UserBrowsingHistoryResult">
        <result property="userBrowHisId"    column="user_brow_his_id"    />
        <result property="userId"    column="user_id"    />
        <result property="fileId"    column="file_id"    />
        <result property="storeProdFileId"    column="store_prod_file_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="storeName"    column="store_name"    />
        <result property="prodArtNum"    column="prod_art_num"    />
        <result property="price"    column="price"    />
        <result property="prodTitle"    column="prod_title"    />
        <result property="voucherDate"    column="voucher_date"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserBrowsingHistoryVo">
        select user_brow_his_id, user_id, file_id, store_prod_file_id, store_id, store_name, prod_art_num, price, prod_title, voucher_date, version, del_flag, create_by, create_time, update_by, update_time from user_browsing_history
    </sql>

    <select id="selectUserBrowsingHistoryList" parameterType="UserBrowsingHistory" resultMap="UserBrowsingHistoryResult">
        <include refid="selectUserBrowsingHistoryVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fileId != null "> and file_id = #{fileId}</if>
            <if test="storeProdFileId != null "> and store_prod_file_id = #{storeProdFileId}</if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="storeName != null  and storeName != ''"> and store_name like concat('%', #{storeName}, '%')</if>
            <if test="prodArtNum != null  and prodArtNum != ''"> and prod_art_num = #{prodArtNum}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="prodTitle != null  and prodTitle != ''"> and prod_title = #{prodTitle}</if>
            <if test="voucherDate != null "> and voucher_date = #{voucherDate}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectUserBrowsingHistoryByUserBrowHisId" parameterType="Long" resultMap="UserBrowsingHistoryResult">
        <include refid="selectUserBrowsingHistoryVo"/>
        where user_brow_his_id = #{userBrowHisId}
    </select>

    <insert id="insertUserBrowsingHistory" parameterType="UserBrowsingHistory" useGeneratedKeys="true" keyProperty="userBrowHisId">
        insert into user_browsing_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="fileId != null">file_id,</if>
            <if test="storeProdFileId != null">store_prod_file_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="storeName != null">store_name,</if>
            <if test="prodArtNum != null">prod_art_num,</if>
            <if test="price != null">price,</if>
            <if test="prodTitle != null">prod_title,</if>
            <if test="voucherDate != null">voucher_date,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="storeProdFileId != null">#{storeProdFileId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="storeName != null">#{storeName},</if>
            <if test="prodArtNum != null">#{prodArtNum},</if>
            <if test="price != null">#{price},</if>
            <if test="prodTitle != null">#{prodTitle},</if>
            <if test="voucherDate != null">#{voucherDate},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserBrowsingHistory" parameterType="UserBrowsingHistory">
        update user_browsing_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="storeProdFileId != null">store_prod_file_id = #{storeProdFileId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="storeName != null">store_name = #{storeName},</if>
            <if test="prodArtNum != null">prod_art_num = #{prodArtNum},</if>
            <if test="price != null">price = #{price},</if>
            <if test="prodTitle != null">prod_title = #{prodTitle},</if>
            <if test="voucherDate != null">voucher_date = #{voucherDate},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_brow_his_id = #{userBrowHisId}
    </update>

    <delete id="deleteUserBrowsingHistoryByUserBrowHisId" parameterType="Long">
        delete from user_browsing_history where user_brow_his_id = #{userBrowHisId}
    </delete>

    <delete id="deleteUserBrowsingHistoryByUserBrowHisIds" parameterType="String">
        delete from user_browsing_history where user_brow_his_id in 
        <foreach item="userBrowHisId" collection="array" open="(" separator="," close=")">
            #{userBrowHisId}
        </foreach>
    </delete>
</mapper>