<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserNoticeMapper">
    
    <resultMap type="UserNotice" id="UserNoticeResult">
        <result property="userNoticeId"    column="user_notice_id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="userId"    column="user_id"    />
        <result property="read"    column="read"    />
        <result property="voucherDate"    column="voucher_date"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserNoticeVo">
        select user_notice_id, notice_id, user_id, read, voucher_date, version, del_flag, create_by, create_time, update_by, update_time from user_notice
    </sql>

    <select id="selectUserNoticeList" parameterType="UserNotice" resultMap="UserNoticeResult">
        <include refid="selectUserNoticeVo"/>
        <where>  
            <if test="noticeId != null "> and notice_id = #{noticeId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="read != null  and read != ''"> and read = #{read}</if>
            <if test="voucherDate != null "> and voucher_date = #{voucherDate}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectUserNoticeByUserNoticeId" parameterType="Long" resultMap="UserNoticeResult">
        <include refid="selectUserNoticeVo"/>
        where user_notice_id = #{userNoticeId}
    </select>

    <insert id="insertUserNotice" parameterType="UserNotice" useGeneratedKeys="true" keyProperty="userNoticeId">
        insert into user_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">notice_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="read != null and read != ''">read,</if>
            <if test="voucherDate != null">voucher_date,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">#{noticeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="read != null and read != ''">#{read},</if>
            <if test="voucherDate != null">#{voucherDate},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserNotice" parameterType="UserNotice">
        update user_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="read != null and read != ''">read = #{read},</if>
            <if test="voucherDate != null">voucher_date = #{voucherDate},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_notice_id = #{userNoticeId}
    </update>

    <delete id="deleteUserNoticeByUserNoticeId" parameterType="Long">
        delete from user_notice where user_notice_id = #{userNoticeId}
    </delete>

    <delete id="deleteUserNoticeByUserNoticeIds" parameterType="String">
        delete from user_notice where user_notice_id in 
        <foreach item="userNoticeId" collection="array" open="(" separator="," close=")">
            #{userNoticeId}
        </foreach>
    </delete>
</mapper>